@import url(default.css);
@import url(fonts.css);
@import url(common.css);

section h2, section h3 {
    font-family: 'Eulyoo1945';
    font-weight: 700;
    line-height: 1.3;
}
section .tit h2 {
    font-size: 40px;
    margin: 0 0 15px 0;
}

@media screen and (max-width:768px){
        section .tit h2 {
            font-size: 28px;
            margin: 0 0 11px 0;
        }
}/*@media*/

header {
    position: absolute; /* wrap을 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 999;
    color: #fff;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(237, 237, 237, 0.3);
    transition: 0.5s;
}
header .logo a {
    display: block;
    width: 208px;
    height: 34px;
    background: url(../images/logo.svg) no-repeat center center / contain;
    /* contain은 로고를 짤리지 않게 영역에 맞게 사이즈 조정 */
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /*모바일에서만 보임*/
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    display: block;
    font-family: 'Eulyoo1945';
    font-weight: 700;
    font-size: 22px;
    line-height: 100px; /*글자의 행간은 header의 높이*/
    padding: 0 29px;
}
header .util {
    display: flex;
    gap: 0 2px;
}
header .util .mypage,
header .util .search .search_open {
    width: 52px;
    height: 52px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0755 14.9241C13.053 14.9241 11.3216 14.204 9.88129 12.7637C8.441 11.3234 7.72086 9.59202 7.72086 7.56949C7.72086 5.54697 8.441 3.81556 9.88129 2.37527C11.3216 0.934987 13.053 0.214844 15.0755 0.214844C17.098 0.214844 18.8294 0.934987 20.2697 2.37527C21.71 3.81556 22.4302 5.54697 22.4302 7.56949C22.4302 9.59202 21.71 11.3234 20.2697 12.7637C18.8294 14.204 17.098 14.9241 15.0755 14.9241ZM0.366211 25.9561V24.4852C0.366211 23.4433 0.634349 22.4856 1.17063 21.6123C1.7069 20.7389 2.41938 20.0724 3.30807 19.6127C5.20802 18.6628 7.13862 17.9503 9.09986 17.4753C11.0611 17.0003 13.053 16.7628 15.0755 16.7628C17.098 16.7628 19.0899 17.0003 21.0512 17.4753C23.0124 17.9503 24.943 18.6628 26.843 19.6127C27.7316 20.0724 28.4441 20.7389 28.9804 21.6123C29.5167 22.4856 29.7848 23.4433 29.7848 24.4852V25.9561C29.7848 26.9674 29.4247 27.8331 28.7046 28.5532C27.9845 29.2734 27.1188 29.6334 26.1075 29.6334H4.04354C3.03227 29.6334 2.16657 29.2734 1.44643 28.5532C0.726282 27.8331 0.366211 26.9674 0.366211 25.9561ZM4.04354 25.9561H26.1075V24.4852C26.1075 24.1481 26.0232 23.8417 25.8547 23.5659C25.6861 23.2901 25.464 23.0756 25.1882 22.9223C23.5334 22.0949 21.8632 21.4744 20.1778 21.0607C18.4924 20.647 16.7916 20.4401 15.0755 20.4401C13.3594 20.4401 11.6587 20.647 9.97322 21.0607C8.28778 21.4744 6.61766 22.0949 4.96287 22.9223C4.68707 23.0756 4.4649 23.2901 4.29635 23.5659C4.12781 23.8417 4.04354 24.1481 4.04354 24.4852V25.9561ZM15.0755 11.2468C16.0868 11.2468 16.9525 10.8867 17.6726 10.1666C18.3928 9.44646 18.7528 8.58076 18.7528 7.56949C18.7528 6.55823 18.3928 5.69253 17.6726 4.97238C16.9525 4.25224 16.0868 3.89217 15.0755 3.89217C14.0642 3.89217 13.1985 4.25224 12.4784 4.97238C11.7583 5.69253 11.3982 6.55823 11.3982 7.56949C11.3982 8.58076 11.7583 9.44646 12.4784 10.1666C13.1985 10.8867 14.0642 11.2468 15.0755 11.2468Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3278 24.2786C8.98754 24.2786 6.16059 23.1218 3.84694 20.8081C1.53329 18.4945 0.376465 15.6675 0.376465 12.3273C0.376465 8.98705 1.53329 6.1601 3.84694 3.84645C6.16059 1.5328 8.98754 0.375977 12.3278 0.375977C15.668 0.375977 18.495 1.5328 20.8086 3.84645C23.1223 6.1601 24.2791 8.98705 24.2791 12.3273C24.2791 13.6756 24.0646 14.9474 23.6355 16.1425C23.2065 17.3376 22.6243 18.3949 21.8888 19.3142L32.1853 29.6107C32.5224 29.9478 32.691 30.3768 32.691 30.8978C32.691 31.4187 32.5224 31.8478 32.1853 32.1848C31.8482 32.5219 31.4192 32.6905 30.8983 32.6905C30.3773 32.6905 29.9483 32.5219 29.6112 32.1848L19.3147 21.8883C18.3954 22.6238 17.3381 23.206 16.143 23.6351C14.9479 24.0641 13.6761 24.2786 12.3278 24.2786ZM12.3278 20.6013C14.6261 20.6013 16.5797 19.7969 18.1885 18.188C19.7973 16.5792 20.6018 14.6256 20.6018 12.3273C20.6018 10.029 19.7973 8.07538 18.1885 6.46655C16.5797 4.85772 14.6261 4.0533 12.3278 4.0533C10.0294 4.0533 8.07587 4.85772 6.46704 6.46655C4.85821 8.07538 4.05379 10.029 4.05379 12.3273C4.05379 14.6256 4.85821 16.5792 6.46704 18.188C8.07587 19.7969 10.0294 20.6013 12.3278 20.6013Z' fill='white'/%3E%3C/svg%3E%0A");
}
/* header에 fixed 클래스가 추가 되었을때 */
header.fixed {
    position: fixed;
    height: 90px;
    background-color: rgba(20, 15, 9, 0.6);
    border-bottom: 1px solid rgba(237, 237, 237, 0.3);
    backdrop-filter: blur(5px);
    
}
header.fixed .gnb .gnb_wrap ul li a {
    line-height: 90px; /*글자의 행간은 header의 높이*/
}

@media screen and (max-width:768px){
        header {
            height: 50px;
            padding: 0 0 0 16px;
        }
        header .logo a {
            display: block;
            width: 102px;
            height: 16px;
        }
        header .gnb .gnb_open {
            display: block; /* none -> blacok 보이게*/
            width: 50px;
            height: 50px;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.49967 17.6673C1.90384 17.6673 1.39377 17.4552 0.969466 17.0309C0.545161 16.6066 0.333008 16.0965 0.333008 15.5007C0.333008 14.9048 0.545161 14.3947 0.969466 13.9704C1.39377 13.5461 1.90384 13.334 2.49967 13.334C3.09551 13.334 3.60558 13.5461 4.02988 13.9704C4.45419 14.3947 4.66634 14.9048 4.66634 15.5007C4.66634 16.0965 4.45419 16.6066 4.02988 17.0309C3.60558 17.4552 3.09551 17.6673 2.49967 17.6673ZM8.99967 17.6673C8.40384 17.6673 7.89377 17.4552 7.46947 17.0309C7.04516 16.6066 6.83301 16.0965 6.83301 15.5007C6.83301 14.9048 7.04516 14.3947 7.46947 13.9704C7.89377 13.5461 8.40384 13.334 8.99967 13.334C9.59551 13.334 10.1056 13.5461 10.5299 13.9704C10.9542 14.3947 11.1663 14.9048 11.1663 15.5007C11.1663 16.0965 10.9542 16.6066 10.5299 17.0309C10.1056 17.4552 9.59551 17.6673 8.99967 17.6673ZM15.4997 17.6673C14.9038 17.6673 14.3938 17.4552 13.9695 17.0309C13.5452 16.6066 13.333 16.0965 13.333 15.5007C13.333 14.9048 13.5452 14.3947 13.9695 13.9704C14.3938 13.5461 14.9038 13.334 15.4997 13.334C16.0955 13.334 16.6056 13.5461 17.0299 13.9704C17.4542 14.3947 17.6663 14.9048 17.6663 15.5007C17.6663 16.0965 17.4542 16.6066 17.0299 17.0309C16.6056 17.4552 16.0955 17.6673 15.4997 17.6673ZM2.49967 11.1673C1.90384 11.1673 1.39377 10.9552 0.969466 10.5309C0.545161 10.1066 0.333008 9.59648 0.333008 9.00065C0.333008 8.40482 0.545161 7.89475 0.969466 7.47044C1.39377 7.04614 1.90384 6.83398 2.49967 6.83398C3.09551 6.83398 3.60558 7.04614 4.02988 7.47044C4.45419 7.89475 4.66634 8.40482 4.66634 9.00065C4.66634 9.59648 4.45419 10.1066 4.02988 10.5309C3.60558 10.9552 3.09551 11.1673 2.49967 11.1673ZM8.99967 11.1673C8.40384 11.1673 7.89377 10.9552 7.46947 10.5309C7.04516 10.1066 6.83301 9.59648 6.83301 9.00065C6.83301 8.40482 7.04516 7.89475 7.46947 7.47044C7.89377 7.04614 8.40384 6.83398 8.99967 6.83398C9.59551 6.83398 10.1056 7.04614 10.5299 7.47044C10.9542 7.89475 11.1663 8.40482 11.1663 9.00065C11.1663 9.59648 10.9542 10.1066 10.5299 10.5309C10.1056 10.9552 9.59551 11.1673 8.99967 11.1673ZM15.4997 11.1673C14.9038 11.1673 14.3938 10.9552 13.9695 10.5309C13.5452 10.1066 13.333 9.59648 13.333 9.00065C13.333 8.40482 13.5452 7.89475 13.9695 7.47044C14.3938 7.04614 14.9038 6.83398 15.4997 6.83398C16.0955 6.83398 16.6056 7.04614 17.0299 7.47044C17.4542 7.89475 17.6663 8.40482 17.6663 9.00065C17.6663 9.59648 17.4542 10.1066 17.0299 10.5309C16.6056 10.9552 16.0955 11.1673 15.4997 11.1673ZM2.49967 4.66732C1.90384 4.66732 1.39377 4.45516 0.969466 4.03086C0.545161 3.60655 0.333008 3.09648 0.333008 2.50065C0.333008 1.90482 0.545161 1.39475 0.969466 0.970443C1.39377 0.546137 1.90384 0.333984 2.49967 0.333984C3.09551 0.333984 3.60558 0.546137 4.02988 0.970443C4.45419 1.39475 4.66634 1.90482 4.66634 2.50065C4.66634 3.09648 4.45419 3.60655 4.02988 4.03086C3.60558 4.45516 3.09551 4.66732 2.49967 4.66732ZM8.99967 4.66732C8.40384 4.66732 7.89377 4.45516 7.46947 4.03086C7.04516 3.60655 6.83301 3.09648 6.83301 2.50065C6.83301 1.90482 7.04516 1.39475 7.46947 0.970443C7.89377 0.546137 8.40384 0.333984 8.99967 0.333984C9.59551 0.333984 10.1056 0.546137 10.5299 0.970443C10.9542 1.39475 11.1663 1.90482 11.1663 2.50065C11.1663 3.09648 10.9542 3.60655 10.5299 4.03086C10.1056 4.45516 9.59551 4.66732 8.99967 4.66732ZM15.4997 4.66732C14.9038 4.66732 14.3938 4.45516 13.9695 4.03086C13.5452 3.60655 13.333 3.09648 13.333 2.50065C13.333 1.90482 13.5452 1.39475 13.9695 0.970443C14.3938 0.546137 14.9038 0.333984 15.4997 0.333984C16.0955 0.333984 16.6056 0.546137 17.0299 0.970443C17.4542 1.39475 17.6663 1.90482 17.6663 2.50065C17.6663 3.09648 17.4542 3.60655 17.0299 4.03086C16.6056 4.45516 16.0955 4.66732 15.4997 4.66732Z' fill='white'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
        }
        header .gnb .gnb_wrap {
            display: none;
        }

        header .util {
            display: none;
        }
        /* header에 fixed 클래스가 추가 되었을때 */
        header.fixed {
            height: 50px;
        }



}/*@media*/

.visual {
    position: relative; /*ctrl_btn 정렬의 기준*/
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이에 딱 맞춤 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: flex-end;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual_bg03.jpg);
}

.visual .swiper-slide h3 {
    font-size: 60px;
    margin: 0 0 15px 0;
    transition: 1s;
    transition-delay: 0.5s;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide p {
    margin: 0 0 25dvh 0;
    transition: 1s;
    transition-delay: 1s;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active h3 {
    transform: translateY(0);
    opacity: 1;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translateY(0);
    opacity: 1;
}
.visual .ctrl_btn {
    position: absolute; /* visual을 기준으로 정렬 */
    bottom: 17dvh;
    left: calc(50% - 630px);
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 0 20px;
}
.visual .ctrl_btn .paging {
    bottom: auto;
    left: auto;
    width: auto;
    display: flex;
    gap: 0 20px;
}
.visual .ctrl_btn .paging .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: var(--swiper-pagination-bullet-inactive-color, #fff);
    opacity: 1;
    margin: 0;
    position: relative;
}
.visual .ctrl_btn .paging .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.visual .ctrl_btn .btn_stop {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.90828 11.6667C8.44995 11.6667 8.05759 11.5035 7.7312 11.1771C7.40481 10.8507 7.24162 10.4583 7.24162 10V1.66667C7.24162 1.20833 7.40481 0.815972 7.7312 0.489583C8.05759 0.163194 8.44995 0 8.90828 0C9.36662 0 9.75898 0.163194 10.0854 0.489583C10.4118 0.815972 10.575 1.20833 10.575 1.66667V10C10.575 10.4583 10.4118 10.8507 10.0854 11.1771C9.75898 11.5035 9.36662 11.6667 8.90828 11.6667ZM2.24162 11.6667C1.78328 11.6667 1.39092 11.5035 1.06453 11.1771C0.738146 10.8507 0.574951 10.4583 0.574951 10V1.66667C0.574951 1.20833 0.738146 0.815972 1.06453 0.489583C1.39092 0.163194 1.78328 0 2.24162 0C2.69995 0 3.09231 0.163194 3.4187 0.489583C3.74509 0.815972 3.90828 1.20833 3.90828 1.66667V10C3.90828 10.4583 3.74509 10.8507 3.4187 11.1771C3.09231 11.5035 2.69995 11.6667 2.24162 11.6667Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_btn .btn_play {
    display: none;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.07495 9.3002C0.941618 9.3002 0.824951 9.25436 0.724951 9.1627C0.624951 9.07103 0.574951 8.9502 0.574951 8.8002V1.2002C0.574951 1.0502 0.624951 0.929362 0.724951 0.837695C0.824951 0.746029 0.941618 0.700195 1.07495 0.700195C1.10828 0.700195 1.22495 0.750195 1.42495 0.850195L5.04995 4.4752C5.13329 4.55853 5.19162 4.64186 5.22495 4.7252C5.25829 4.80853 5.27495 4.9002 5.27495 5.0002C5.27495 5.1002 5.25829 5.19186 5.22495 5.2752C5.19162 5.35853 5.13329 5.44186 5.04995 5.5252L1.42495 9.1502C1.37495 9.2002 1.32078 9.2377 1.26245 9.2627C1.20412 9.28769 1.14162 9.3002 1.07495 9.3002Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_btn .btn_prev {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.39995 8.588H14.575C14.8583 8.588 15.0958 8.49217 15.2875 8.3005C15.4791 8.10883 15.575 7.87133 15.575 7.588C15.575 7.30467 15.4791 7.06717 15.2875 6.8755C15.0958 6.68383 14.8583 6.588 14.575 6.588H3.39995L8.29995 1.688C8.49995 1.488 8.59578 1.25467 8.58745 0.988C8.57912 0.721333 8.47495 0.488 8.27495 0.288C8.07495 0.104667 7.84162 0.00883333 7.57495 0.0005C7.30828 -0.00783333 7.07495 0.088 6.87495 0.288L0.274951 6.888C0.174951 6.988 0.104118 7.09633 0.0624514 7.213C0.0207844 7.32967 -4.86374e-05 7.45467 -4.86374e-05 7.588C-4.86374e-05 7.72133 0.0207844 7.84633 0.0624514 7.963C0.104118 8.07967 0.174951 8.188 0.274951 8.288L6.87495 14.888C7.05828 15.0713 7.28745 15.163 7.56245 15.163C7.83745 15.163 8.07495 15.0713 8.27495 14.888C8.47495 14.688 8.57495 14.4505 8.57495 14.1755C8.57495 13.9005 8.47495 13.663 8.27495 13.463L3.39995 8.588Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_btn .btn_next {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.39995 8.588H14.575C14.8583 8.588 15.0958 8.49217 15.2875 8.3005C15.4791 8.10883 15.575 7.87133 15.575 7.588C15.575 7.30467 15.4791 7.06717 15.2875 6.8755C15.0958 6.68383 14.8583 6.588 14.575 6.588H3.39995L8.29995 1.688C8.49995 1.488 8.59578 1.25467 8.58745 0.988C8.57912 0.721333 8.47495 0.488 8.27495 0.288C8.07495 0.104667 7.84162 0.00883333 7.57495 0.0005C7.30828 -0.00783333 7.07495 0.088 6.87495 0.288L0.274951 6.888C0.174951 6.988 0.104118 7.09633 0.0624514 7.213C0.0207844 7.32967 -4.86374e-05 7.45467 -4.86374e-05 7.588C-4.86374e-05 7.72133 0.0207844 7.84633 0.0624514 7.963C0.104118 8.07967 0.174951 8.188 0.274951 8.288L6.87495 14.888C7.05828 15.0713 7.28745 15.163 7.56245 15.163C7.83745 15.163 8.07495 15.0713 8.27495 14.888C8.47495 14.688 8.57495 14.4505 8.57495 14.1755C8.57495 13.9005 8.47495 13.663 8.27495 13.463L3.39995 8.588Z' fill='white'/%3E%3C/svg%3E%0A");
    transform: rotate(-180deg);
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (max-width:768px){
        .visual .swiper-slide {
            height: 700px; /* 브라우저 높이에 딱 맞춤 */
        }
        .visual .swiper-slide h3 {
            font-size: 40px;
            margin: 0 0 103px 0;
            transform: translateY(20px);
        }
        .visual .swiper-slide p {
            display: none;
        }
        
        .visual .ctrl_btn { 
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);
        }
        .visual .ctrl_btn .btn_prev {
            display: none;
        }
        .visual .ctrl_btn .btn_next {
            display: none;
        }
}/*@media*/

.book {
    background-color: #F5F1ED;
    padding: 208px 0 173px 0;
}
.book .book_wrap {
    width: calc(50% + 630px);
    /* book넓이의 절반 50% + 1260의 절반 */
    margin-left: calc((100% - 1260px) / 2);
    display: flex;
    justify-content: space-between;
    position: relative;
}
.book .book_wrap .tit h2 {
    color: #4F3421;
}
.book .book_wrap .tit p .mo_only {
    display: none;
}
.book .book_wrap .list {
    width: calc(100% - 423px);
    border-top: 1px solid rgba(122, 96, 71, 0.3);
    border-bottom: 1px solid rgba(122, 96, 71, 0.3);
    padding: 35px 0 40px 0;
}
.book .book_wrap .list .swiper {
    padding: 5px 30px 0 5px;
}
.book .book_wrap .list .swiper-wrapper {
    align-items: flex-end;
}
.book .book_wrap .list .swiper-slide {
    width: 200px;
}
.book .book_wrap .list .swiper-slide a {
    display: block;
    text-align: center;
}
.book .book_wrap .list .swiper-slide a .photo {
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.book .book_wrap .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle; /*이미지 하단 여백 삭제*/
}
.book .book_wrap .list .swiper-slide a .txt {
    height: 93px;
}
.book .book_wrap .list .swiper-slide a .txt h3 {
    margin: 20px 0 10px 0;
    font-size: 20px;
    color: #4F3421;
    /* 최대 2줄 */
    list-style: 1.3;
    max-height: 2.6em; /*행간 * 줄수 = 단위는 em*/
    overflow: hidden;
}
.book .book_wrap .list .swiper-slide a .txt p {
    /* 1줄 제한 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.book .book_wrap .btn {
    position: absolute;
    left: 0;
    top: 180px;
    width: 297px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.book .book_wrap .btn .more {
    font-family: 'Eulyoo1945';
    font-weight: 700;
    color: #4F3421;
}
.book .book_wrap .btn .more a {
    display: block;
    border: 1px solid #4F3421;
    border-radius: 30px;
    padding: 8px 56px 7px 16px;
}
.book .book_wrap .btn .more a span {
    position: relative;
}
.book .book_wrap .btn .more a::after {
    content: "";
    position: absolute;
    left: 88px;
    top: 10px;
    width: 18px;
    height: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99981 12.9684C6.84031 12.9684 6.70675 12.9159 6.59912 12.8109C6.49137 12.706 6.4375 12.5759 6.4375 12.4208V7.30965H1.1875C1.02812 7.30965 0.894563 7.25714 0.786813 7.15212C0.678938 7.0471 0.625 6.91701 0.625 6.76185C0.625 6.60657 0.678938 6.47654 0.786813 6.37176C0.894563 6.26686 1.02812 6.21441 1.1875 6.21441H6.4375V1.10328C6.4375 0.948125 6.49144 0.818096 6.59931 0.713196C6.70719 0.608175 6.84081 0.555664 7.00019 0.555664C7.15969 0.555664 7.29325 0.608175 7.40088 0.713196C7.50863 0.818096 7.5625 0.948125 7.5625 1.10328V6.21441H12.8125C12.9719 6.21441 13.1054 6.26692 13.2132 6.37194C13.3211 6.47696 13.375 6.60705 13.375 6.76221C13.375 6.91749 13.3211 7.04752 13.2132 7.1523C13.1054 7.2572 12.9719 7.30965 12.8125 7.30965H7.5625V12.4208C7.5625 12.5759 7.50856 12.706 7.40069 12.8109C7.29281 12.9159 7.15919 12.9684 6.99981 12.9684Z' fill='%234F3421'/%3E%3C/svg%3E%0A");
}

.book .book_wrap .btn .ctrl_btn {
    display: flex;
    gap: 0 10px
}
.book .book_wrap .btn .ctrl_btn .btn_prev {
    width: 35px;
    height: 35px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9296 18.204H23.5345C23.734 18.204 23.9011 18.1363 24.0358 18.0009C24.171 17.8658 24.2385 17.6981 24.2385 17.498C24.2385 17.2982 24.171 17.1312 24.0358 16.9971C23.9011 16.863 23.734 16.796 23.5345 16.796H13.9296L18.0029 12.7227C18.137 12.5997 18.204 12.4433 18.204 12.2535C18.204 12.0634 18.137 11.9013 18.0029 11.7672C17.8688 11.6331 17.7067 11.5661 17.5166 11.5661C17.3268 11.5661 17.1705 11.6331 17.0474 11.7672L12.3707 16.444C12.069 16.7457 11.9181 17.0977 11.9181 17.5C11.9181 17.9023 12.069 18.2543 12.3707 18.556L17.0474 23.2328C17.1815 23.3669 17.3408 23.4255 17.5251 23.4088C17.7095 23.392 17.8688 23.3166 18.0029 23.1825C18.137 23.0484 18.204 22.8863 18.204 22.6962C18.204 22.5064 18.137 22.35 18.0029 22.227L13.9296 18.204ZM17.5086 35C15.0891 35 12.8139 34.5409 10.683 33.6226C8.5522 32.7044 6.69878 31.4581 5.12277 29.8838C3.54643 28.3094 2.29863 26.4584 1.37938 24.3305C0.459794 22.2024 0 19.9284 0 17.5086C0 15.0891 0.459124 12.8139 1.37737 10.683C2.29562 8.5522 3.54191 6.69878 5.11624 5.12277C6.69057 3.54643 8.54164 2.29863 10.6695 1.37938C12.7976 0.459794 15.0716 0 17.4915 0C19.9109 0 22.1861 0.459124 24.317 1.37737C26.4478 2.29562 28.3012 3.54191 29.8772 5.11624C31.4536 6.69057 32.7014 8.54164 33.6206 10.6695C34.5402 12.7976 35 15.0716 35 17.4915C35 19.9109 34.5409 22.1861 33.6226 24.317C32.7044 26.4478 31.4581 28.3012 29.8838 29.8772C28.3094 31.4536 26.4584 32.7014 24.3305 33.6206C22.2024 34.5402 19.9284 35 17.5086 35ZM17.5 33.592C21.9923 33.592 25.7974 32.033 28.9152 28.9152C32.033 25.7974 33.592 21.9923 33.592 17.5C33.592 13.0077 32.033 9.20259 28.9152 6.08477C25.7974 2.96695 21.9923 1.40805 17.5 1.40805C13.0077 1.40805 9.20259 2.96695 6.08477 6.08477C2.96695 9.20259 1.40805 13.0077 1.40805 17.5C1.40805 21.9923 2.96695 25.7974 6.08477 28.9152C9.20259 32.033 13.0077 33.592 17.5 33.592Z' fill='%234F3421'/%3E%3C/svg%3E%0A");
}
.book .book_wrap .btn .ctrl_btn .btn_next {
    width: 35px;
    height: 35px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9296 18.204H23.5345C23.734 18.204 23.9011 18.1363 24.0358 18.0009C24.171 17.8658 24.2385 17.6981 24.2385 17.498C24.2385 17.2982 24.171 17.1312 24.0358 16.9971C23.9011 16.863 23.734 16.796 23.5345 16.796H13.9296L18.0029 12.7227C18.137 12.5997 18.204 12.4433 18.204 12.2535C18.204 12.0634 18.137 11.9013 18.0029 11.7672C17.8688 11.6331 17.7067 11.5661 17.5166 11.5661C17.3268 11.5661 17.1705 11.6331 17.0474 11.7672L12.3707 16.444C12.069 16.7457 11.9181 17.0977 11.9181 17.5C11.9181 17.9023 12.069 18.2543 12.3707 18.556L17.0474 23.2328C17.1815 23.3669 17.3408 23.4255 17.5251 23.4088C17.7095 23.392 17.8688 23.3166 18.0029 23.1825C18.137 23.0484 18.204 22.8863 18.204 22.6962C18.204 22.5064 18.137 22.35 18.0029 22.227L13.9296 18.204ZM17.5086 35C15.0891 35 12.8139 34.5409 10.683 33.6226C8.5522 32.7044 6.69878 31.4581 5.12277 29.8838C3.54643 28.3094 2.29863 26.4584 1.37938 24.3305C0.459794 22.2024 0 19.9284 0 17.5086C0 15.0891 0.459124 12.8139 1.37737 10.683C2.29562 8.5522 3.54191 6.69878 5.11624 5.12277C6.69057 3.54643 8.54164 2.29863 10.6695 1.37938C12.7976 0.459794 15.0716 0 17.4915 0C19.9109 0 22.1861 0.459124 24.317 1.37737C26.4478 2.29562 28.3012 3.54191 29.8772 5.11624C31.4536 6.69057 32.7014 8.54164 33.6206 10.6695C34.5402 12.7976 35 15.0716 35 17.4915C35 19.9109 34.5409 22.1861 33.6226 24.317C32.7044 26.4478 31.4581 28.3012 29.8838 29.8772C28.3094 31.4536 26.4584 32.7014 24.3305 33.6206C22.2024 34.5402 19.9284 35 17.5086 35ZM17.5 33.592C21.9923 33.592 25.7974 32.033 28.9152 28.9152C32.033 25.7974 33.592 21.9923 33.592 17.5C33.592 13.0077 32.033 9.20259 28.9152 6.08477C25.7974 2.96695 21.9923 1.40805 17.5 1.40805C13.0077 1.40805 9.20259 2.96695 6.08477 6.08477C2.96695 9.20259 1.40805 13.0077 1.40805 17.5C1.40805 21.9923 2.96695 25.7974 6.08477 28.9152C9.20259 32.033 13.0077 33.592 17.5 33.592Z' fill='%234F3421'/%3E%3C/svg%3E%0A");
    transform: rotate(-180deg);
}
.book .book_wrap .btn .ctrl_btn button.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none; /* 마우스 오버 시 이벤트 xxx */
}

@media screen and (min-width:769px){
/* more 오버스타일 */
.book .book_wrap .btn .more a:hover {
    background-color: #4F3421;
    color: #fff;
}
.book .book_wrap .btn .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99981 12.9684C6.84031 12.9684 6.70675 12.9159 6.59912 12.8109C6.49137 12.706 6.4375 12.5759 6.4375 12.4208V7.30965H1.1875C1.02812 7.30965 0.894563 7.25714 0.786813 7.15212C0.678938 7.0471 0.625 6.91701 0.625 6.76185C0.625 6.60657 0.678938 6.47654 0.786813 6.37176C0.894563 6.26686 1.02812 6.21441 1.1875 6.21441H6.4375V1.10328C6.4375 0.948125 6.49144 0.818096 6.59931 0.713196C6.70719 0.608175 6.84081 0.555664 7.00019 0.555664C7.15969 0.555664 7.29325 0.608175 7.40088 0.713196C7.50863 0.818096 7.5625 0.948125 7.5625 1.10328V6.21441H12.8125C12.9719 6.21441 13.1054 6.26692 13.2132 6.37194C13.3211 6.47696 13.375 6.60705 13.375 6.76221C13.375 6.91749 13.3211 7.04752 13.2132 7.1523C13.1054 7.2572 12.9719 7.30965 12.8125 7.30965H7.5625V12.4208C7.5625 12.5759 7.50856 12.706 7.40069 12.8109C7.29281 12.9159 7.15919 12.9684 6.99981 12.9684Z' fill='white'/%3E%3C/svg%3E%0A");
}    
/* button 오버 스타일 */
.book .book_wrap .btn .ctrl_btn .btn_prev:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9296 18.204H23.5345C23.734 18.204 23.9011 18.1363 24.0358 18.0009C24.171 17.8658 24.2385 17.6981 24.2385 17.498C24.2385 17.2982 24.171 17.1312 24.0358 16.9971C23.9011 16.863 23.734 16.796 23.5345 16.796H13.9296L18.0029 12.7227C18.137 12.5997 18.204 12.4433 18.204 12.2535C18.204 12.0634 18.137 11.9013 18.0029 11.7672C17.8688 11.6331 17.7067 11.5661 17.5166 11.5661C17.3268 11.5661 17.1705 11.6331 17.0474 11.7672L12.3707 16.444C12.069 16.7457 11.9181 17.0977 11.9181 17.5C11.9181 17.9023 12.069 18.2543 12.3707 18.556L17.0474 23.2328C17.1815 23.3669 17.3408 23.4255 17.5251 23.4088C17.7095 23.392 17.8688 23.3166 18.0029 23.1825C18.137 23.0484 18.204 22.8863 18.204 22.6962C18.204 22.5064 18.137 22.35 18.0029 22.227L13.9296 18.204ZM17.5086 35C15.0891 35 12.8139 34.5409 10.683 33.6226C8.5522 32.7044 6.69878 31.4581 5.12277 29.8838C3.54643 28.3094 2.29863 26.4584 1.37938 24.3305C0.459794 22.2024 0 19.9284 0 17.5086C0 15.0891 0.459124 12.8139 1.37737 10.683C2.29562 8.5522 3.54191 6.69878 5.11624 5.12277C6.69057 3.54643 8.54164 2.29863 10.6695 1.37938C12.7976 0.459794 15.0716 0 17.4915 0C19.9109 0 22.1861 0.459124 24.317 1.37737C26.4478 2.29562 28.3012 3.54191 29.8772 5.11624C31.4536 6.69057 32.7014 8.54164 33.6206 10.6695C34.5402 12.7976 35 15.0716 35 17.4915C35 19.9109 34.5409 22.1861 33.6226 24.317C32.7044 26.4478 31.4581 28.3012 29.8838 29.8772C28.3094 31.4536 26.4584 32.7014 24.3305 33.6206C22.2024 34.5402 19.9284 35 17.5086 35Z' fill='%234F3421'/%3E%3C/svg%3E%0A");
}
.book .book_wrap .btn .ctrl_btn .btn_next:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9296 18.204H23.5345C23.734 18.204 23.9011 18.1363 24.0358 18.0009C24.171 17.8658 24.2385 17.6981 24.2385 17.498C24.2385 17.2982 24.171 17.1312 24.0358 16.9971C23.9011 16.863 23.734 16.796 23.5345 16.796H13.9296L18.0029 12.7227C18.137 12.5997 18.204 12.4433 18.204 12.2535C18.204 12.0634 18.137 11.9013 18.0029 11.7672C17.8688 11.6331 17.7067 11.5661 17.5166 11.5661C17.3268 11.5661 17.1705 11.6331 17.0474 11.7672L12.3707 16.444C12.069 16.7457 11.9181 17.0977 11.9181 17.5C11.9181 17.9023 12.069 18.2543 12.3707 18.556L17.0474 23.2328C17.1815 23.3669 17.3408 23.4255 17.5251 23.4088C17.7095 23.392 17.8688 23.3166 18.0029 23.1825C18.137 23.0484 18.204 22.8863 18.204 22.6962C18.204 22.5064 18.137 22.35 18.0029 22.227L13.9296 18.204ZM17.5086 35C15.0891 35 12.8139 34.5409 10.683 33.6226C8.5522 32.7044 6.69878 31.4581 5.12277 29.8838C3.54643 28.3094 2.29863 26.4584 1.37938 24.3305C0.459794 22.2024 0 19.9284 0 17.5086C0 15.0891 0.459124 12.8139 1.37737 10.683C2.29562 8.5522 3.54191 6.69878 5.11624 5.12277C6.69057 3.54643 8.54164 2.29863 10.6695 1.37938C12.7976 0.459794 15.0716 0 17.4915 0C19.9109 0 22.1861 0.459124 24.317 1.37737C26.4478 2.29562 28.3012 3.54191 29.8772 5.11624C31.4536 6.69057 32.7014 8.54164 33.6206 10.6695C34.5402 12.7976 35 15.0716 35 17.4915C35 19.9109 34.5409 22.1861 33.6226 24.317C32.7044 26.4478 31.4581 28.3012 29.8838 29.8772C28.3094 31.4536 26.4584 32.7014 24.3305 33.6206C22.2024 34.5402 19.9284 35 17.5086 35Z' fill='%234F3421'/%3E%3C/svg%3E%0A");
    transform: rotate(-180deg);
}
}

@media screen and (max-width:768px){
    .book {
        padding: 58px 0 38px 0;
    }
    .book .book_wrap {
        width: calc(100% - 16px);
        margin-left: 16px;
        display: block; /* flex -> block */
    }
    .book .book_wrap .tit h2 {
        font-size: 28px;
    }
    .book .book_wrap .tit p {
        font-size: 16px;
        margin: 0 0 26px 0;
    }
    .book .book_wrap .tit p .mo_only {
        display: block;
    }
    .book .book_wrap .list {
        width: 100%;
        padding: 28px 0 33px 0;
    }
    .book .book_wrap .list .swiper {
        padding: 5px 16px 0 16px;
    }
    .book .book_wrap .list .swiper-slide {
        width: 155px;
    }

    .book .book_wrap .list .swiper-slide a .txt {
        height: 70px;
    }
    .book .book_wrap .list .swiper-slide a .txt h3 {
        margin: 17px 0 7px 0;
        font-size: 17px;
    }
    .book .book_wrap .list .swiper-slide a .txt p {
        font-size: 16px;
    }
    .book .book_wrap .btn {
        left: auto;
        right: 0;
        top: 100px;
        width: auto;
        display: block;
    }
    .book .book_wrap .btn .more a {
        margin: 0 16px 0 0;
        padding: 0;
        width: 25px;
        height: 25px;
        border: 1px solid #4F3421;
        border-radius: 50%;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99981 12.9684C6.84031 12.9684 6.70675 12.9159 6.59912 12.8109C6.49137 12.706 6.4375 12.5759 6.4375 12.4208V7.30965H1.1875C1.02812 7.30965 0.894563 7.25714 0.786813 7.15212C0.678938 7.0471 0.625 6.91701 0.625 6.76185C0.625 6.60657 0.678938 6.47654 0.786813 6.37176C0.894563 6.26686 1.02812 6.21441 1.1875 6.21441H6.4375V1.10328C6.4375 0.948125 6.49144 0.818096 6.59931 0.713196C6.70719 0.608175 6.84081 0.555664 7.00019 0.555664C7.15969 0.555664 7.29325 0.608175 7.40088 0.713196C7.50863 0.818096 7.5625 0.948125 7.5625 1.10328V6.21441H12.8125C12.9719 6.21441 13.1054 6.26692 13.2132 6.37194C13.3211 6.47696 13.375 6.60705 13.375 6.76221C13.375 6.91749 13.3211 7.04752 13.2132 7.1523C13.1054 7.2572 12.9719 7.30965 12.8125 7.30965H7.5625V12.4208C7.5625 12.5759 7.50856 12.706 7.40069 12.8109C7.29281 12.9159 7.15919 12.9684 6.99981 12.9684Z' fill='%234F3421'/%3E%3C/svg%3E%0A");
    }
    .book .book_wrap .btn .more a span {
        display: none;
    }
    .book .book_wrap .btn .more a::after {
        display: none;
    }
    .book .book_wrap .btn .ctrl_btn {
        display: none
    }
}/*@media*/

.interview {
    background-color: #D9CFC1;
    padding: 100px 0 156px 0;
}
.interview .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.interview .tit {
    text-align: center;
    position: relative;
}
.interview .tit h2 {
    color: #4F3421;
}
.interview .tit p {
    width: 300px;
    padding: 0 0 20px 0;
    display: inline-block;
    border-bottom: 1px solid rgba(122, 96, 71, 0.3);
}
.interview .list {
    margin: 57px 0 0 0;
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
}
.interview .list ul li {
    width: calc(33.33% - 16px);
}
.interview .list ul li:nth-child(2) {
    margin: 70px 0 0 0;
}
.interview .list ul li a {
    display: block;
    position: relative; /* txt 정렬의 기준 */
}
.interview .list ul li a .photo {
    overflow: hidden;
    height: 404px;
    border-radius: 50px 0 50px 0;
    position: relative; /* before 정렬의 기준*/
}
.interview .list ul li a .photo::before {
    content: "";
    position: absolute; /* .photo를 기준으로 정렬 */
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    transition: 0.5s;
}
.interview .list ul li a:hover .photo::before {
    opacity: 0;
}
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 50px 0 50px;
}
.interview .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transition: 0.5s;
}
.interview .list ul li a:hover .photo img {
    filter: grayscale(0);
}
.interview .list ul li a .txt {
    position: absolute; /*a를 기준으로 정렬*/
    left: 0;
    bottom: -60px;
    z-index: 11;
    width: calc(100% - 30px);
    color: #fff;
    padding: 30px 40px 35px 40px;
    border-radius: 50px 0 50px 0;
    transition: 0.8s;
}
.interview .list ul li a:hover .txt {
    background-color: #4F3421;
}
.interview .list ul li:nth-child(2) a .txt {
    border-radius: 0 50px 0 50px;
}
.interview .list ul li a .txt::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 30px;
    width: 35px;
    height: 35px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.49906 16.8337C8.35131 16.8337 8.2277 16.7837 8.12822 16.6839C8.02874 16.5841 7.979 16.4604 7.979 16.3128V9.02116H0.687337C0.539768 9.02116 0.41607 8.97116 0.316243 8.87116C0.216417 8.77116 0.166504 8.64729 0.166504 8.49954C0.166504 8.3518 0.216417 8.22819 0.316243 8.12871C0.41607 8.02923 0.539768 7.97949 0.687337 7.97949H7.979V0.687826C7.979 0.540256 8.029 0.416558 8.129 0.316732C8.229 0.216905 8.35288 0.166992 8.50062 0.166992C8.64836 0.166992 8.77197 0.216905 8.87145 0.316732C8.97093 0.416558 9.02067 0.540256 9.02067 0.687826V7.97949H16.3123C16.4599 7.97949 16.5836 8.02949 16.6834 8.12949C16.7833 8.22949 16.8332 8.35336 16.8332 8.50111C16.8332 8.64885 16.7833 8.77246 16.6834 8.87194C16.5836 8.97142 16.4599 9.02116 16.3123 9.02116H9.02067V16.3128C9.02067 16.4604 8.97067 16.5841 8.87067 16.6839C8.77067 16.7837 8.6468 16.8337 8.49906 16.8337Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: contain;
    transition: 0.5s;
}
.interview .list ul li a:hover .txt::after {
    right: 20px;
    top: 30px;
    width: 25px;
    height: 25px;
}
.interview .list ul li a .txt h3 {
    font-size: 24px;
}
.interview .list ul li a .txt p {
    margin: 11px 0 0 0;
    opacity: 0;
    transition: 0.5s;
}
.interview .list ul li a:hover .txt p {
    opacity: 1;
}
.interview .more {
    position: absolute; /*wrapper를 기준으로 정렬*/
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    font-family: 'Eulyoo1945';
    font-weight: 700;
    color: #4F3421;
}
.interview .more a {
    display: block;
    border: 1px solid #4F3421;
    border-radius: 30px;
    padding: 8px 56px 7px 16px;
}
.interview .more a span {
    position: relative;
}
.interview .more a::after {
    content: "";
    position: absolute;
    left: 88px;
    top: 10px;
    width: 18px;
    height: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99981 12.9684C6.84031 12.9684 6.70675 12.9159 6.59912 12.8109C6.49137 12.706 6.4375 12.5759 6.4375 12.4208V7.30965H1.1875C1.02812 7.30965 0.894563 7.25714 0.786813 7.15212C0.678938 7.0471 0.625 6.91701 0.625 6.76185C0.625 6.60657 0.678938 6.47654 0.786813 6.37176C0.894563 6.26686 1.02812 6.21441 1.1875 6.21441H6.4375V1.10328C6.4375 0.948125 6.49144 0.818096 6.59931 0.713196C6.70719 0.608175 6.84081 0.555664 7.00019 0.555664C7.15969 0.555664 7.29325 0.608175 7.40088 0.713196C7.50863 0.818096 7.5625 0.948125 7.5625 1.10328V6.21441H12.8125C12.9719 6.21441 13.1054 6.26692 13.2132 6.37194C13.3211 6.47696 13.375 6.60705 13.375 6.76221C13.375 6.91749 13.3211 7.04752 13.2132 7.1523C13.1054 7.2572 12.9719 7.30965 12.8125 7.30965H7.5625V12.4208C7.5625 12.5759 7.50856 12.706 7.40069 12.8109C7.29281 12.9159 7.15919 12.9684 6.99981 12.9684Z' fill='%234F3421'/%3E%3C/svg%3E%0A");
}
@media screen and (min-width:769px){
    /* more 오버스타일 */
    .interview .more a:hover {
        background-color: #4F3421;
        color: #fff;
    }
    .interview .more a:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99981 12.9684C6.84031 12.9684 6.70675 12.9159 6.59912 12.8109C6.49137 12.706 6.4375 12.5759 6.4375 12.4208V7.30965H1.1875C1.02812 7.30965 0.894563 7.25714 0.786813 7.15212C0.678938 7.0471 0.625 6.91701 0.625 6.76185C0.625 6.60657 0.678938 6.47654 0.786813 6.37176C0.894563 6.26686 1.02812 6.21441 1.1875 6.21441H6.4375V1.10328C6.4375 0.948125 6.49144 0.818096 6.59931 0.713196C6.70719 0.608175 6.84081 0.555664 7.00019 0.555664C7.15969 0.555664 7.29325 0.608175 7.40088 0.713196C7.50863 0.818096 7.5625 0.948125 7.5625 1.10328V6.21441H12.8125C12.9719 6.21441 13.1054 6.26692 13.2132 6.37194C13.3211 6.47696 13.375 6.60705 13.375 6.76221C13.375 6.91749 13.3211 7.04752 13.2132 7.1523C13.1054 7.2572 12.9719 7.30965 12.8125 7.30965H7.5625V12.4208C7.5625 12.5759 7.50856 12.706 7.40069 12.8109C7.29281 12.9159 7.15919 12.9684 6.99981 12.9684Z' fill='white'/%3E%3C/svg%3E%0A");
    }    
}
footer {
    margin: 1000px 0 0 0;
}