@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    color: #fff;
    z-index: 999;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    font-size: 19px;
    font-weight: 700;
    line-height: 90px;
    padding: 0 21px;
    position: relative; /* after 정렬의 기준 */
}
header .gnb ul li a::after {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 50%;
    transform: translateX(-50%); /*가운데에서 퍼지는 밑줄 모션*/
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
}
header .gnb ul li a:hover::after {
    width: 100%;
}
header .util {
    display: flex;
    gap: 0 25px;
}
header .util a {
    margin: 10px 0 0 0;
}
header .util a.weather {
    padding: 28px 0 0 0;
    text-align: center;
    position: relative;
    line-height: 1.1;
}
header .util a.weather::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 22px;
    background: url(../images/util_weather.svg) no-repeat center top;
}
header .util a.sea {
    padding: 28px 0 0 0;
    text-align: center;
    position: relative;
    line-height: 1.1;
}
header .util a.sea::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 22px;
    background: url(../images/util_sea.svg) no-repeat center top;
}
header .util a.flow {
    padding: 28px 0 0 0;
    text-align: center;
    position: relative;
    line-height: 1.1;
}
header .util a.flow::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 22px;
    background: url(../images/util_flow.svg) no-repeat center top;
}
header .util a.weather strong {
    display: block;
    font-weight: 700;
}
header .util a.weather span {
    color: rgba(255, 255, 255, 0.7);
}
.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    border-radius:  0 0 200px 0;
}
.visual .wrapper {
    height: 100vh;
    min-height: 550px;
    position: relative;
}
.visual h2 {
    padding: 30vh 0 0 240px;
}
.visual .life {
    display: block;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: #303E9F;
    text-align: center;
    font-size: 24px;
    color: #fff;
    line-height: 1.2;
    padding: 92px 0 0 0;
    position: absolute;
    right: -95px;
    bottom: -95px;
}
.visual .life:hover {
    color: #4EDFFF;
    background-color: #1D1D1D;
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.15);
}
.visual .life::before {
    content: "";
    position: absolute;
    background: url(../images/life_ico.svg) no-repeat center top;
    width: 100%;
    height: 33px;
    left: 0;
    top: 42px;
}
.visual .life:hover::before {
    background: url(../images/life_ico_over.svg) no-repeat center top;
}
.visual .life strong {
    font-weight: 700;
}
.culture {
    padding: 168px 0 150px 0;
    position: relative; /* before 정렬의 기준*/
}
.culture::before {
    content: "";
    position: absolute; /* culture를 기준으로 정렬 */
    left: 0;
    top: -200px;
    width: 100%;
    height: calc(100% + 200px);
    background-color: #f3f3f3;
    z-index: -1;
}
.culture .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.culture .tit h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 6px 0;
}
.culture .list {
    margin: 58px 0 0 0;
}
.culture .list ul {
    display: flex;
    justify-content: space-between;
}
.culture .list ul li {
    width: calc(33.33% - 16px);
}
.culture .list ul li a {
    display: block;
}
.culture .list ul li a .photo {
    overflow: hidden;
}
.culture .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.culture .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.culture .list ul li h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 14px 0 5px 0;
}
.culture .more {
    position: absolute; /* wrapperf를 기준으로 정렬 */
    right: 0px;
    top: 64px;
}
.culture .more a {
    font-size: 19px;
    font-weight: 700;
    display: inline-block;
    padding:  0 40px 0 0;
    position: relative;
}
.culture .more a::after {
    content: "";
    position: absolute;
    left: 75px;
    top: 50%;
    width: 25px;
    height: 1px;
    background-color: #1D1D1D;
}
.culture .more a:hover::after {
    animation-name: more;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes more {
    0% { width: 0px; }
    100% { width: 25px; }
}

footer {
    margin: 1000px 0 0 0;
}