@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    color: #fff;
    z-index: 999;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    font-size: 19px;
    font-weight: 700;
    line-height: 90px;
    padding: 0 21px;
    position: relative; /* after 정렬의 기준 */
}
header .gnb ul li a::after {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 50%;
    transform: translateX(-50%); /*가운데에서 퍼지는 밑줄 모션*/
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
}
header .gnb ul li a:hover::after {
    width: 100%;
}
header .util {
    display: flex;
    gap: 0 25px;
}
header .util a {
    margin: 10px 0 0 0;
}
header .util a.weather {
    padding: 28px 0 0 0;
    text-align: center;
    position: relative;
    line-height: 1.1;
}
header .util a.weather::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 22px;
    background: url(../images/util_weather.svg) no-repeat center top;
}
header .util a.sea {
    padding: 28px 0 0 0;
    text-align: center;
    position: relative;
    line-height: 1.1;
}
header .util a.sea::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 22px;
    background: url(../images/util_sea.svg) no-repeat center top;
}
header .util a.flow {
    padding: 28px 0 0 0;
    text-align: center;
    position: relative;
    line-height: 1.1;
}
header .util a.flow::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 22px;
    background: url(../images/util_flow.svg) no-repeat center top;
}
header .util a.weather strong {
    display: block;
    font-weight: 700;
}
header .util a.weather span {
    color: rgba(255, 255, 255, 0.7);
}
.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    border-radius:  0 0 200px 0;
}
.visual .wrapper {
    height: 100vh;
    min-height: 550px;
    position: relative;
}
.visual h2 {
    padding: 30vh 0 0 240px;
}
.visual .life {
    display: block;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: #303E9F;
    text-align: center;
    font-size: 24px;
    color: #fff;
    line-height: 1.2;
    padding: 92px 0 0 0;
    position: absolute;
    right: -95px;
    bottom: -95px;
}
.visual .life:hover {
    color: #4EDFFF;
    background-color: #1D1D1D;
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.15);
}
.visual .life::before {
    content: "";
    position: absolute;
    background: url(../images/life_ico.svg) no-repeat center top;
    width: 100%;
    height: 33px;
    left: 0;
    top: 42px;
}
.visual .life:hover::before {
    background: url(../images/life_ico_over.svg) no-repeat center top;
}
.visual .life strong {
    font-weight: 700;
}
.culture {
    padding: 168px 0 150px 0;
    position: relative; /* before 정렬의 기준*/
}
.culture::before {
    content: "";
    position: absolute; /* culture를 기준으로 정렬 */
    left: 0;
    top: -200px;
    width: 100%;
    height: calc(100% + 200px);
    background-color: #f3f3f3;
    z-index: -1;
}
.culture .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.culture .tit h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 6px 0;
}
.culture .list {
    margin: 58px 0 0 0;
}
.culture .list ul {
    display: flex;
    justify-content: space-between;
}
.culture .list ul li {
    width: calc(33.33% - 16px);
}
.culture .list ul li a {
    display: block;
}
.culture .list ul li a .photo {
    overflow: hidden;
}
.culture .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.culture .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.culture .list ul li h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 14px 0 5px 0;
}
.culture .more {
    position: absolute; /* wrapperf를 기준으로 정렬 */
    right: 0px;
    top: 64px;
}
.culture .more a {
    font-size: 19px;
    font-weight: 700;
    display: inline-block;
    padding:  0 40px 0 0;
    position: relative;
}
.culture .more a::after {
    content: "";
    position: absolute;
    left: 75px;
    top: 50%;
    width: 25px;
    height: 1px;
    background-color: #1D1D1D;
}
.culture .more a:hover::after,
.community .inner .notice .more a:hover::before {
    animation-name: more;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes more {
    0% { width: 0px; }
    100% { width: 25px; }
}
.tour {
    margin: 157px 0 0 0;
}
.tour .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.tour .tit h2 {
    font-size: 40px;
    font-weight: 700;
    padding: 0 0 7px 0;
}
.tour .list {
    margin: 60px 0 0 0;
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
    gap: 0 12px;
}
.tour .list ul li {
    /* width: 14.28%; */
    /* li 한개의 넓이 190px, ul의 넓이가 1260px
       그럼 li는 ul의 몇 %인가?  */
    transition: 0.8s;
    overflow: hidden;
    flex: 1 1 0%;
}

.tour .list ul li a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 50px 0;
    height: 548px; 
    /* li의 사이즈와 a의 사이즈를 같게 
       li가 넓이를 갖음. a가 높이를 가져야함. */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.tour .list ul li.bg1 a {
    background-image: url(../images/tour01.jpg);
}
.tour .list ul li.bg2 a {
    background-image: url(../images/tour02.jpg);
}
.tour .list ul li.bg3 a {
    background-image: url(../images/tour03.jpg);
}
.tour .list ul li.bg4 a {
    background-image: url(../images/tour04.jpg);
}
.tour .list ul li a h3 {
    font-size: 22px;
    font-weight: 700;
    white-space: nowrap;
}
.tour .list ul li a p {
    display: none; /* 숨김 */
    white-space: nowrap;
}
/* li에 on클래스가 들어갔을 때 */
.tour .list ul li.on {
    /* width: 54.28%; */
    flex: 3 1 0%;
}
.tour .list ul li.on a {
    align-items: flex-start;
    padding: 0 0 51px 50px;
}
.tour .list ul li.on a h3 {
    font-size: 40px;
    padding: 0 0 6px 0;
}
.tour .list ul li.on a p {
    display: block;
    /* none으로 숨김요소는 none빼고 뭐든 줘도 나타남
       다만 block이 만만해서 대부분 block을 줌 */
}

.community {
    margin: 228px 0 0 0;
    color: #fff;
    height: 800px;
    background: url(../images/community_bg.jpg) no-repeat center center / cover;
    padding: 178px 0 0 0;
}
.community .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.community .tit h2 {
    margin: 0 0 16px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}
.community .inner {
    display: flex;
    gap: 0 10px;
    align-items: flex-end;
}
.community .inner .notice {
    background-color: rgba(0, 0, 0, 0.4);
    width: 655px;
    height: 380px;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    padding: 30px 40px 0 40px;
}
.community .inner .notice h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}
.community .inner .notice ul {
    margin-top: 20px;
}
.community .inner .notice ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.community .inner .notice ul li:last-child {
    border-bottom: none;
}
.community .inner .notice ul li a {
    display: flex;
    justify-content: space-between;
    padding: 12px 0 12px 0;
    
}
.community .inner .notice ul li a span {
    color: rgba(255, 255, 255, 0.7);
}
.community .inner .notice .more {
    position: absolute;
    right: 80px;
    top: 45px;
    font-weight: 700;
    font-size: 19px;
}
.community .inner .notice .more a::before {
    content: "";
    position: absolute;
    left: 75px;
    top: 50%;
    width: 25px;
    height: 1px;
    background-color: #fff;
}
.community .inner .notice:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #1d1d1d;
}
.community .inner .notice:hover ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.community .inner .notice:hover ul li:last-child {
    border-bottom: none;
}
.community .inner .notice:hover ul li a span {
    color: #666;
}

.community .inner .notice ul li a:hover h4 {
    font-weight: 700;
    color: #303E9F;
}
.community .inner .notice ul li a:hover span {
    color: #303E9F;
}
.community .inner .notice:hover .more a::before {
    background-color: #1D1D1D;
}


footer {
    margin: 100px 0 0 0;
}