@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    color: #fff;
    z-index: 999;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .gnb ul {
    display: flex;
}
header .gnb ul a {
    display: block;
    font-size: 19px;
    font-weight: 700;
    line-height: 90px;
    padding: 0 21px;
}
.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    border-radius: 0 0 200px 0;
}
.visual .wrapper {
    height: 100vh;
    min-height: 580px;
    position: relative;
}
.visual h2 {
    padding: 31vh 0 0 0;
    text-align: center;
}
.visual .life {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: #303E9F;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 1.2;
    padding: 92px 0 0 0;
    position: absolute;
    right: -95px;
    bottom: -95px;
}
.visual .life::before {
    content: "";
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    height: 33px;
    background: url(../images/life_ico.svg) no-repeat center top;
}
.visual .life:hover {
    background-color: #1D1D1D;
    color: #4EDFFF;
    box-shadow: 0 10px 5px 0 rgba(0,0,0, 0.1);
}
.visual .life:hover::before {
    background: url(../images/life_ico_over.svg) no-repeat center top;
}
.visual .life strong {
    font-weight: 700;
}

.culture {
    margin: 168px 0 0 0;
    background: #F7F7F7;
    height: 750px;
}
.culture .wrapper {
    position: relative;
}
.culture .tit h2 {
    font-size: 40px;
    font-weight: 700;
    padding: 90px 0 0 0;
}
.culture .tit p {
    margin: 9px 0 58px 0;
}
.culture .list ul {
    display: flex;
    justify-content: space-between;
}
.culture .list ul li {
    width: 404px;
}
.culture .list h3 {
    font-size: 24px;
    font-weight: 700;
    padding: 15px 0;
}
.culture a.more {
    position: absolute;
    right: 40px;
    top: 150px;
}
.tour .tit h3 {
    margin: 170px 0 0 0;
    font-size: 40px;
    font-weight: 700;
}
.tour .tit p {
    margin: 10px 0 60px 0;
}
.tour .list {
    color: #fff;
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
}
.tour .list ul a {
    display: block;
    height: 548px;
}
.tour .list ul li a.bg1 {
    background: url(../images/tour_list01.jpg) no-repeat center center / cover;
    width: 684px;
}
.tour .list ul li a.bg2 {
    background: url(../images/tour_list02.jpg) no-repeat center center / cover;
    width: 180px;
}
.tour .list ul li a.bg3 {
    background: url(../images/tour_list03.jpg) no-repeat center center / cover;
    width: 180px;
}
.tour .list ul li a.bg4 {
    background: url(../images/tour_list04.jpg) no-repeat center center / cover;
    width: 180px;
}
.tour .list ul li a h4 {
    font-size: 22px;
    font-weight: 700;
}
.tour .list ul li a.bg1 h4 {
    font-size: 40px;
}
footer {
    margin: 1000px 0 0 0;
}