@import url(common.css);
.asia {
    margin: 150px 0 0 0;
}
.asia .wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 0 24px;
}
.asia .tit h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 9px 0;
}

@media screen and (max-width:768px){
                .asia {
                    margin: 111px 0 0 0;
                }
                .asia .wrapper {
                    display: block; /*tut-photo 위아래 변경*/
                    /* flex-direction: row-reverse;
                    align-items: flex-end;
                    gap: 0 24px; 
                    dispaly:flex가 아님 적용 안됨 */
                }
                .asia .tit h2 {
                    font-size: 24px;
                    margin: 0 0 10px 0;
                }
                .asia .photo {
                    margin: 29px 0 0 0;
                }
                .asia .photo img {
                    width: 100%;
                }
}/*@media*/

.photo_wrap {
    margin: 50px 0 0 0;
}

.photo_wrap .photo {
    overflow: hidden;
    width: 832px;
    height: 600px;
}
.photo_wrap .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:768px){
                .photo_wrap {
                    margin: 25px 0 0 0;
                }
                
                .photo_wrap .photo {
                    width: auto;
                    height: 258px;
                }
}/* @media */

.mission {
    margin: 100px 0 100px 0;
    text-align: center;
}
.mission strong {
    font-weight: 700;
    color: #1d1d1d;
}
.mission h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 9px 0 20px 0;
}
.mission h2 br.mo_only {
    display: none; /* 줄바꿈 안 함 */
}
@media screen and (max-width:768px){
            .mission {
                margin: 120px 0 120px 0;
            }
            .mission h2 {
                font-size: 28px;
                margin: 3px 0 19px 0;
            }
            .mission h2 br.mo_only {
                display: block; /*  */
            }
            .mission h2 br.pc_only {
                display: none; /* 줄바꿈 안 함 */
            }
            .mission p br {
                display: none; /* 줄바꿈 안 함 */
            }
}/* @media */

.winner { 
    margin: 110px 0 100px 0;
}
.winner .tit strong {
    font-weight: 700;
    color: #1d1d1d;
}
.winner .tit h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 10px 0 0 0;
    line-height: 1.4;
}
.winner .list {
    margin: 28px 0 0 0;
}
.winner .list .swiper-slide a {
    display: block;
}
.winner .list .swiper-slide a .photo {
    overflow: hidden;
    height: 250px;
}
.winner .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.winner .list .swiper-slide a h3 {
    position: relative; /* before 정렬의 기준*/
    font-size: 19px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 14px 0 0 0;
    /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 5px 4px 5px;
    transition: 0.5s;
}

.winner .list .swiper-slide a h3::before {
    content: "";
    position: absolute; /* h3를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: #EA6161;
    transition: 0.5s;
}
.winner .list .swiper-slide a:hover h3 {
    color: #fff;
}
.winner .list .swiper-slide a:hover h3::before {
    width: 100%;
}

@media screen and (max-width:768px){
    .winner { 
        margin: 198px 0 100px 0;
    }
    .winner .tit h2 {
        font-size: 30px;
    }
    .winner .list {
        margin: 25px 0 0 0;
    }
    .winner .list .swiper-slide {
        width: 200px;
    }
    .winner .list .swiper-slide a .photo {
        height: 200px;
    }
    .winner .list .swiper-slide a h3 {
        margin: 15px 0 0 0;
        /* 1줄 제한 -> 해제 */
        white-space: wrap;
        overflow: visible;
        /* text-overflow: ellipsis; */
    }
}