@import url(common.css);

.snow {
    margin: 118px 0 0 0;
    text-align: center;
}
.snow h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 27px 0;
}
.snow .vi {
    font-size: 32px;
    color: #fff;
    background-color: #00cdf5; /* 뒷배경 */
    padding: 17px 60px 17px 60px; 
    border-radius: 50px; /* 뒷배경 라운드 */
    display: inline-block;
}

.team {
    margin: 79px 0 0 0;
    padding: 0 0 79px 0;
    background-color: #ededed;
}
.team .tit h2 {
    padding: 72px 0 0 0;
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
}
.team .tit p {
    padding: 12px 0 28px 0;
}
.team .mo {
    text-align: right;
}
.team .mo a {
    margin: 0 0 28px 0;
    border: 1px solid #555;
    border-radius: 40px;
    display: inline-block;
    padding: 10px 25px 10px 25px;
}
.team .list ul li {
    display: flex;
    padding: 37px 0 0 0;
}
.team .list ul li h3 {
    font-weight: 700;
    color: #1d1d1d;
    width: 428px;
}
.pep {
    margin: 105px 0 100px 0;
}

.pep .tit h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
}
.pep .tit p {
    margin: 27px 0 24px 0;
}
.pep .mm {
    text-align: right;
}
.pep .mm a{
    margin: 0 0 40px 0;
    border: 1px solid #555;
    border-radius: 40px;
    display: inline-block;
    padding: 10px 25px 10px 25px;
}
.pep .list ul {
    display: flex;
    justify-content: space-between;
}
.pep .list ul li {
    color: #fff;
    padding: 247px 0 35px 40px;
}
.pep .list ul li h2 {
    font-size: 24px;
    font-weight: 700;
    padding: 0 0 7px 0;
}
.pep .list ul li.bg1 {
    background: url(../images/test1.jpg);
    width: 618px;
    height: 349px;
    border-radius: 10px;
}
.pep .list ul li.bg2 {
    background: url(../images/test2.jpg);
    width: 618px;
    height: 349px;
    border-radius: 10px;
}