@import url(default.css);
@import url(fonts.css);
@import url(common.css);

/* :root {
    --font-size-basic : 17px;
    --font-size-tit : 50px;
    --font-size-tit2 : 24px;
    --font-weight-basic : 400;
    --font-weight-bold : 700;
    --line-height-basic : 1.5;
    --line-height-tit : 1.3;
    --color-main : #E27A3F;
    --color-main2 : #E05C5C;
    --color-sub : #0E76DE;
    --color-white : #fff;
    --color-white60 : rgba(255, 255, 255, 0.6);
    --color-white50 : rgba(255, 255, 255, 0.5);
    --color-white20 : rgba(255, 255, 255, 0.2);
    --color-line : #444;
    --color-line2 : rgba(204, 204, 204, 0.7);
    --background-color : #091626;
    --footer-bg-color : #161616;
    --header-h : 90px;
    --wrapper-margin : 50px;
} */


header {
    position: fixed; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
    fill: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-margin);
}
header .logo a {
    display: block;
    width: 243px;
    height: 45px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
header .util {
    display: flex;
    gap: 0 11px;
}
header .util .search .sch_open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}
header .util .search .sch_open i {
    display: block;
    width: 26.25px;
    padding: 7px 0 0 0;
}
header .util .mypage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}
header .util .mypage i {
    display: block;
    width: 29.17px;
    padding: 7px 0 0 0;
}
header {
    transition: background-color 0.5s, color 0.5s, fill 0.5s;
}
header .logo a {
    transition: background-image 0.5s;
}
/* header가 fixed 되었을 때 */
header.fixed {
    background-color: var(--color-white);
    color: #161616;
    fill : #161616;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
header.fixed .logo a {
    background-image: url(../images/logo.svg);
}

/**********************시작 : pc버전 메뉴*************************/
/* 1024 이하는 메뉴가 접힘 1025 이상일 때 스타일 */
@media screen and (min-width:1025px){
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_wrap .gnb_close {
        display: none; /* 모바일에서만 보임 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li를 좌우로 배치 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 20px;
        font-weight: var(--font-weight-bold);
        line-height: var(--header-h);
        padding: 0 1.6em;
        white-space: nowrap; /* 행간이 높아서 2줄이 되면 이상함. 무조건 1줄로 나오게 함 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute; /* ul.depth1 li를 기준으로 정렬 */
        left: 50%;
        transform: translateX(-50%);
        top: var(--header-h) ;
        background-color: var(--color-white);
        border-radius: 0  0 10px 10px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        font-size: 16px;
        color: #767676;
        min-width: 100%; /* li 넓이의 100% */
        padding: 25px 30px;
        display: none; /* 오버 시 나타남 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 8px 0;
        white-space: nowrap;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span {
        position: relative; /* before 정렬의 기준 */
    }

    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: var(--font-weight-bold);
        color: #FF4E00;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::before {
        content: "";
        position: absolute; /* span을 기준으로 정렬 */
        left: -16px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25 5.0625C0.9 5.0625 0.604167 4.94167 0.3625 4.7C0.120833 4.45833 0 4.1625 0 3.8125C0 3.4625 0.120833 3.16667 0.3625 2.925C0.604167 2.68333 0.9 2.5625 1.25 2.5625C1.6 2.5625 1.89583 2.68333 2.1375 2.925C2.37917 3.16667 2.5 3.4625 2.5 3.8125C2.5 4.1625 2.37917 4.45833 2.1375 4.7C1.89583 4.94167 1.6 5.0625 1.25 5.0625ZM3.5 3.0625C3.15 3.0625 2.85417 2.94167 2.6125 2.7C2.37083 2.45833 2.25 2.1625 2.25 1.8125C2.25 1.4625 2.37083 1.16667 2.6125 0.925C2.85417 0.683333 3.15 0.5625 3.5 0.5625C3.85 0.5625 4.14583 0.683333 4.3875 0.925C4.62917 1.16667 4.75 1.4625 4.75 1.8125C4.75 2.1625 4.62917 2.45833 4.3875 2.7C4.14583 2.94167 3.85 3.0625 3.5 3.0625ZM6.5 3.0625C6.15 3.0625 5.85417 2.94167 5.6125 2.7C5.37083 2.45833 5.25 2.1625 5.25 1.8125C5.25 1.4625 5.37083 1.16667 5.6125 0.925C5.85417 0.683333 6.15 0.5625 6.5 0.5625C6.85 0.5625 7.14583 0.683333 7.3875 0.925C7.62917 1.16667 7.75 1.4625 7.75 1.8125C7.75 2.1625 7.62917 2.45833 7.3875 2.7C7.14583 2.94167 6.85 3.0625 6.5 3.0625ZM8.75 5.0625C8.4 5.0625 8.10417 4.94167 7.8625 4.7C7.62083 4.45833 7.5 4.1625 7.5 3.8125C7.5 3.4625 7.62083 3.16667 7.8625 2.925C8.10417 2.68333 8.4 2.5625 8.75 2.5625C9.1 2.5625 9.39583 2.68333 9.6375 2.925C9.87917 3.16667 10 3.4625 10 3.8125C10 4.1625 9.87917 4.45833 9.6375 4.7C9.39583 4.94167 9.1 5.0625 8.75 5.0625ZM2.325 10.0625C1.95 10.0625 1.63542 9.91875 1.38125 9.63125C1.12708 9.34375 1 9.00417 1 8.6125C1 8.17917 1.14792 7.8 1.44375 7.475C1.73958 7.15 2.03333 6.82917 2.325 6.5125C2.56667 6.25417 2.775 5.97292 2.95 5.66875C3.125 5.36458 3.33333 5.07917 3.575 4.8125C3.75833 4.59583 3.97083 4.41667 4.2125 4.275C4.45417 4.13333 4.71667 4.0625 5 4.0625C5.28333 4.0625 5.54583 4.12917 5.7875 4.2625C6.02917 4.39583 6.24167 4.57083 6.425 4.7875C6.65833 5.05417 6.86458 5.34167 7.04375 5.65C7.22292 5.95833 7.43333 6.24583 7.675 6.5125C7.96667 6.82917 8.26042 7.15 8.55625 7.475C8.85208 7.8 9 8.17917 9 8.6125C9 9.00417 8.87292 9.34375 8.61875 9.63125C8.36458 9.91875 8.05 10.0625 7.675 10.0625C7.225 10.0625 6.77917 10.025 6.3375 9.95C5.89583 9.875 5.45 9.8375 5 9.8375C4.55 9.8375 4.10417 9.875 3.6625 9.95C3.22083 10.025 2.775 10.0625 2.325 10.0625Z' fill='%23FF4E00'/%3E%3C/svg%3E%0A");
    }

    /* 메뉴에 오버했을 때 */

    header.menu_pc {
        background-color: var(--color-white);
        color: #161616;
        fill : #161616;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    }
    header.menu_pc .logo a {
        background-image: url(../images/logo.svg)
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: #FF4E00;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 2px;
        background-color: #FF4E00;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        display: block !important; 
    }
}/*@media*/
/* 1025이상에서 1280이하 그 사이에서만 적용 */
@media screen and (min-width:1025px) and (max-width:1200px) {
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 18px;
    }
    header .logo a {
        width: 190px;
    }
    header .util .search .sch_open {
        width: 22px;
        height: 22px;
    }
    header .util .mypage {
        width: 23px;
        height: 23px;
    }
}
/**********************끝 : pc버전 메뉴*************************/

/**********************시작 : 모바일버전 메뉴*************************/
@media screen and (max-width:1024px){
    header {
        padding-right: 0;
        height: var(--header-var);
    }
    header .logo a {
        /* width: 108.15px;
        height: 20px; */
        width: clamp(108.15px, 17vw, 243.33px);
        /* 최소값, 평소의 값, 최대값 */
    }
    header .util {
        display: none; /* 숨김 */
    }
    header .gnb .gnb_open {
        display: flex; /* i 태그 가운데 정렬 */
        justify-content: center;
        align-items: center;
        width: var(--header-var);
        height: var(--header-var);
    }
    header .gnb .gnb_open i {
        display: block;
        width: 36.16%;
    }
    header .gnb .gnb_wrap {
        /* display: none; */
        position: absolute; /* header를 기준으로 정렬 */
        right: -105%;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: var(--color-white);
        color: #161616;
        fill : #161616;
        transition: 0.5s;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin: var(--header-var) 0 0 0;
        height: calc(100dvh - var(--header-var)); /* 높이 제한을 줘야 스크롤바가 적용 됨 */
        overflow-y: auto;
        /* 주어진 높이보다 콘텐츠가 짧으면 스크롤바 x 
            콘텐츠가 더 긴 경우에만 스크롤바가 생김 */
        border-top: 1px solid #f7f7f7;
        padding: 20px 0 0 0;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 20px;
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-tit);
        padding: 20px 70px 20px var(--wrapper-margin);
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: #FF4E00;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute; /* a를 기준으로 정렬 */
        right: calc(var(--wrapper-margin) + 3px);
        top: 50%;
        transform: translateY(-50%);
        width: 18.96px;
        height: 10.45px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 11' fill='%23161616' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.4879 7.72422L16.8379 0.374218C17.0879 0.124218 17.3796 0.00338478 17.7129 0.011718C18.0462 0.0200512 18.3379 0.149218 18.5879 0.399218C18.8379 0.649218 18.9629 0.940885 18.9629 1.27422C18.9629 1.60755 18.8379 1.89922 18.5879 2.14922L10.9129 9.84922C10.7129 10.0492 10.4879 10.1992 10.2379 10.2992C9.9879 10.3992 9.7379 10.4492 9.4879 10.4492C9.2379 10.4492 8.9879 10.3992 8.7379 10.2992C8.4879 10.1992 8.2629 10.0492 8.0629 9.84922L0.362903 2.14922C0.112903 1.89922 -0.0079305 1.60338 0.000402824 1.26172C0.00873614 0.920053 0.137903 0.624219 0.387903 0.374219C0.637903 0.124219 0.92957 -0.0007811 1.2629 -0.000781114C1.59624 -0.000781129 1.8879 0.124219 2.1379 0.374219L9.4879 7.72422Z' /%3E%3C/svg%3E%0A");
        transition: 0.5s;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        transform: translateY(-50%) rotate(180deg);
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 11' fill='%23FF4E00' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.4879 7.72422L16.8379 0.374218C17.0879 0.124218 17.3796 0.00338478 17.7129 0.011718C18.0462 0.0200512 18.3379 0.149218 18.5879 0.399218C18.8379 0.649218 18.9629 0.940885 18.9629 1.27422C18.9629 1.60755 18.8379 1.89922 18.5879 2.14922L10.9129 9.84922C10.7129 10.0492 10.4879 10.1992 10.2379 10.2992C9.9879 10.3992 9.7379 10.4492 9.4879 10.4492C9.2379 10.4492 8.9879 10.3992 8.7379 10.2992C8.4879 10.1992 8.2629 10.0492 8.0629 9.84922L0.362903 2.14922C0.112903 1.89922 -0.0079305 1.60338 0.000402824 1.26172C0.00873614 0.920053 0.137903 0.624219 0.387903 0.374219C0.637903 0.124219 0.92957 -0.0007811 1.2629 -0.000781114C1.59624 -0.000781129 1.8879 0.124219 2.1379 0.374219L9.4879 7.72422Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        padding: 14px var(--wrapper-margin) 14px calc(var(--wrapper-margin) + 14px);
        background-color: #f7f7f7;
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        font-size: 16px;
        color: #767676;
        line-height: 3;
    }
    header .gnb .gnb_wrap .gnb_logo {
        position: absolute; /* gnb_wrap을 기준으로 정렬 */
        left: var(--wrapper-margin);
        top: 0;
        width: clamp(108.15px, 17vw, 243.33px);
        height: var(--header-var);
        background: url(../images/logo.svg) no-repeat center center / contain;
    }
    header .gnb .gnb_wrap .gnb_close {
        position: absolute; /* gnb_wrap을 기준으로 정렬 */
        right: 0;
        top: 0;
        width: var(--header-var);
        height: var(--header-var);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .gnb .gnb_wrap .gnb_close i {
        display: block;
        width: 27.4%;
    }

    /* 메뉴가 열렸을 때 */
    header.menu_mo .gnb .gnb_wrap {
        /* display: block; */
        right: 0;
    }

}/*@media*/
/**********************끝 : 모바일버전 메뉴*************************/

.visual {
    position: relative; /* ctrl_btn 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);

    display: flex; /* wrapper를 하단으로 배치하기 위해 */
    align-items: flex-end;
}
.visual .swiper-slide.pop1 {
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper-slide.pop2 {
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.pop3 {
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide p {
    font-size: clamp(32px, 5vw, 60px);
    font-weight: var(--font-weight-bold);
    margin: 0 0 calc(20dvh + 100px) 0;
    /* 글자 나타나는 효과 */
    transition: 1s;
    transition-delay: 0.3s;
    transform: translate(0, 100px);
    opacity: 0;
}
.visual .swiper-slide p br.mo_only {
    display: none;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translate(0, 0);
    opacity: 1;
}
.visual .ctrl_btn {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 630px);
    bottom: 20%;
    z-index: 1;
    display: flex;
    gap: 0 13px;
}
.visual .ctrl_btn .paging {
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
}
.visual .ctrl_btn .paging .bar {
    width: 136px;
    height: 2px;
    background-color: var(--color-white50);
    margin: 0 10px;
    position: relative; /* before 정렬의 기준 */
}
.visual .ctrl_btn .paging .bar span {
    position: absolute; /* bar를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-white);
}
.visual .ctrl_btn .stop,
.visual .ctrl_btn .play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}
.visual .ctrl_btn .play {
    display: none; /* 숨김처리 */
}
.visual .ctrl_btn .stop i {
    display: block;
    width: 10px;
    /* 이미지나 svg 아이콘은 넓이만 넣어줘도 높이는 비율에 맞게 들어감 */
}
.visual .ctrl_btn .play i {
    display: block;
    width: 11px;
}


@media screen and (max-width:1360px){
    .visual .ctrl_btn {
        left: 50px;
    }
}/*media*/

@media screen and (max-width:1024px){
    .visual .swiper-slide {
        height: 500px; /* 브라우저 높이 */
    }
    .visual .swiper-slide p {
        margin: 0 0 85px 0;
        /* 글자 나타나는 효과 */
        transform: translate(0, 20px);
    }
    .visual .swiper-slide p br.mo_only {
        display: block;
    }
    .visual .swiper-slide p br.pc_only {
        display: none;
    }   
    .visual .ctrl_btn {
        left: 16px;
        bottom: 35px;
        gap: 0 10px;
    }
    .visual .ctrl_btn .paging .bar {
        width: 80px;
    }
}/*media*/

.find {
    background-color: #091626;
    color: var(--color-white);
    /* padding: 80px 0 80px 0; */
    padding: clamp(40px, 10vw, 80px) 0 clamp(40px, 10vw, 80px);
}

.find h2 {
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    text-align: center;
}
.find .tab_list {
    margin: 32px 0 0 0;
}
.find .tab_list ul {
    display: flex;
    justify-content: center;
    gap: 0 24px;
}
.find .tab_list ul li button {
    display: block;
    padding: 0.2083em 1.1667em;
    border-radius: 50px;
    color: var(--color-white50);
    font-size: var(--font-size-tit2);
    font-weight: var(--font-weight-bold);
}
.find .tab_list ul li.active button {
    background-color: #e06f2e;
    color: var(--color-white);
}
.find .tab_list ul li.item2.active button {
    background-color: #E57373;
}
.find .tab_content {
    margin: 50px 0 0 0;
}
.find .tab_content .tab_item {
    position: relative; /* more 정렬의 기준*/
    display: none; /* active 클래스가 있는 요소만 보임 */
}
.find .tab_content .tab_item.active {
    display: block;
}
.find .tab_content .tab_item .list .swiper-slide {
    width: 269px;
}
.find .tab_content .tab_item .list .swiper-slide a {
    display: block;
}
.find .tab_content .tab_item .list .swiper-slide a .photo {
    overflow: hidden;
    height: 380px;
    border-radius: 20px;
    position: relative; /* date 정렬의 기준 */
}
.find .tab_content .tab_item .list .swiper-slide a .photo .date {
    position: absolute;
    right: 15px;
    bottom: 15px;
    border-radius: 40px;
    background-color: #E27A3F;
    color: var(--color-white);
    padding: 5px 16px;
}
.find .tab_content .tab_item.item2 .list .swiper-slide a .photo .date {
    background-color: #E57373;
}
.find .tab_content .tab_item .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.find .tab_content .tab_item .list .swiper-slide a .txt {
    margin: 20px 0 0 0;
}
.find .tab_content .tab_item .list .swiper-slide a .txt h4 {
    display: flex; /* strong-span 좌우 배치 */
    align-items: center;
    gap : 0 31px;
}
.find .tab_content .tab_item .list .swiper-slide a .txt h4 strong {
    font-size: var(--font-size-tit2);
    font-weight: var(--font-weight-bold);

    /* 1줄제한 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.find .tab_content .tab_item .list .swiper-slide a .txt h4 span {
    position: relative;
    color: var(--color-white30);
}
.find .tab_content .tab_item .list .swiper-slide a .txt h4 span::after {
    content: "";
    position: absolute; /* span을 기준으로 정렬 */
    left: -14px;
    top: 5px;
    width: 1px;
    height: 15px;
    background-color: var(--color-white20);
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul {
    margin: 15px 0 0 0;
    padding: 15px 0 15px 0;
    border-top: 1px solid var(--color-white20);
    border-bottom: 1px solid var(--color-white20);
    
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul li {
    display: flex;
    padding: 0 0 8px 0;
    gap: 0 15px;
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul li:last-child {
    padding: 0;
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul li strong {
    color: var(--color-white30);
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul li span {
    letter-spacing: -0.25px;
    
    /* 1줄제한 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.find .tab_content .tab_item .ctrl_btn {
    margin: 54px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 0 24px;
}
.find .tab_content .tab_item .ctrl_btn .prev,
.find .tab_content .tab_item .ctrl_btn .next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #555;
    border-radius: 50%;
    fill: var(--color-white);
}
.find .tab_content .tab_item .ctrl_btn .prev i,
.find .tab_content .tab_item .ctrl_btn .next i {
    display: block;
    width: 19.5px;
}
.find .tab_content .tab_item .more {
    position: absolute; /* content를 기준으로 정렬 */
    right: 0;
    top: -40px;
    color: var(--color-white60);
}
.find .tab_content .tab_item .more a {
    display: flex;
    gap: 0 5px;
}
.find .tab_content .tab_item .more i {
    display: block;
    width: 14px;
    fill: var(--color-white60);
}


/********모바일 버전********/
@media screen and (max-width:1024px){
    .find .tab_list {
        margin: 24px 0 0 0;
    }
    .find .tab_list ul {
        gap: 0 15px;
    }
    .find .tab_content {
        margin: 30px 0 0 0;
    }
    .find .tab_content .tab_item .list .swiper-slide a .photo {
        height: 340px;
        border-radius: 10px;
    }
    .find .tab_content .tab_item .list .swiper-slide a .photo .date {
        right: 10px;
        bottom: 10px;
        padding: 5px 13px;
    }
    .find .tab_content .tab_item .list .swiper-slide a .txt {
        margin: 15px 0 0 0;
    }
    .find .tab_content .tab_item .list .swiper-slide a .txt h4 {
        gap : 0 20px;
    }
    .find .tab_content .tab_item .list .swiper-slide a .txt h4 span::after {
        left: -9px;
    }
    .find .tab_content .tab_item .list .swiper-slide a .txt ul {
        margin: 10px 0 0 0;
        padding: 10px 0 10px 0;
    }
    .find .tab_content .tab_item .list .swiper-slide a .txt ul li {
        display: flex;
        padding: 0 0 10px 0;
        gap: 0 10px;
    }
    .find .tab_content .tab_item .ctrl_btn {
        display: none;
    }
    .find .tab_content .tab_item .more {
        position: relative; /* content를 기준으로 정렬 */
        right: auto;
        top: auto;
        color: var(--color-white60);
        display: flex;
        justify-content: center;
        margin: 30px 0 0 0;
    }
    .find .tab_content .tab_item .more a {
        display: flex;
        gap: 0 5px;
        border-radius: 40px;
        background-color: #555;
        padding: 3px 15px;
    }
    .find .tab_content .tab_item .more i {
        fill: var(--color-white60);
    }
}/*@media*/

.slogan {
    margin: clamp(94px, 13vw, 120px) 0 clamp(88px, 18vw, 180px) 0;
    text-align: center;
}
.slogan h2 {
    font-size: clamp(16px, 3vw, 32px);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    color: #FF4E00;
    margin: 0 0 clamp(38px, 3vw, 45px) 0;
}
.slogan p {
    font-size: clamp(30px, 5vw, 60px);
    font-weight: var(--font-weight-bold);
    line-height: 2.0;
    color: #161616;
}
.slogan p .mo_only {
    display: none; /*pc에서 안 보임*/
}
.slogan p strong {
    display: inline-block;
    vertical-align: middle; /* 위 아래 가운데 */
    position: relative; /* before 정렬의 기준 */
}
.slogan p strong::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%); /* 좌우의 가운데 위아래 가운데 */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 80%;
    height: 3em;
}
.slogan p strong.place {
    width: 2.6667em;
}
.slogan p strong.place::before {
    background-image: url(../images/slogan_place.png);
    transform: translate(-50%, -60%); /* 좌우의 가운데 위아래 가운데 */
}
.slogan p strong.animal {
    width: 2em;
}
.slogan p strong.animal::before {
    background-image: url(../images/slogan_animal.png);
}
.slogan p strong.center {
    width: 2.6667em;
}
.slogan p strong.center::before {
    background-image: url(../images/slogan_center.png);
}
.slogan p strong.call {
    width: 2.5833em;
}
.slogan p strong.call::before {
    background-image: url(../images/slogan_call.png);
}
@media screen and (max-width:640px){
    .slogan p .mo_only {
        display: block; /*모바일에서만 보임*/
    }
} /*@media*/

.adopt {
    overflow: hidden; /* rolling 가로 스크롤바 삭제 */
    background-color: #091626;
    color: var(--color-white);
    fill: var(--color-white);
    padding: clamp(50px, 6vw, 80px) 0 clamp(140px, 20vw, 255px) 0;
    position: relative; /* ctrl_btn 정렬의 기준 */
}
.adopt .tit h2{
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    text-align: center;
}
.adopt .list {
    margin: clamp(50px, 8vw, 110px) 0 0 0;    
}
.adopt .list .swiper-slide {
    width: clamp(212px, 25vw, 350px);
}
.adopt .list .swiper-slide a {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.adopt .list .swiper-slide a .photo {
    overflow: hidden;
    height: clamp(212px, 25vw, 350px);
    border-radius: 50%;
}
.adopt .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.adopt .list .swiper-slide a .cate {
    background-color: #0E76DE;
    border-radius: 30px;
    padding: 0.2083em 0.7917em;
    margin-top: -17px; /* margin은 마이너스값이 가능 */
}
.adopt .list .swiper-slide a .cate.cate2 {
    background-color: #E05C5C;
}
.adopt .list .swiper-slide a h3 {
    margin: 0.8333em 0 0.4167em 0;
    font-size: var(--font-size-tit2);
    font-weight: var(--font-weight-bold);
}
.adopt .list .swiper-slide a p {
    text-align: center;
    color: var(--color-white60);
    margin: 0 15%; /* li 넓이의 15% */

    /* 2줄제한 */
    overflow: hidden;
    line-height: 1.5; /* 행간*줄수 = 단위 em */
    height: 3em;
    /* 글 ...추가 */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 2번째 줄 넘어갈 시 ...으로 마무리 */
    -webkit-box-orient: vertical;
}
.adopt .ctrl_btn {
    position: absolute;
    right: calc(50% - 630px);
    top: clamp(80px, 12vw, 172px);
    display: flex;
    gap: 0 12px;
}
.adopt .ctrl_btn .ctrl_prev,
.adopt .ctrl_btn .ctrl_next,
.adopt .ctrl_btn .more a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: clamp(30px, 4vw, 45px);
    height: clamp(30px, 4vw, 45px);
    background-color: #444;
    border-radius: 50%;
}
.adopt .ctrl_btn .ctrl_prev i,
.adopt .ctrl_btn .ctrl_next i {
    display: block;
    width: clamp(15.5px, 2.5vw, 19.5px);
    vertical-align: top;
}
.adopt .ctrl_btn .more a i {
    display: block;
    width: clamp(14px, 2.5vw, 22.5px);
    vertical-align: top;
    padding: clamp(1px, 0.5vw, 5px) 0 0 0;
}
.adopt .rolling {
    position: absolute; /* adopt를 기준으로 정렬 */
    left: 0;
    bottom: 2%;
    width: 100%;
    font-size: clamp(50px, 10vw, 150px);
    font-weight: var(--font-weight-bold);
    color: var(--color-white20);
    white-space: nowrap; /* 줄 바꿈 금지 */
}
.adopt .rolling p {
    position: absolute; /* rolling을 기준으로 정렬 */
    left: 0;
    bottom: 0;
    animation: adopt_roll 10s linear infinite;
    /* 애니메이션이름, 3초동안 실행, 가속도 x, 무한반복 */
}
@keyframes adopt_roll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50.33%); }
}
@media screen and (max-width:768px){
    .adopt .ctrl_btn .ctrl_prev,
    .adopt .ctrl_btn .ctrl_next {
        display: none;
    }
}
@media screen and (max-width:1320px){
    .adopt .ctrl_btn {
        right: var(--wrapper-margin);
    }
} /*@media*/



footer {
    margin: 500px;
}