@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    width: 100%;
    height: 120px;
    position: absolute; /*wrap을 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: 999;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
}
header .logo a {
    display: block;
    width: 157px;
    height: 60px;
    background: url(../images/logo.svg) no-repeat center center / contain; 
    /* 이미지를 안 자르고 다 나오게 함(logo 및 icon 사용 시) - contain */
}
header .gnb .gnb_open, 
header .gnb .gnb_close {
    display: none; /* 모바일에서만 표시 */
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    display: block;
    line-height: 120px;
    font-size: 22px;
    padding: 0px 28px;
}
header .util {
    display: flex;
    gap: 0 2px;
}
header .util .mypage {
    background: url(../images/util_mypage.svg);
}
header .util .lang .lang_open {
    background: url(../images/util_lang.svg);
}
header .util .mypage,
header .util .lang .lang_open {
    width: 45px;
    height: 45px;
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (max-width:768px){
    header {
        height: 60px;
        padding: 0 0 0 16px;
    }
    header .logo a {
        width: 79px;
        height: 30px;
    }
    header .gnb .gnb_open {
        display: block; /* 모바일에서만 표시 */
        width: 60px;
        height: 60px;
        background: url(../images/gnb_open.svg) no-repeat center center;
    }
    header .gnb .gnb_wrap {
        display: none; /* 모바일에서만 숨김 */
    }
    header .util {
        display: none; /* 모바일에서만 숨김 */
        gap: 0 2px;
    }
}

.visual {
    position: relative; /* btn_wrap 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이와 동일하게 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual_bg03.jpg);
}

.visual .swiper-slide h3 {
    font-size: 60px;
    margin: 150px 0 0 0;
}
.visual .btn_wrap {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 630px);
    /* 1260px의 절반 */
    top: calc(70% + 40px);
    z-index: 1;
    display: flex;
    gap: 0 14px;
}
.visual .btn_wrap button {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev {
    background-image: url(../images/visual_arrow.svg);
}
.visual .btn_wrap button.btn_play {
    background-image: url(../images/visual_play.svg);
    display: none; /* stop 버튼이 눌려야만 보임 */
}
.visual .btn_wrap button.btn_stop {
    background-image: url(../images/visual_stop.svg);
}
.visual .btn_wrap button.btn_next {
    background-image: url(../images/visual_arrow.svg);
    transform: rotate(180deg);
}
@media screen and (max-width:768px){
                        .visual .swiper-slide {
                            align-items: flex-end;
                        }
                        .visual .swiper-slide h3 {
                            font-size: 32px;
                            margin: 0;
                        }
                        .visual .swiper-slide h3 br {
                            display: none;
                        }
                        .visual .swiper-slide p {
                            margin-bottom: 100px;
                        }
                        .visual .btn_wrap {
                            left: 50%;
                            transform: translateX(-50%);
                            top: auto;
                            bottom: 16px;
                            z-index: 1;
                            display: flex;
                            gap: 0 14px;
                        }
                        .visual .btn_wrap button {
                            width: 27px;
                            height: 27px;
                        }
                        .visual .btn_wrap button.btn_prev {
                            background-image: url(../images/visual_arrow_mo.svg);
                        }
                        .visual .btn_wrap button.btn_play {
                            background-image: url(../images/visual_play_mo.svg);
                        }
                        .visual .btn_wrap button.btn_stop {
                            background-image: url(../images/visual_stop_mo.svg);
                        }
                        .visual .btn_wrap button.btn_next {
                            background-image: url(../images/visual_arrow_mo.svg);
                        }
}/* @media */

.biz {
    margin: 170px 0 10px 0;
}
.biz .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.biz .tit {
    position: sticky;
    /* 감싸는 요소중에서 단한개라도 overflow:hidden; 속성을 주면 작동을 안 함. */
    top: 200px;
}
.biz .tit h2 {
    color: #1d1d1d;
}
.biz .list {
    width: 780px;
    padding-bottom: 195px;
}
.biz .list ul {
    display: flex;
    flex-wrap: wrap; /* 여러줄 허용 */
    gap: 60px 60px;
}
.biz .list ul li {
    width: calc(50% - 30px);
    /* 100 / 한줄에 나오는 li 갯수 = 100/2 = 50% 
        한줄의 여백의 합 / 한줄에 나오는 li의 갯수 = 60/2 = 30px*/
}
.biz .list ul li:nth-child(even) { /*odd - 홀수(왼쪽) even - 짝수(오른쪽) */
    transform: translateY(205px);
}
.biz .list ul li a {
    display: block;
    position: relative; /* txt 정렬의 기준 */
}
.biz .list ul li a .photo {
    position: relative; /* before 정렬의 기준 */
    overflow: hidden;
    height: 500px;
    border-radius: 20px;
}
.biz .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1E3A8A;
    opacity: 0;
    transition: 0.5s;
}
.biz .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li a .txt {
    position: absolute; /* a를 기준으로 정렬 */
    left: 38px;
    width: calc(100% - 76px);
    bottom: -43px;
    color: #fff;
    text-align: center;
    transition: 0.5s;
}
.biz .list ul li a .txt h3 {
    font-size: 32px;
}
.biz .list ul li a .txt p {
    opacity: 0;
    margin-top: 16px;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
}

@media screen and (min-width:769px){ /*769이상에서 적용*/
    /* .biz a에 마우스를 오버 했을 때 */
    .biz .list ul li a:hover .photo::before {
        opacity: 0.85;
    }
    .biz .list ul li a:hover .txt {
        top: auto;
        bottom: 53px;
    }
    .biz .list ul li a:hover .txt p {
        opacity: 1;
    }
}/*@media*/
@media screen and (max-width:768px){ /*768(포함)이하에 적용*/
                        .biz {
                            margin: 79px 0 0 0;
                        }
                        .biz .wrapper {
                            display: block; /* flex -> block으로 변경*/
                            justify-content: space-between;
                            align-items: flex-start;
                        }
                        .biz .tit {
                            position: relative; /*sticky -> relative으로 변경*/
                            top: auto; /* auto는 선언하지 않은 것처럼 해지. 0이랑 다름 */
                        }
                        .biz .tit p {
                            margin: 4px 0 33px 0;
                            font-size: 15px;
                        }
                        .biz .list {
                            width: auto; /* auto는 선언하지 않은 것처럼 해지. 0이랑 다름 */
                            padding-bottom: 0;
                        }
                        .biz .list ul {
                            flex-wrap: nowrap; /* 한줄 */
                            flex-direction: column; /**/
                            gap: 15px 0;
                        }
                        .biz .list ul li {
                            width: auto; /*???*/
                        }
                        .biz .list ul li:nth-child(even) { /*odd - 홀수(왼쪽) even - 짝수(오른쪽) */
                            transform: translateY(0);
                        }
                        .biz .list ul li a .photo {
                            height: 200px;
                            border-radius: 10px;
                        }
                        .biz .list ul li a .photo::before {
                            display: none;
                        }
                        .biz .list ul li a .txt {
                            position: relative; /* absolute -> relative */
                            left: auto;
                            width: auto;
                            bottom: auto;
                            color: #1d1d1d;
                        }
                        .biz .list ul li a .txt h3 {
                            font-size: 22px;
                            margin: 12px 0 37px 0;
                        }
                        .biz .list ul li a .txt h3 br {
                            display: none;
                        }
                        .biz .list ul li a .txt p {
                            display: none;
                        }
}/* @media */

.notice {
    margin: 200px  0 0 0;
    background-color: #EFEFEF;
    padding: 170px 0 158px 0;
}
.notice .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.notice .tit h2 {
    color: #1d1d1d;
}
.notice .list {
    margin: 58px 0 0 0;
}
.notice .list ul li {
    margin: 0 0 30px 0;
}
.notice .list ul li:last-child {
    margin-bottom: 0; /* 하단 여백만 0처리 */
}
.notice .list ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 25px 30px;
    box-shadow: 0 10px 10px 0 rgba(80, 80, 80, 0.2);
    transition: 0.3s;
}
.notice .list ul li a .inner {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 0 20px;
    width: calc(100% - 150px);
}
.notice .list ul li a .inner strong {
    display: block;
    padding: 4px 14px 1px 14px;
    background-color: #2DA222;
    border-radius: 20px;
    color: #fff;
}
.notice .list ul li.cate_sch a .inner strong {
    background-color: #316CF5;
}
.notice .list ul li a .inner h3 {
    padding: 3px 0 0 0;
    font-weight: 500;
    color: #1d1d1d;
    /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 오버 스타일 */
.notice .more {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 45px;
}
.notice .more a {
    display: block;
    padding: 0 37px 0 0;
    color: #1d1d1d;
}
.notice .more a::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    left: 55px;
    top: 2px;
    width: 24px;
    height: 24px;
    background: url(../images/notice_more.svg) no-repeat center center;
}
.notice .more a:hover {
    font-weight: 700;
}

@media screen and (min-width:769px){
    .notice .list ul li a:hover {
        background-color: #316CF5;
        box-shadow: 0 10px 10px 0 rgba(80, 80, 80, 0.4);
    }
    .notice .list ul li a:hover .inner strong {
        background-color: #fff;
        color: #316CF5;
    }
    .notice .list ul li a:hover .inner h3 {
        font-weight: 700;
        color: #fff;
    }
    .notice .list ul li a:hover span {
        font-weight: 700;
        color: rgba(255, 255, 255, 0.8);
    }
    .notice .more a:hover::after,
    .webzine .more a:hover::after {
        animation: more 1s linear infinite;
    }
    @keyframes more {
        0% { transform: translateX(0)}
        50% { transform: translateX(10px)}
        100% { transform: translateX(0)}
    }
} /*@media*/
@media screen and (max-width:768px){
            .notice {
                margin: 90px 0 0 0;
                padding: 79px 0 84px 0;
            }
            .notice .tit {
                width: calc(100% - 60px);
            }
            .notice .list {
                margin: 43px 0 0 0;
            }
            .notice .list ul li {
                margin: 0 0 16px 0;
            }
            .notice .list ul li:last-child {
                display: none; /* 마지막 기사 삭제 */
            }
            .notice .list ul li a {
                display: block; /* flex -> block으로 교체*/
                border-radius: 10px;
                padding: 17px 15px;
                transition: none;
            }
            .notice .list ul li a .inner {
                display: block;
                align-items: center;
                font-size: 16px;
                font-weight: 500;
                width: auto;
            }
            .notice .list ul li a .inner strong {
                display: inline-block;
            }
            .notice .list ul li a .inner h3 {
                padding: 12px 0 14px 0;
                /* 1줄 제한 */
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .notice .list ul li a span {
                font-size: 15px;
            }
            .notice .more {
                top: 40px; /*????*/
            }
            .notice .more a {
                padding: 0;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background: #1d1d1d url(../images/notice_more2.svg) no-repeat center center;
            }
            .notice .more a::after {
                display: none;
            }
            .notice .more a span {
                display: none;
            }
}/*@media*/

.webzine {
    margin: 170px 0 0 0;
    padding-bottom: 50px;
    overflow: hidden;
    position: relative; /* more 정렬의 기준 */
}

.webzine .tit h2 {
    padding: 4px 0 0 0;
    color: #1d1d1d;
}
.webzine .list {
    width: calc(50% + 630px);
    position: relative;
    left: calc(50% - 630px);
    margin: 35px 0 0 0;
}
.webzine .list .swiper {
    overflow: visible;
    /* overflow: hidden; */
}
.webzine .list .swiper-slide {
    width: 404px;
}
.webzine .list .swiper-slide a {
    display: block;
    background-color: #FCFCFC;
    box-shadow: 0 10px 10px 0 rgba(80, 80, 80, 0.2);
    border-radius: 20px;
    height: 699px;
    transition: 0.5s;
}
.webzine .list .swiper-slide a .photo {
    overflow: hidden;
    height: 284px;
    border-radius: 20px 20px 0 0;
}
.webzine .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.webzine .list .swiper-slide a .txt {
    margin: 20px 30px 0 30px;
}
.webzine .list .swiper-slide a .txt strong {
    background-color: #316CF5;
    border-radius: 20px;
    font-weight: 700;
    color: #fff;
    padding: 5px 16px 6px 16px;
}
.webzine .list .swiper-slide a .txt strong.cate_learning {
    background-color: #4F44EB;
}
.webzine .list .swiper-slide a .txt strong.cate_global {
    background-color: #2DA222;
}
.webzine .list .swiper-slide a .txt strong.cate_mentor {
    background-color: #DA4126;
}
.webzine .list .swiper-slide a .txt h3 {
    margin: 26px 0 23px 0;
    font-size: 28px;
    color: #1d1d1d;
    word-break: normal; 
    /* 2줄 제한 */
    line-height: 1.4;
    height: 2.8em; /* 행간 * 줄수 = 1.4*2*/
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.webzine .list .swiper-slide a .txt p {
    word-break: normal;
    margin: 0 0 22px 0;
    line-height: 1.5;
    /* 6줄 제한 */
    height: 9em; /* 행간 * 줄수 = 1.5* 6 */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.webzine .list .swiper-slide a .txt span {
    color: #777;
}
.webzine .more {
    position: absolute; /* webzine을 기준으로 정렬*/
    right: calc(50% - 630px);
    top: 40px;
}
.webzine .more a {
    display: block;
    padding: 0 37px 0 0;
    color: #1d1d1d;
}
.webzine .more a::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    left: 55px;
    top: 2px;
    width: 24px;
    height: 24px;
    background: url(../images/notice_more.svg) no-repeat center center;
}
@media screen and (min-width:769px){
        /* 오버스타일 */
        .webzine .list .swiper-slide:hover a {
            box-shadow: 0 10px 10px 0 rgba(80, 80, 80, 0.4);
            transform: translateY(-20px);
        }
        .webzine .more a:hover {
            font-weight: 700;
        }
} /* media */
@media screen and (max-width:768px){
        .webzine {
            margin: 85px 0 0 0;
        }
        .webzine .list {
            width: auto;
            position: relative;
            left: auto;
            margin: 20px 16px 0 16px;
        }
        .webzine .list .swiper-slide {
            width: 300px;
        }
        .webzine .list .swiper-slide a {
            border-radius: 10px;
            height: 560px;
        }
        .webzine .list .swiper-slide a .photo {
            height: 250px;
            border-radius: 10px 10px 0 0;
        }
        .webzine .list .swiper-slide a .txt {
            margin: 25px 16px 0 25px;
        }
        .webzine .list .swiper-slide a .txt strong {
            font-size: 16px;
        }
        .webzine .list .swiper-slide a .txt h3 {
            margin: 20px 0 20px 0;
            font-size: 22px;
        }
        .webzine .list .swiper-slide a .txt p {
            margin: 0 0 20px 0;
            line-height: 1.5;
            /* 3줄 제한 */
            height: 4.5em; /* 행간 * 줄수 = 1.5* 3 */
            -webkit-line-clamp: 3;
        }
        .webzine .list .swiper-slide a .txt span {
            font-size: 15px;
        }
        .webzine .more {
            right: 17px;
        }
        .webzine .more a {
            padding: 0;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background: #1d1d1d url(../images/notice_more2.svg) no-repeat center center;
        }
        .webzine .more a::after {
            display: none;
        }
        .webzine .more a  span{
            display: none;
        }
} /* media */





footer {
    margin: 1500px 0 0 0; 
 }