@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual {
    position: relative; /* btn_wrap 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이와 동일하게 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual_bg03.jpg);
}

.visual .swiper-slide h3 {
    font-size: 60px;
    margin: 150px 0 0 0;
}
.visual .btn_wrap {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 630px);
    /* 1260px의 절반 */
    top: calc(70% + 40px);
    z-index: 1;
    display: flex;
    gap: 0 14px;
}
.visual .btn_wrap button {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev {
    background-image: url(../images/visual_arrow.svg);
}
.visual .btn_wrap button.btn_play {
    background-image: url(../images/visual_play.svg);
    display: none; /* stop 버튼이 눌려야만 보임 */
}
.visual .btn_wrap button.btn_stop {
    background-image: url(../images/visual_stop.svg);
}
.visual .btn_wrap button.btn_next {
    background-image: url(../images/visual_arrow.svg);
    transform: rotate(180deg);
}
@media screen and (max-width:768px){
                        .visual .swiper-slide {
                            align-items: flex-end;
                        }
                        .visual .swiper-slide h3 {
                            font-size: 32px;
                            margin: 0;
                        }
                        .visual .swiper-slide h3 br {
                            display: none;
                        }
                        .visual .swiper-slide p {
                            margin-bottom: 100px;
                        }
                        .visual .btn_wrap {
                            left: 50%;
                            transform: translateX(-50%);
                            top: auto;
                            bottom: 16px;
                            z-index: 1;
                            display: flex;
                            gap: 0 14px;
                        }
                        .visual .btn_wrap button {
                            width: 27px;
                            height: 27px;
                        }
                        .visual .btn_wrap button.btn_prev {
                            background-image: url(../images/visual_arrow_mo.svg);
                        }
                        .visual .btn_wrap button.btn_play {
                            background-image: url(../images/visual_play_mo.svg);
                        }
                        .visual .btn_wrap button.btn_stop {
                            background-image: url(../images/visual_stop_mo.svg);
                        }
                        .visual .btn_wrap button.btn_next {
                            background-image: url(../images/visual_arrow_mo.svg);
                        }
}/* @media */

.biz {
    margin: 170px 0 10px 0;
}
.biz .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.biz .tit {
    position: sticky;
    top: 200px;
}
.biz .tit h2 {
    color: #1d1d1d;
}
.biz .list {
    width: 780px;
    padding-bottom: 195px;
}
.biz .list ul {
    display: flex;
    flex-wrap: wrap; /* 여러줄 허용 */
    gap: 60px 60px;
}
.biz .list ul li {
    width: calc(50% - 30px);
    /* 100 / 한줄에 나오는 li 갯수 = 100/2 = 50% 
        한줄의 여백의 합 / 한줄에 나오는 li의 갯수 = 60/2 = 30px*/
}
.biz .list ul li:nth-child(even) { /*odd - 홀수(왼쪽) even - 짝수(오른쪽) */
    transform: translateY(205px);
}
.biz .list ul li a {
    display: block;
    position: relative; /* txt 정렬의 기준 */
}
.biz .list ul li a .photo {
    position: relative; /* before 정렬의 기준 */
    overflow: hidden;
    height: 500px;
    border-radius: 20px;
}
.biz .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1E3A8A;
    opacity: 0;
    transition: 0.5s;
}
.biz .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li a .txt {
    position: absolute; /* a를 기준으로 정렬 */
    left: 38px;
    width: calc(100% - 76px);
    bottom: -43px;
    color: #fff;
    text-align: center;
    transition: 0.5s;
}
.biz .list ul li a .txt h3 {
    font-size: 32px;
}
.biz .list ul li a .txt p {
    opacity: 0;
    margin-top: 16px;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
}
/* .biz a에 마우스를 오버 했을 때 */
.biz .list ul li a:hover .photo::before {
    opacity: 0.85;
}
.biz .list ul li a:hover .txt {
    top: auto;
    bottom: 53px;
}
.biz .list ul li a:hover .txt p {
    opacity: 1;
}
@media screen and (max-width:768px){
                        .biz {
                            margin: 79px 0 0 0;
                        }
                        .biz .wrapper {
                            display: block; /* flex -> block으로 변경*/
                            justify-content: space-between;
                            align-items: flex-start;
                        }
                        .biz .tit {
                            position: relative; /*sticky -> relative으로 변경*/
                            top: auto; /* auto는 선언하지 않은 것처럼 해지. 0이랑 다름 */
                        }
                        .biz .tit p {
                            margin: 4px 0 33px 0;
                            font-size: 15px;
                        }
                        .biz .list {
                            width: auto; /* auto는 선언하지 않은 것처럼 해지. 0이랑 다름 */
                            padding-bottom: 0;
                        }
                        .biz .list ul {
                            flex-wrap: nowrap; /* 한줄 */
                            flex-direction: column; /**/
                            gap: 15px 0;
                        }
                        .biz .list ul li {
                            width: auto; /*???*/
                        }
                        .biz .list ul li:nth-child(even) { /*odd - 홀수(왼쪽) even - 짝수(오른쪽) */
                            transform: translateY(0);
                        }
                        .biz .list ul li a .photo {
                            height: 200px;
                            border-radius: 10px;
                        }
                        .biz .list ul li a .photo::before {
                            display: none;
                        }
                        .biz .list ul li a .txt {
                            position: relative; /* absolute -> relative */
                            left: auto;
                            width: auto;
                            bottom: auto;
                            color: #1d1d1d;
                        }
                        .biz .list ul li a .txt h3 {
                            font-size: 22px;
                            margin: 12px 0 37px 0;
                        }
                        .biz .list ul li a .txt h3 br {
                            display: none;
                        }
                        .biz .list ul li a .txt p {
                            display: none;
                        }
}/* @media */










footer {
    margin: 1500px 0 0 0; 
 }