/**********************
* 파일명 : main.css
* 작성자 : 함지훈
* 작성일 : 25-10-23
* 설  명 : index파일 (메인페이지)에서만 호출하는 css
            메인페이지 (index)의 스타일이 이 페이지에서 선언됨 (header/footer 제외)
            default.css (태그의 초기화 - 브라우저가 주는 기본 스타일 삭제)
            common.css (wrapper, blind 처럼 모든 페이지에서 반복되는 기본 스타일 
            - 변수도 여기서 선언, 변수가 너무 많으면 var이라는 파일을 분리도 함)
            layout.css (문서의 구조에 영향을 끼치는 요소 - header/footer가 들어감)
**********************/
@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

section .tit h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 10px;
}

.visual {
    position: relative; /* ctrl_btn 정렬의 기준*/
}
.visual .swiper {
    width: 100%;
    height: 100dvh;
}
.visual .swiper-slide .photo, 
.visual .swiper-slide .video {
    position: absolute; /* swiper-slide를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper-slide .photo img,
.visual .swiper-slide .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper-slide .photo img {
    transition: transform 3s;
}
.visual .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.visual .swiper-slide .txt {
    color: #fff;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.visual .swiper-slide .txt h3 {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 10px;
    /* 글자 나타나는 효과 */
    transition: transform 1s, opacity 1s;
    transition-delay: 0.3s;
    transform: translate(0, 50px);
    opacity: 0;
}
.visual .swiper-slide .txt p {
    margin: 0 0 calc(20dvh + 130px) 0;
    /* 글자 나타나는 효과 */
    transition: transform 1s, opacity 1s;
    transition-delay: 0.7s;
    transform: translate(0, 50px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active .txt h3,
.visual .swiper-slide.swiper-slide-active .txt p {
    transform: translate(0, 0);
    opacity: 1;
}
.visual .ctrl_btn {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 630px);
    bottom: 20%;
    z-index: 1;
    display: flex;
    gap: 0 13px;
}
.visual .ctrl_btn .paging {
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
}
.visual .ctrl_btn .paging .current,
.visual .ctrl_btn .paging .total {
    margin-bottom: 8px;
    font-size: 2.4rem;
}
.visual .ctrl_btn .paging .bar {
    width: 200px;
    height: 5px;
    background-color: var(--color-white50);
    margin: 0 10px;
    position: relative; /* before 정렬의 기준 */
}
.visual .ctrl_btn .paging .bar span {
    position: absolute; /* bar를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-white);
}
.visual .ctrl_btn .stop,
.visual .ctrl_btn .play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    fill: var(--color-white);
    margin-top: 11px;
}
.visual .ctrl_btn .play {
    display: none; /* 숨김처리 */
}
.visual .ctrl_btn .stop i {
    display: block;
    width: 10px;
    /* 이미지나 svg 아이콘은 넓이만 넣어줘도 높이는 비율에 맞게 들어감 */
}
.visual .ctrl_btn .play i {
    display: block;
    width: 11px;
}
.visual .scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12%;
    z-index: 1;
    color: var(--color-white);
    font-size: 1.5rem;
}
.visual .scroll::after {
    content: "";
    position: absolute;
    left: 28px;
    bottom: -25px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 23.8px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 15' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.8035 2.11191L11.9018 14.0137L-4.37114e-07 2.11191L2.11256 -0.000652423L11.9018 9.78855L21.691 -0.000653442L23.8035 2.11191Z' /%3E%3C/svg%3E%0A");
    animation: scroll 1.2s linear infinite;
}
@keyframes scroll {
    0% { bottom: -25px;}    
    50% { bottom: -45px;}
    100% { bottom: -25px;}
}
@media screen and (max-width:1320px){
    .visual .ctrl_btn {
        left: 30px;
    }
} /*@media*/
@media screen and (max-width:1024px){
    .visual .swiper-slide .txt h3 {
        font-size: 50px;
    }
    .visual .swiper-slide .txt p {
        margin: 0 0 25dvh 0;
    }
    .visual .ctrl_btn {
        bottom: 15dvh;
    }
} /*@media*/
@media screen and (max-width:768px){
    .visual .swiper {
        height: 700px;
    }
    .visual .swiper-slide .txt p {
        margin: 0 0 20dvh 0;
    }
    .visual .ctrl_btn {
        left: 16px;
        bottom: 10dvh;
    }
    .visual .scroll {
        display: none;
    }
} /*@media*/
@media screen and (max-width:640px){
    .visual .swiper-slide .txt h3 {
        font-size: 32px;
    }
    .visual .swiper-slide .txt p {
        font-size: 15px;
    }
}/*@media*/

.company {
    background-color: #3C312B;
    padding: 120px 0 115px 0;
}
.company .tit h2 {
    color: #fff;
    margin-bottom: 10px;
}
.company .tit h2 span {
    color: #C79A63;
}
.company .tit p {
    color: var(--color-white80);
}
.company .list {
    margin-top: 60px;
}
.company .list ul {
    display: flex;
}
.company .list ul li {
    width: 33.33%;
    height: 550px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/main/company01.jpg);
    border: 1px solid #C79A63;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 0px 1.5% 2.5% 1.5%;
    transition: width 0.8s;
    position: relative; /* before 정렬의 기준 */
    overflow: hidden;
}
.company .list ul li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 1));
}
.company .list ul li .txt {
    position: relative;
    z-index: 10;
    color: #fff;
}
.company .list ul li .txt h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 10px;
}

.company .list ul li.company02 {
    background-image: url(../images/main/company02.jpg);
}
.company .list ul li.company03 {
    background-image: url(../images/main/company03.jpg);
}
@media screen and (min-width:1025px){
    .company .list ul li.active {
        width: 60%;
        align-items: flex-start;
        text-align: left;
    }
    .company .list ul li .txt {
        transform: translateY(40px);
        transition: transform 0.5s;
        overflow: hidden;
        max-height: 100px;
    }
    .company .list ul li.active .txt {
        transform: translateY(0);
    }
    .company .list ul li .txt p {
        color: var(--color-white80);
        opacity: 0;
    }
    .company .list ul li.active .txt p {
        opacity: 1;
        padding-bottom: 50px;
        transition: 1s;
    }
    .company .list.over ul li:not(.active) {
    /* li중에서 actvie가 없는 li 전부 다 */
        color: var(--color-white80);
    }
    .company .list.over ul li:not(.active) .txt h3 {
        font-size: 28px;
    }
    .company .list.over ul li:not(.active)::before {
        height: 100%;
        background: rgba(0, 0, 0, 0.8)
    }
} /*media*/
@media screen and (max-width:1024px){
    .company {
        padding: 90px 0;
    }
    .company .tit h2 {
        font-size: 32px;
    }
    .company .list {
        overflow-x: auto; /* 가로 스크롤 허용 */
        margin-top: 30px;
    }
    .company .list::-webkit-scrollbar {
        display: none;
    }
    .company .list ul {
        gap: 0 16px;
        width: 833px; 
        /*
            li의 넓이 267px * 3 = 801px
            li 사이의 여백 (16px) * 2 = 32px
            801 + 32 = 833px
        */
        margin: var(--wrapper-margin);
    }
    .company .list ul li {
        width: 267px;
        height: 394px;
        padding: 0px 30px 30px 30px;
        border: 0;
        border-radius: 10px;
    }
    .company .list ul li:first-child {
        border-left: 0;
    }
    .company .list ul li .txt {
        white-space: wrap; /*줄바꿈 허용*/
    }
    .company .list ul li .txt h3 {
        font-size: 20px;
        margin: 5px 0 0 0;
    }
    .company .list ul li .txt p {
        display: none;
    }
}/* @media */

.product {
    background: url(../images/main/product/product_bg.jpg) no-repeat center center / cover;
    color: #fff;
    padding: 110px 0 130px 0;
    position: relative;
}
.product::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.product .wrapper {
    position: relative;
    z-index: 1;
}
.product .tit {
    text-align: center;
}
.product .tit h2 span {
    color: #C79A63;
    position: relative;
}
.product .tit h2 span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #C79A63;
}
.product .tit p {
    color: var(--color-white70);
    margin-top: 10px;
}
.product .tab_list {
    margin: 30px 0 110px;
}
.product .tab_list ul {
    display: flex;
    justify-content: center;
    gap: 0 16px;
}
.product .tab_list ul li button {
    display: block;
    padding: 9px 27px;
    border: 1px solid #C79A63;
    color: #C79A63;
}
.product .tab_list ul li.active button {
    background-color: #C79A63;
    font-weight: 700;
    color: #fff;
}
.product .tab_content .tab_item {
    display: flex;
    gap: 0 24px;
}
.product .tab_content .tab_item {
    display: none; /* active 클래스가 있는 요소만 보임 */
}
.product .tab_content .tab_item.active {
    display: flex;
}
.product .tab_content .tab_item .photo {
    width: 40%;
    overflow: hidden;
}
.product .tab_content .tab_item .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product .tab_content .tab_item .photo:hover img {
    transition: 0.5s;
    transform: scale3d(1.2, 1.2, 1);
}
.product .tab_content .tab_item .group {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product .tab_content .tab_item .group .txt {
    padding: 15px 0 0 0;
    position: relative;
}
.product .tab_content .tab_item .group .txt strong {
    font-weight: 700;
    color: #C79A63;
}
.product .tab_content .tab_item .group .txt h4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    margin: 5px 0 20px 0;
}
.product .tab_content .tab_item .group .txt p {
    color: var(--color-white80);
    word-break: break-all; /* 단어별 줄바꿈 x */
    padding-bottom: 30px;
}
.product .tab_content .tab_item .group .txt a {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.product .tab_content .tab_item .group .txt a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 35px;
    width: 70px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 66px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 69 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 24.5H67.5L44.4 1.5' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.product .tab_content .tab_item .group .photo_list ul {
    display: flex;
    gap: 0 24px;
}
.product .tab_content .tab_item .group .photo_list ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:768px){
    .product {
        padding: 80px 0 100px 0;
    }
    .product .tit h2 {
        font-size: 32px;
        font-weight: 800;
    }
    .product .tab_list {
        margin: 30px 0 50px;
    }
    .product .tab_list ul {
        gap: 0 10px;
    }
    .product .tab_list ul li button {
        padding: 7px 20px;
    }
    .product .tab_content .tab_item {
        display: flex;
        gap: 0;
    }
    .product .tab_content .tab_item {
        display: none; /* active 클래스가 있는 요소만 보임 */
    }
    .product .tab_content .tab_item.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product .tab_content .tab_item .photo {
        width: 50%;
        height: 250px;
    }
    .product .tab_content .tab_item .group {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .product .tab_content .tab_item .group .txt {
        padding: 30px 30px 0 30px;
    }
    .product .tab_content .tab_item .group .txt h4 {
        font-size: 24px;
        margin: 10px 0 20px 0;
    }
    .product .tab_content .tab_item .group .txt p {
        padding-bottom: 0;
    }
    .product .tab_content .tab_item .group .txt a::after {
        right: 30px;
        top: 50px;
        background-size: 50px;
    }
    .product .tab_content .tab_item .group .photo_list {
        display: none;
    }
}
@media screen and (max-width:640px){
    .product {
        overflow-x: hidden;
    }
    .product .tab_list {
        overflow-x: auto;
    }
    .product .tab_list ul {
        justify-content: normal;
        overflow-y: hidden;
        overflow-x: auto;
        scrollbar-width: none;
    }
    .product .tab_list ul li button {
        white-space: nowrap;
    }
    .product .tab_content .tab_item .group {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .product .tab_content .tab_item .group .txt {
        padding: 30px 0 0 0;
    }
    .product .tab_content .tab_item .group .txt a::after {
        right: 0;
    }
}