header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: var(--header-h);
    color: #fff;
    padding: 0 var(--wrapper-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    width: 127.77px;
    height: 30px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
header .gnb .gnb_open {
    display: none;
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex;
}
header .gnb .gnb_wrap ul.depth1 > li > a {
    display: block;
    line-height: var(--header-h);
    font-size: 2rem;
    font-weight: 700;
    padding: 0 25px;
}
header .util {
    display: flex;
    gap: 0 3px;
}
header .util .search .sch_open,
header .util .lang .lang_open,
header .util .mypage {
    display: block;
    width: 36px;
    height: 36px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .util .search .sch_open {
    background-size: 18px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 13C4.68333 13 3.14583 12.3708 1.8875 11.1125C0.629167 9.85417 0 8.31667 0 6.5C0 4.68333 0.629167 3.14583 1.8875 1.8875C3.14583 0.629167 4.68333 0 6.5 0C8.31667 0 9.85417 0.629167 11.1125 1.8875C12.3708 3.14583 13 4.68333 13 6.5C13 7.23333 12.8833 7.925 12.65 8.575C12.4167 9.225 12.1 9.8 11.7 10.3L17.3 15.9C17.4833 16.0833 17.575 16.3167 17.575 16.6C17.575 16.8833 17.4833 17.1167 17.3 17.3C17.1167 17.4833 16.8833 17.575 16.6 17.575C16.3167 17.575 16.0833 17.4833 15.9 17.3L10.3 11.7C9.8 12.1 9.225 12.4167 8.575 12.65C7.925 12.8833 7.23333 13 6.5 13ZM6.5 11C7.75 11 8.8125 10.5625 9.6875 9.6875C10.5625 8.8125 11 7.75 11 6.5C11 5.25 10.5625 4.1875 9.6875 3.3125C8.8125 2.4375 7.75 2 6.5 2C5.25 2 4.1875 2.4375 3.3125 3.3125C2.4375 4.1875 2 5.25 2 6.5C2 7.75 2.4375 8.8125 3.3125 9.6875C4.1875 10.5625 5.25 11 6.5 11Z' /%3E%3C/svg%3E%0A");
}
header .util .lang .lang_open {
    background-size: 20px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C8.63333 20 7.34167 19.7375 6.125 19.2125C4.90833 18.6875 3.84583 17.9708 2.9375 17.0625C2.02917 16.1542 1.3125 15.0917 0.7875 13.875C0.2625 12.6583 0 11.3667 0 10C0 8.61667 0.2625 7.32083 0.7875 6.1125C1.3125 4.90417 2.02917 3.84583 2.9375 2.9375C3.84583 2.02917 4.90833 1.3125 6.125 0.7875C7.34167 0.2625 8.63333 0 10 0C11.3833 0 12.6792 0.2625 13.8875 0.7875C15.0958 1.3125 16.1542 2.02917 17.0625 2.9375C17.9708 3.84583 18.6875 4.90417 19.2125 6.1125C19.7375 7.32083 20 8.61667 20 10C20 11.3667 19.7375 12.6583 19.2125 13.875C18.6875 15.0917 17.9708 16.1542 17.0625 17.0625C16.1542 17.9708 15.0958 18.6875 13.8875 19.2125C12.6792 19.7375 11.3833 20 10 20ZM10 17.95C10.4333 17.35 10.8083 16.725 11.125 16.075C11.4417 15.425 11.7 14.7333 11.9 14H8.1C8.3 14.7333 8.55833 15.425 8.875 16.075C9.19167 16.725 9.56667 17.35 10 17.95ZM7.4 17.55C7.1 17 6.8375 16.4292 6.6125 15.8375C6.3875 15.2458 6.2 14.6333 6.05 14H3.1C3.58333 14.8333 4.1875 15.5583 4.9125 16.175C5.6375 16.7917 6.46667 17.25 7.4 17.55ZM12.6 17.55C13.5333 17.25 14.3625 16.7917 15.0875 16.175C15.8125 15.5583 16.4167 14.8333 16.9 14H13.95C13.8 14.6333 13.6125 15.2458 13.3875 15.8375C13.1625 16.4292 12.9 17 12.6 17.55ZM2.25 12H5.65C5.6 11.6667 5.5625 11.3375 5.5375 11.0125C5.5125 10.6875 5.5 10.35 5.5 10C5.5 9.65 5.5125 9.3125 5.5375 8.9875C5.5625 8.6625 5.6 8.33333 5.65 8H2.25C2.16667 8.33333 2.10417 8.6625 2.0625 8.9875C2.02083 9.3125 2 9.65 2 10C2 10.35 2.02083 10.6875 2.0625 11.0125C2.10417 11.3375 2.16667 11.6667 2.25 12ZM7.65 12H12.35C12.4 11.6667 12.4375 11.3375 12.4625 11.0125C12.4875 10.6875 12.5 10.35 12.5 10C12.5 9.65 12.4875 9.3125 12.4625 8.9875C12.4375 8.6625 12.4 8.33333 12.35 8H7.65C7.6 8.33333 7.5625 8.6625 7.5375 8.9875C7.5125 9.3125 7.5 9.65 7.5 10C7.5 10.35 7.5125 10.6875 7.5375 11.0125C7.5625 11.3375 7.6 11.6667 7.65 12ZM14.35 12H17.75C17.8333 11.6667 17.8958 11.3375 17.9375 11.0125C17.9792 10.6875 18 10.35 18 10C18 9.65 17.9792 9.3125 17.9375 8.9875C17.8958 8.6625 17.8333 8.33333 17.75 8H14.35C14.4 8.33333 14.4375 8.6625 14.4625 8.9875C14.4875 9.3125 14.5 9.65 14.5 10C14.5 10.35 14.4875 10.6875 14.4625 11.0125C14.4375 11.3375 14.4 11.6667 14.35 12ZM13.95 6H16.9C16.4167 5.16667 15.8125 4.44167 15.0875 3.825C14.3625 3.20833 13.5333 2.75 12.6 2.45C12.9 3 13.1625 3.57083 13.3875 4.1625C13.6125 4.75417 13.8 5.36667 13.95 6ZM8.1 6H11.9C11.7 5.26667 11.4417 4.575 11.125 3.925C10.8083 3.275 10.4333 2.65 10 2.05C9.56667 2.65 9.19167 3.275 8.875 3.925C8.55833 4.575 8.3 5.26667 8.1 6ZM3.1 6H6.05C6.2 5.36667 6.3875 4.75417 6.6125 4.1625C6.8375 3.57083 7.1 3 7.4 2.45C6.46667 2.75 5.6375 3.20833 4.9125 3.825C4.1875 4.44167 3.58333 5.16667 3.1 6Z' /%3E%3C/svg%3E%0A");
}
header .util .mypage {
    background-size: 18px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 8C6.9 8 5.95833 7.60833 5.175 6.825C4.39167 6.04167 4 5.1 4 4C4 2.9 4.39167 1.95833 5.175 1.175C5.95833 0.391667 6.9 0 8 0C9.1 0 10.0417 0.391667 10.825 1.175C11.6083 1.95833 12 2.9 12 4C12 5.1 11.6083 6.04167 10.825 6.825C10.0417 7.60833 9.1 8 8 8ZM0 14V13.2C0 12.6333 0.145833 12.1125 0.4375 11.6375C0.729167 11.1625 1.11667 10.8 1.6 10.55C2.63333 10.0333 3.68333 9.64583 4.75 9.3875C5.81667 9.12917 6.9 9 8 9C9.1 9 10.1833 9.12917 11.25 9.3875C12.3167 9.64583 13.3667 10.0333 14.4 10.55C14.8833 10.8 15.2708 11.1625 15.5625 11.6375C15.8542 12.1125 16 12.6333 16 13.2V14C16 14.55 15.8042 15.0208 15.4125 15.4125C15.0208 15.8042 14.55 16 14 16H2C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14ZM2 14H14V13.2C14 13.0167 13.9542 12.85 13.8625 12.7C13.7708 12.55 13.65 12.4333 13.5 12.35C12.6 11.9 11.6917 11.5625 10.775 11.3375C9.85833 11.1125 8.93333 11 8 11C7.06667 11 6.14167 11.1125 5.225 11.3375C4.30833 11.5625 3.4 11.9 2.5 12.35C2.35 12.4333 2.22917 12.55 2.1375 12.7C2.04583 12.85 2 13.0167 2 13.2V14ZM8 6C8.55 6 9.02083 5.80417 9.4125 5.4125C9.80417 5.02083 10 4.55 10 4C10 3.45 9.80417 2.97917 9.4125 2.5875C9.02083 2.19583 8.55 2 8 2C7.45 2 6.97917 2.19583 6.5875 2.5875C6.19583 2.97917 6 3.45 6 4C6 4.55 6.19583 5.02083 6.5875 5.4125C6.97917 5.80417 7.45 6 8 6Z' /%3E%3C/svg%3E%0A");
}
/***header에 dark가 추가 되었을 때***/
header.dark {
    color: #111;
}
header.dark .logo a {
    background-image: url(../images/common/logo.svg);
}
header.dark .util .search .sch_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 13C4.68333 13 3.14583 12.3708 1.8875 11.1125C0.629167 9.85417 0 8.31667 0 6.5C0 4.68333 0.629167 3.14583 1.8875 1.8875C3.14583 0.629167 4.68333 0 6.5 0C8.31667 0 9.85417 0.629167 11.1125 1.8875C12.3708 3.14583 13 4.68333 13 6.5C13 7.23333 12.8833 7.925 12.65 8.575C12.4167 9.225 12.1 9.8 11.7 10.3L17.3 15.9C17.4833 16.0833 17.575 16.3167 17.575 16.6C17.575 16.8833 17.4833 17.1167 17.3 17.3C17.1167 17.4833 16.8833 17.575 16.6 17.575C16.3167 17.575 16.0833 17.4833 15.9 17.3L10.3 11.7C9.8 12.1 9.225 12.4167 8.575 12.65C7.925 12.8833 7.23333 13 6.5 13ZM6.5 11C7.75 11 8.8125 10.5625 9.6875 9.6875C10.5625 8.8125 11 7.75 11 6.5C11 5.25 10.5625 4.1875 9.6875 3.3125C8.8125 2.4375 7.75 2 6.5 2C5.25 2 4.1875 2.4375 3.3125 3.3125C2.4375 4.1875 2 5.25 2 6.5C2 7.75 2.4375 8.8125 3.3125 9.6875C4.1875 10.5625 5.25 11 6.5 11Z' /%3E%3C/svg%3E%0A");
}
header.dark .util .lang .lang_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C8.63333 20 7.34167 19.7375 6.125 19.2125C4.90833 18.6875 3.84583 17.9708 2.9375 17.0625C2.02917 16.1542 1.3125 15.0917 0.7875 13.875C0.2625 12.6583 0 11.3667 0 10C0 8.61667 0.2625 7.32083 0.7875 6.1125C1.3125 4.90417 2.02917 3.84583 2.9375 2.9375C3.84583 2.02917 4.90833 1.3125 6.125 0.7875C7.34167 0.2625 8.63333 0 10 0C11.3833 0 12.6792 0.2625 13.8875 0.7875C15.0958 1.3125 16.1542 2.02917 17.0625 2.9375C17.9708 3.84583 18.6875 4.90417 19.2125 6.1125C19.7375 7.32083 20 8.61667 20 10C20 11.3667 19.7375 12.6583 19.2125 13.875C18.6875 15.0917 17.9708 16.1542 17.0625 17.0625C16.1542 17.9708 15.0958 18.6875 13.8875 19.2125C12.6792 19.7375 11.3833 20 10 20ZM10 17.95C10.4333 17.35 10.8083 16.725 11.125 16.075C11.4417 15.425 11.7 14.7333 11.9 14H8.1C8.3 14.7333 8.55833 15.425 8.875 16.075C9.19167 16.725 9.56667 17.35 10 17.95ZM7.4 17.55C7.1 17 6.8375 16.4292 6.6125 15.8375C6.3875 15.2458 6.2 14.6333 6.05 14H3.1C3.58333 14.8333 4.1875 15.5583 4.9125 16.175C5.6375 16.7917 6.46667 17.25 7.4 17.55ZM12.6 17.55C13.5333 17.25 14.3625 16.7917 15.0875 16.175C15.8125 15.5583 16.4167 14.8333 16.9 14H13.95C13.8 14.6333 13.6125 15.2458 13.3875 15.8375C13.1625 16.4292 12.9 17 12.6 17.55ZM2.25 12H5.65C5.6 11.6667 5.5625 11.3375 5.5375 11.0125C5.5125 10.6875 5.5 10.35 5.5 10C5.5 9.65 5.5125 9.3125 5.5375 8.9875C5.5625 8.6625 5.6 8.33333 5.65 8H2.25C2.16667 8.33333 2.10417 8.6625 2.0625 8.9875C2.02083 9.3125 2 9.65 2 10C2 10.35 2.02083 10.6875 2.0625 11.0125C2.10417 11.3375 2.16667 11.6667 2.25 12ZM7.65 12H12.35C12.4 11.6667 12.4375 11.3375 12.4625 11.0125C12.4875 10.6875 12.5 10.35 12.5 10C12.5 9.65 12.4875 9.3125 12.4625 8.9875C12.4375 8.6625 12.4 8.33333 12.35 8H7.65C7.6 8.33333 7.5625 8.6625 7.5375 8.9875C7.5125 9.3125 7.5 9.65 7.5 10C7.5 10.35 7.5125 10.6875 7.5375 11.0125C7.5625 11.3375 7.6 11.6667 7.65 12ZM14.35 12H17.75C17.8333 11.6667 17.8958 11.3375 17.9375 11.0125C17.9792 10.6875 18 10.35 18 10C18 9.65 17.9792 9.3125 17.9375 8.9875C17.8958 8.6625 17.8333 8.33333 17.75 8H14.35C14.4 8.33333 14.4375 8.6625 14.4625 8.9875C14.4875 9.3125 14.5 9.65 14.5 10C14.5 10.35 14.4875 10.6875 14.4625 11.0125C14.4375 11.3375 14.4 11.6667 14.35 12ZM13.95 6H16.9C16.4167 5.16667 15.8125 4.44167 15.0875 3.825C14.3625 3.20833 13.5333 2.75 12.6 2.45C12.9 3 13.1625 3.57083 13.3875 4.1625C13.6125 4.75417 13.8 5.36667 13.95 6ZM8.1 6H11.9C11.7 5.26667 11.4417 4.575 11.125 3.925C10.8083 3.275 10.4333 2.65 10 2.05C9.56667 2.65 9.19167 3.275 8.875 3.925C8.55833 4.575 8.3 5.26667 8.1 6ZM3.1 6H6.05C6.2 5.36667 6.3875 4.75417 6.6125 4.1625C6.8375 3.57083 7.1 3 7.4 2.45C6.46667 2.75 5.6375 3.20833 4.9125 3.825C4.1875 4.44167 3.58333 5.16667 3.1 6Z' /%3E%3C/svg%3E%0A");
}
header.dark .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 8C6.9 8 5.95833 7.60833 5.175 6.825C4.39167 6.04167 4 5.1 4 4C4 2.9 4.39167 1.95833 5.175 1.175C5.95833 0.391667 6.9 0 8 0C9.1 0 10.0417 0.391667 10.825 1.175C11.6083 1.95833 12 2.9 12 4C12 5.1 11.6083 6.04167 10.825 6.825C10.0417 7.60833 9.1 8 8 8ZM0 14V13.2C0 12.6333 0.145833 12.1125 0.4375 11.6375C0.729167 11.1625 1.11667 10.8 1.6 10.55C2.63333 10.0333 3.68333 9.64583 4.75 9.3875C5.81667 9.12917 6.9 9 8 9C9.1 9 10.1833 9.12917 11.25 9.3875C12.3167 9.64583 13.3667 10.0333 14.4 10.55C14.8833 10.8 15.2708 11.1625 15.5625 11.6375C15.8542 12.1125 16 12.6333 16 13.2V14C16 14.55 15.8042 15.0208 15.4125 15.4125C15.0208 15.8042 14.55 16 14 16H2C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14ZM2 14H14V13.2C14 13.0167 13.9542 12.85 13.8625 12.7C13.7708 12.55 13.65 12.4333 13.5 12.35C12.6 11.9 11.6917 11.5625 10.775 11.3375C9.85833 11.1125 8.93333 11 8 11C7.06667 11 6.14167 11.1125 5.225 11.3375C4.30833 11.5625 3.4 11.9 2.5 12.35C2.35 12.4333 2.22917 12.55 2.1375 12.7C2.04583 12.85 2 13.0167 2 13.2V14ZM8 6C8.55 6 9.02083 5.80417 9.4125 5.4125C9.80417 5.02083 10 4.55 10 4C10 3.45 9.80417 2.97917 9.4125 2.5875C9.02083 2.19583 8.55 2 8 2C7.45 2 6.97917 2.19583 6.5875 2.5875C6.19583 2.97917 6 3.45 6 4C6 4.55 6.19583 5.02083 6.5875 5.4125C6.97917 5.80417 7.45 6 8 6Z' /%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1024px){
    header {
        padding-right: 0;
    }
    header .logo a {
        width: 85.18px;
        height: 20px;
    }
    body.fp-scrollable header .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 14' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2V0H18V2H0ZM0 14V12H18V14H0ZM0 8V6H18V8H0Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_open {
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 20px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 14' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2V0H18V2H0ZM0 14V12H18V14H0ZM0 8V6H18V8H0Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        display: none;
    }
    header .util {
        display: none;
    }
    /***header에 dark가 추가 되었을 때***/

    header.dark .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 14' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2V0H18V2H0ZM0 14V12H18V14H0ZM0 8V6H18V8H0Z' /%3E%3C/svg%3E%0A");
    }
} /*@media*/

/* fullpage 안 할 때 header 스타일 고정 
body에 fp-scrollable fp-responsive 클래스가 추가 됨 */
body.fp-scrollable header {
    background-color: #fff;
    color: #111;
}
body.fp-scrollable header .logo a {
    background-image: url(../images/common/logo.svg);
}
body.fp-scrollable header .util .search .sch_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 13C4.68333 13 3.14583 12.3708 1.8875 11.1125C0.629167 9.85417 0 8.31667 0 6.5C0 4.68333 0.629167 3.14583 1.8875 1.8875C3.14583 0.629167 4.68333 0 6.5 0C8.31667 0 9.85417 0.629167 11.1125 1.8875C12.3708 3.14583 13 4.68333 13 6.5C13 7.23333 12.8833 7.925 12.65 8.575C12.4167 9.225 12.1 9.8 11.7 10.3L17.3 15.9C17.4833 16.0833 17.575 16.3167 17.575 16.6C17.575 16.8833 17.4833 17.1167 17.3 17.3C17.1167 17.4833 16.8833 17.575 16.6 17.575C16.3167 17.575 16.0833 17.4833 15.9 17.3L10.3 11.7C9.8 12.1 9.225 12.4167 8.575 12.65C7.925 12.8833 7.23333 13 6.5 13ZM6.5 11C7.75 11 8.8125 10.5625 9.6875 9.6875C10.5625 8.8125 11 7.75 11 6.5C11 5.25 10.5625 4.1875 9.6875 3.3125C8.8125 2.4375 7.75 2 6.5 2C5.25 2 4.1875 2.4375 3.3125 3.3125C2.4375 4.1875 2 5.25 2 6.5C2 7.75 2.4375 8.8125 3.3125 9.6875C4.1875 10.5625 5.25 11 6.5 11Z' /%3E%3C/svg%3E%0A");
}
body.fp-scrollable header .util .lang .lang_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C8.63333 20 7.34167 19.7375 6.125 19.2125C4.90833 18.6875 3.84583 17.9708 2.9375 17.0625C2.02917 16.1542 1.3125 15.0917 0.7875 13.875C0.2625 12.6583 0 11.3667 0 10C0 8.61667 0.2625 7.32083 0.7875 6.1125C1.3125 4.90417 2.02917 3.84583 2.9375 2.9375C3.84583 2.02917 4.90833 1.3125 6.125 0.7875C7.34167 0.2625 8.63333 0 10 0C11.3833 0 12.6792 0.2625 13.8875 0.7875C15.0958 1.3125 16.1542 2.02917 17.0625 2.9375C17.9708 3.84583 18.6875 4.90417 19.2125 6.1125C19.7375 7.32083 20 8.61667 20 10C20 11.3667 19.7375 12.6583 19.2125 13.875C18.6875 15.0917 17.9708 16.1542 17.0625 17.0625C16.1542 17.9708 15.0958 18.6875 13.8875 19.2125C12.6792 19.7375 11.3833 20 10 20ZM10 17.95C10.4333 17.35 10.8083 16.725 11.125 16.075C11.4417 15.425 11.7 14.7333 11.9 14H8.1C8.3 14.7333 8.55833 15.425 8.875 16.075C9.19167 16.725 9.56667 17.35 10 17.95ZM7.4 17.55C7.1 17 6.8375 16.4292 6.6125 15.8375C6.3875 15.2458 6.2 14.6333 6.05 14H3.1C3.58333 14.8333 4.1875 15.5583 4.9125 16.175C5.6375 16.7917 6.46667 17.25 7.4 17.55ZM12.6 17.55C13.5333 17.25 14.3625 16.7917 15.0875 16.175C15.8125 15.5583 16.4167 14.8333 16.9 14H13.95C13.8 14.6333 13.6125 15.2458 13.3875 15.8375C13.1625 16.4292 12.9 17 12.6 17.55ZM2.25 12H5.65C5.6 11.6667 5.5625 11.3375 5.5375 11.0125C5.5125 10.6875 5.5 10.35 5.5 10C5.5 9.65 5.5125 9.3125 5.5375 8.9875C5.5625 8.6625 5.6 8.33333 5.65 8H2.25C2.16667 8.33333 2.10417 8.6625 2.0625 8.9875C2.02083 9.3125 2 9.65 2 10C2 10.35 2.02083 10.6875 2.0625 11.0125C2.10417 11.3375 2.16667 11.6667 2.25 12ZM7.65 12H12.35C12.4 11.6667 12.4375 11.3375 12.4625 11.0125C12.4875 10.6875 12.5 10.35 12.5 10C12.5 9.65 12.4875 9.3125 12.4625 8.9875C12.4375 8.6625 12.4 8.33333 12.35 8H7.65C7.6 8.33333 7.5625 8.6625 7.5375 8.9875C7.5125 9.3125 7.5 9.65 7.5 10C7.5 10.35 7.5125 10.6875 7.5375 11.0125C7.5625 11.3375 7.6 11.6667 7.65 12ZM14.35 12H17.75C17.8333 11.6667 17.8958 11.3375 17.9375 11.0125C17.9792 10.6875 18 10.35 18 10C18 9.65 17.9792 9.3125 17.9375 8.9875C17.8958 8.6625 17.8333 8.33333 17.75 8H14.35C14.4 8.33333 14.4375 8.6625 14.4625 8.9875C14.4875 9.3125 14.5 9.65 14.5 10C14.5 10.35 14.4875 10.6875 14.4625 11.0125C14.4375 11.3375 14.4 11.6667 14.35 12ZM13.95 6H16.9C16.4167 5.16667 15.8125 4.44167 15.0875 3.825C14.3625 3.20833 13.5333 2.75 12.6 2.45C12.9 3 13.1625 3.57083 13.3875 4.1625C13.6125 4.75417 13.8 5.36667 13.95 6ZM8.1 6H11.9C11.7 5.26667 11.4417 4.575 11.125 3.925C10.8083 3.275 10.4333 2.65 10 2.05C9.56667 2.65 9.19167 3.275 8.875 3.925C8.55833 4.575 8.3 5.26667 8.1 6ZM3.1 6H6.05C6.2 5.36667 6.3875 4.75417 6.6125 4.1625C6.8375 3.57083 7.1 3 7.4 2.45C6.46667 2.75 5.6375 3.20833 4.9125 3.825C4.1875 4.44167 3.58333 5.16667 3.1 6Z' /%3E%3C/svg%3E%0A");
}
body.fp-scrollable header .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 8C6.9 8 5.95833 7.60833 5.175 6.825C4.39167 6.04167 4 5.1 4 4C4 2.9 4.39167 1.95833 5.175 1.175C5.95833 0.391667 6.9 0 8 0C9.1 0 10.0417 0.391667 10.825 1.175C11.6083 1.95833 12 2.9 12 4C12 5.1 11.6083 6.04167 10.825 6.825C10.0417 7.60833 9.1 8 8 8ZM0 14V13.2C0 12.6333 0.145833 12.1125 0.4375 11.6375C0.729167 11.1625 1.11667 10.8 1.6 10.55C2.63333 10.0333 3.68333 9.64583 4.75 9.3875C5.81667 9.12917 6.9 9 8 9C9.1 9 10.1833 9.12917 11.25 9.3875C12.3167 9.64583 13.3667 10.0333 14.4 10.55C14.8833 10.8 15.2708 11.1625 15.5625 11.6375C15.8542 12.1125 16 12.6333 16 13.2V14C16 14.55 15.8042 15.0208 15.4125 15.4125C15.0208 15.8042 14.55 16 14 16H2C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14ZM2 14H14V13.2C14 13.0167 13.9542 12.85 13.8625 12.7C13.7708 12.55 13.65 12.4333 13.5 12.35C12.6 11.9 11.6917 11.5625 10.775 11.3375C9.85833 11.1125 8.93333 11 8 11C7.06667 11 6.14167 11.1125 5.225 11.3375C4.30833 11.5625 3.4 11.9 2.5 12.35C2.35 12.4333 2.22917 12.55 2.1375 12.7C2.04583 12.85 2 13.0167 2 13.2V14ZM8 6C8.55 6 9.02083 5.80417 9.4125 5.4125C9.80417 5.02083 10 4.55 10 4C10 3.45 9.80417 2.97917 9.4125 2.5875C9.02083 2.19583 8.55 2 8 2C7.45 2 6.97917 2.19583 6.5875 2.5875C6.19583 2.97917 6 3.45 6 4C6 4.55 6.19583 5.02083 6.5875 5.4125C6.97917 5.80417 7.45 6 8 6Z' /%3E%3C/svg%3E%0A");
}



footer {
    background-color: #111;
    color: var(--color-white60);
}
footer .f_head {
    background-color: #191919;
    border-bottom: 1px solid #333;
    position: relative; /* before 정렬의 기준 */
}
footer .f_head::before { /* 가운데 선 */
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #333;
}
footer .f_head .wrapper {
    display: flex;
    justify-content: space-between;
}
footer .f_head .item {
    width: calc(50% - 30px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
}
footer .f_head .item h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 5px;
}
footer .f_head .item p {
    font-size: 15px;
}
footer .f_head .item a {
    display: block;
    padding: 0.5882em 0.9412em 0.5882em 3.1176em;
    border-radius: 1.7647em;
    background-color: #10A53A;
    color: #fff;
    position: relative;
}
footer .f_head .item a::before {
    content: "";
    position: absolute;
    left: 1.1176em;
    top: 0.4706em;
    width: 1.5294em;
    height: 1.5294em;
    background-position: center center;
    background-repeat: no-repeat;
    
}
footer .f_head .item.letter a::before {
    background-size: 1.2747em;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8333 0L20.6375 5.85C20.9625 6.04861 21.2153 6.31944 21.3958 6.6625C21.5764 7.00556 21.6667 7.36667 21.6667 7.74583V19.5C21.6667 20.0958 21.4545 20.6059 21.0302 21.0302C20.6059 21.4545 20.0958 21.6667 19.5 21.6667H2.16667C1.57083 21.6667 1.06076 21.4545 0.636458 21.0302C0.212153 20.6059 0 20.0958 0 19.5V7.74583C0 7.36667 0.0902778 7.00556 0.270833 6.6625C0.451389 6.31944 0.704167 6.04861 1.02917 5.85L10.8333 0ZM10.8333 12.6208L19.2833 7.58333L10.8333 2.54583L2.38333 7.58333L10.8333 12.6208ZM10.8333 15.1667L2.16667 9.96667V19.5H19.5V9.96667L10.8333 15.1667Z' /%3E%3C/svg%3E%0A");
}
footer .f_head .item.support a::before {
    background-size: 1.3382em;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 23' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.25 11.9167L11.7542 7.52917C11.1944 6.9875 10.7205 6.38715 10.3323 5.72813C9.9441 5.0691 9.75 4.35139 9.75 3.575C9.75 2.58194 10.0976 1.73785 10.7927 1.04271C11.4878 0.34757 12.3319 0 13.325 0C13.9028 0 14.4444 0.121875 14.95 0.365625C15.4556 0.609375 15.8889 0.938889 16.25 1.35417C16.6111 0.938889 17.0444 0.609375 17.55 0.365625C18.0556 0.121875 18.5972 0 19.175 0C20.1681 0 21.0122 0.34757 21.7073 1.04271C22.4024 1.73785 22.75 2.58194 22.75 3.575C22.75 4.35139 22.5604 5.0691 22.1813 5.72813C21.8021 6.38715 21.3326 6.9875 20.7729 7.52917L16.25 11.9167ZM16.25 8.88333L19.2021 5.98542C19.5451 5.64236 19.8611 5.27674 20.15 4.88854C20.4389 4.50035 20.5833 4.0625 20.5833 3.575C20.5833 3.17778 20.4479 2.84375 20.1771 2.57292C19.9062 2.30208 19.5722 2.16667 19.175 2.16667C18.9222 2.16667 18.683 2.21632 18.4573 2.31563C18.2316 2.41493 18.0375 2.56389 17.875 2.7625L16.25 4.7125L14.625 2.7625C14.4625 2.56389 14.2684 2.41493 14.0427 2.31563C13.817 2.21632 13.5778 2.16667 13.325 2.16667C12.9278 2.16667 12.5938 2.30208 12.3229 2.57292C12.0521 2.84375 11.9167 3.17778 11.9167 3.575C11.9167 4.0625 12.0611 4.50035 12.35 4.88854C12.6389 5.27674 12.9549 5.64236 13.2979 5.98542L16.25 8.88333ZM6.5 17.875L14.0292 19.9333L20.475 17.9292C20.3847 17.7667 20.2538 17.6267 20.0823 17.5094C19.9108 17.392 19.7167 17.3333 19.5 17.3333H14.0292C13.5417 17.3333 13.1535 17.3153 12.8646 17.2792C12.5757 17.2431 12.2778 17.1708 11.9708 17.0625L9.45208 16.2229L10.0479 14.1104L12.2417 14.8417C12.5486 14.9319 12.9097 15.0042 13.325 15.0583C13.7403 15.1125 14.3542 15.1486 15.1667 15.1667C15.1667 14.9681 15.108 14.7785 14.9906 14.5979C14.8733 14.4174 14.7333 14.3 14.5708 14.2458L8.23333 11.9167H6.5V17.875ZM0 21.6667V9.75H8.23333C8.35972 9.75 8.48611 9.76354 8.6125 9.79063C8.73889 9.81771 8.85625 9.84931 8.96458 9.88542L15.3292 12.2417C15.925 12.4583 16.408 12.8375 16.7781 13.3792C17.1483 13.9208 17.3333 14.5167 17.3333 15.1667H19.5C20.4028 15.1667 21.1701 15.4646 21.8021 16.0604C22.434 16.6562 22.75 17.4417 22.75 18.4167V19.5L14.0833 22.2083L6.5 20.0958V21.6667H0ZM2.16667 19.5H4.33333V11.9167H2.16667V19.5Z' /%3E%3C/svg%3E%0A");
}
footer .f_sub {
    padding: 60px 0 60px 0;
    font-size: 15px;
}
footer .f_sub .wrapper {
    position: relative; /* sns 정렬의 기준 */
    display: flex;
    gap: 0 50px;
}
footer .f_sub .f_logo img {
    width: 127.77px;
}
footer .f_sub .sns {
    position: absolute;
    right: 0;
    bottom: 0;
}
footer .f_sub .sns ul li + li {
    margin-top: 10px;
}
footer .f_sub .sns ul li a {
    display: block;
    border: 1px solid var(--color-white40);
    border-radius: 30px;
    padding: 4px 14px 4px 47px;
    position: relative;
    color: #fff;
}
footer .f_sub .sns ul li a::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 4px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
}
footer .f_sub .sns ul li.blog a::before {
    background-size: 17.4px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4424 0C16.0686 0.000106538 17.3982 1.32987 17.3984 2.95605V10.0938C17.3984 11.7145 16.0745 13.0447 14.4482 13.0449H10.3457L9.64648 14.252L8.95898 15.4424C8.83043 15.6604 8.51749 15.6604 8.39453 15.4424L7.70703 14.252L7.00879 13.0449H2.95117C1.33031 13.0449 0 11.7202 0 10.0938V2.95117C0 1.33031 1.32472 0 2.95117 0H14.4424ZM13 5.2373C12.1785 5.23739 11.5137 5.92464 11.5137 6.76855C11.5138 7.61238 12.1785 8.29972 13 8.2998C13.3409 8.2998 13.6545 8.18195 13.9004 7.98633V8.41113C13.9004 8.41113 13.8106 8.83105 13.1846 8.83105V9.61914C13.1872 9.61944 13.8624 9.6962 14.4648 9.09375C14.4659 9.09266 14.7442 8.79666 14.8057 8.40625V5.29883H13.9004V5.5498C13.6489 5.35418 13.3354 5.2373 13 5.2373ZM2.59277 8.33301H3.4873V8.04785C3.73873 8.27134 4.05721 8.41103 4.40918 8.41113C5.20843 8.41113 5.85742 7.70172 5.85742 6.82422C5.85742 5.94672 5.21402 5.23145 4.40918 5.23145C4.06279 5.23154 3.73873 5.36565 3.4873 5.59473V4.28125H2.59277V8.33301ZM9.50098 5.23145C8.61253 5.23161 7.89175 5.94108 7.8916 6.81836C7.8916 7.69576 8.61244 8.40609 9.50098 8.40625C10.3897 8.40625 11.1113 7.69586 11.1113 6.81836C11.1112 5.94098 10.3952 5.23145 9.50098 5.23145ZM5.95801 4.20312V5.01367C5.96982 5.01535 6.3721 5.07521 6.44922 5.47168V8.33301H7.37207V5.44922C7.31617 5.04682 7.0752 4.74512 7.0752 4.74512C6.5553 4.13135 5.97011 4.2016 5.95801 4.20312ZM4.23047 6.02539C4.67751 6.02539 5.035 6.37694 5.03516 6.81836C5.03516 7.25991 4.6776 7.6123 4.23047 7.6123C3.9009 7.61221 3.61616 7.41668 3.49316 7.13184C3.45404 7.03682 3.42578 6.93014 3.42578 6.81836C3.42582 6.70671 3.44851 6.60077 3.49316 6.50586C3.6161 6.22088 3.9008 6.02548 4.23047 6.02539ZM9.50098 6.05859C9.92566 6.05859 10.2723 6.3993 10.2725 6.81836C10.2725 7.23755 9.93134 7.5791 9.50098 7.5791C9.07634 7.57894 8.72949 7.23745 8.72949 6.81836C8.72964 6.3994 9.07643 6.05876 9.50098 6.05859ZM13.168 5.98047C13.4865 5.98052 13.7663 6.15896 13.9004 6.41602C13.9563 6.52219 13.9834 6.63976 13.9834 6.7627C13.9834 6.88562 13.9507 7.00878 13.9004 7.10938C13.7663 7.37203 13.4865 7.54487 13.168 7.54492C12.7152 7.54492 12.3516 7.19306 12.3516 6.7627C12.3516 6.33236 12.7209 5.98047 13.168 5.98047Z' /%3E%3C/svg%3E%0A");
}
footer .f_sub .sns ul li.face a::before {
    background-size: 15.6px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6 7.84751C15.6 3.51299 12.1083 0 7.8 0C3.49172 0 0 3.51299 0 7.84751C0 11.7651 2.85187 15.0114 6.58125 15.6V10.1159H4.60078V7.84751H6.58125V6.11861C6.58125 4.15213 7.74516 3.06544 9.52758 3.06544C10.3807 3.06544 11.2734 3.21871 11.2734 3.21871V5.14993H10.2893C9.32039 5.14993 9.01875 5.75535 9.01875 6.37611V7.84751H11.182L10.8362 10.1159H9.01875V15.6C12.7481 15.0114 15.6 11.7651 15.6 7.84751Z' /%3E%3C/svg%3E%0A");
}
footer .f_sub .sns ul li.talk a::before {
    background-size: 13.5px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 13' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.74512 0C10.4735 0.000174958 13.499 2.4042 13.499 5.33301C13.499 8.26196 10.4825 10.6709 6.75391 10.6709C6.34632 10.6689 5.93892 10.6397 5.53516 10.584L2.79883 12.4287C2.76637 12.4565 2.72621 12.4741 2.68359 12.4775C2.63217 12.4774 2.58252 12.4578 2.54395 12.4238C2.51759 12.3972 2.49872 12.3636 2.49023 12.3271C2.48182 12.2907 2.48414 12.2523 2.49609 12.2168L3.13184 9.8418C1.25308 8.89278 0 7.23104 0 5.33301C5.1411e-05 2.40891 3.0117 0 6.74512 0ZM4.84277 3.74316C4.75874 3.73942 4.67477 3.75935 4.60156 3.80078C4.53281 3.84557 4.4831 3.91487 4.46191 3.99414L3.44043 6.76367C3.42116 6.81666 3.3877 6.87474 3.3877 6.92773C3.37943 6.97554 3.37943 7.02446 3.3877 7.07227C3.38515 7.09947 3.38514 7.12709 3.3877 7.1543C3.40186 7.23406 3.4444 7.30602 3.50781 7.35645C3.57298 7.40538 3.65291 7.43085 3.73438 7.42871C3.80956 7.43814 3.88609 7.42126 3.9502 7.38086C4.0142 7.34045 4.06203 7.27886 4.08594 7.20703L4.28809 6.61426H5.55566L5.75781 7.20703C5.78233 7.27751 5.8297 7.33774 5.89258 7.37793C5.9555 7.41813 6.03019 7.4361 6.10449 7.42871C6.15271 7.42986 6.20044 7.4205 6.24512 7.40234C6.28988 7.38411 6.33051 7.35686 6.36426 7.32227C6.39909 7.29074 6.42701 7.25225 6.44531 7.20898C6.46357 7.16579 6.47231 7.11913 6.4707 7.07227C6.47235 7.04178 6.47235 7.01096 6.4707 6.98047C6.45397 6.90712 6.43317 6.83464 6.4082 6.76367L5.44434 4.04199C5.4213 3.94556 5.36255 3.86099 5.28027 3.80566C5.20273 3.76169 5.11448 3.73997 5.02539 3.74316H4.84277ZM1.63281 3.80566C1.52926 3.80435 1.42763 3.83671 1.34375 3.89746C1.30586 3.92682 1.27595 3.96527 1.25586 4.00879C1.23576 4.05237 1.22623 4.1005 1.22852 4.14844C1.22623 4.17379 1.22623 4.19926 1.22852 4.22461C1.23618 4.26505 1.25218 4.3039 1.27539 4.33789C1.2986 4.37187 1.32841 4.401 1.36328 4.42285C1.44184 4.46955 1.53268 4.49288 1.62402 4.49023H2.36035L2.36523 7.02441C2.36054 7.0594 2.3605 7.0949 2.36523 7.12988C2.38105 7.21534 2.42722 7.29245 2.49512 7.34668C2.56659 7.4022 2.65562 7.43129 2.74609 7.42871C2.79779 7.43075 2.84937 7.42141 2.89746 7.40234C2.94551 7.38326 2.98917 7.35428 3.02539 7.31738C3.06305 7.27885 3.09229 7.23303 3.11133 7.18262C3.13035 7.13216 3.13857 7.07826 3.13574 7.02441V4.49023H3.84961C3.95135 4.49479 4.05197 4.46398 4.13379 4.40332C4.17162 4.37306 4.20162 4.33413 4.22168 4.29004C4.24172 4.24579 4.25122 4.19696 4.24902 4.14844C4.25136 4.12455 4.25133 4.10006 4.24902 4.07617C4.24257 4.0354 4.22735 3.99602 4.2041 3.96191C4.18078 3.92776 4.14996 3.89882 4.11426 3.87793C4.03705 3.82768 3.94558 3.80243 3.85352 3.80566H1.63281ZM11.4561 3.74316C11.3986 3.74208 11.3423 3.75777 11.293 3.78711C11.2405 3.82894 11.1905 3.87392 11.1436 3.92188L9.9248 5.32812V4.04688C9.90923 3.95987 9.86232 3.88121 9.79395 3.8252C9.71515 3.76789 9.61878 3.73986 9.52148 3.74512C9.4242 3.75045 9.33188 3.78896 9.25977 3.85449C9.18877 3.93563 9.15044 4.04066 9.15332 4.14844L9.125 7C9.12024 7.03516 9.12024 7.07129 9.125 7.10645C9.14092 7.19174 9.18705 7.26814 9.25488 7.32227C9.32477 7.377 9.41126 7.40605 9.5 7.4043C9.55316 7.40652 9.60656 7.39794 9.65625 7.37891C9.70583 7.3599 9.75105 7.33102 9.78906 7.29395C9.86007 7.21282 9.89837 7.10777 9.89551 7V6.19531L10.3242 5.74707L11.2207 7.19238C11.2578 7.26006 11.31 7.31831 11.374 7.36133C11.4333 7.39249 11.5005 7.40705 11.5674 7.4043C11.668 7.40565 11.7664 7.37412 11.8467 7.31348C11.8894 7.27717 11.9224 7.23067 11.9434 7.17871C11.9643 7.12676 11.9723 7.07038 11.9668 7.01465V6.99023C11.9402 6.90929 11.9016 6.83267 11.8516 6.76367V6.71582L10.8877 5.22266L11.6875 4.3457C11.7227 4.30593 11.7537 4.26242 11.7793 4.21582C11.8043 4.17186 11.8172 4.12188 11.8174 4.07129V4.00879C11.8105 3.96991 11.7959 3.93252 11.7744 3.89941C11.7529 3.86631 11.7251 3.83749 11.6924 3.81543C11.6229 3.76795 11.5402 3.7427 11.4561 3.74316ZM6.9707 3.74316C6.91841 3.7408 6.86617 3.74956 6.81738 3.76855C6.76843 3.78764 6.72352 3.81718 6.68652 3.85449C6.61395 3.93455 6.57617 4.04048 6.58105 4.14844L6.5957 6.88867C6.59218 6.94152 6.59219 6.995 6.5957 7.04785C6.61044 7.14398 6.66235 7.23082 6.74023 7.28906C6.82725 7.34565 6.93059 7.37288 7.03418 7.36621H8.66211C8.76576 7.36758 8.86722 7.33522 8.95117 7.27441C8.9891 7.24505 9.01896 7.20664 9.03906 7.16309C9.05911 7.11961 9.06863 7.07223 9.06641 7.02441V6.95215C9.05905 6.91172 9.04365 6.87283 9.02051 6.83887C8.99727 6.80484 8.96671 6.77553 8.93164 6.75391C8.85371 6.70566 8.76353 6.68049 8.67188 6.68164H7.34668V4.04688C7.33277 3.96041 7.28858 3.8817 7.22168 3.8252C7.14949 3.77104 7.06095 3.74211 6.9707 3.74316ZM5.39648 6.07031H4.48535L4.94336 4.625L5.39648 6.07031Z' /%3E%3C/svg%3E%0A");
}
footer .f_sub .sns ul li.insta a::before {
    background-size: 15.61px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_78_65)'%3E%3Cpath d='M7.80001 1.4058C9.88393 1.4058 10.1286 1.41509 10.9522 1.45224C11.7139 1.4863 12.1258 1.61326 12.4014 1.72164C12.7667 1.86407 13.0268 2.03128 13.2993 2.30377C13.5718 2.57626 13.7421 2.83636 13.8815 3.20175C13.9868 3.47733 14.1168 3.88916 14.1509 4.65089C14.188 5.47455 14.1973 5.71917 14.1973 7.8031C14.1973 9.88702 14.188 10.1316 14.1509 10.9553C14.1168 11.717 13.9899 12.1289 13.8815 12.4044C13.739 12.7698 13.5718 13.0299 13.2993 13.3024C13.0268 13.5749 12.7667 13.7452 12.4014 13.8846C12.1258 13.9898 11.7139 14.1199 10.9522 14.154C10.1286 14.1911 9.88393 14.2004 7.80001 14.2004C5.71608 14.2004 5.47146 14.1911 4.6478 14.154C3.88607 14.1199 3.47424 13.9929 3.19865 13.8846C2.83327 13.7421 2.57317 13.5749 2.30068 13.3024C2.02819 13.0299 1.85788 12.7698 1.71854 12.4044C1.61326 12.1289 1.48321 11.717 1.44915 10.9553C1.41199 10.1316 1.4027 9.88702 1.4027 7.8031C1.4027 5.71917 1.41199 5.47455 1.44915 4.65089C1.48321 3.88916 1.61016 3.47733 1.71854 3.20175C1.86098 2.83636 2.02819 2.57626 2.30068 2.30377C2.57317 2.03128 2.83327 1.86098 3.19865 1.72164C3.47424 1.61636 3.88607 1.4863 4.6478 1.45224C5.47146 1.41199 5.71918 1.4058 7.80001 1.4058ZM7.80001 0C5.68202 0 5.41573 0.0092894 4.58278 0.046447C3.75292 0.0836046 3.18627 0.216753 2.69083 0.408734C2.17682 0.606908 1.74331 0.8763 1.30981 1.30981C0.876301 1.74331 0.610005 2.17991 0.408734 2.69083C0.216753 3.18626 0.0836047 3.75292 0.046447 4.58587C0.00928941 5.41572 0 5.68202 0 7.8C0 9.91798 0.00928941 10.1843 0.046447 11.0172C0.0836047 11.8471 0.216753 12.4137 0.408734 12.9123C0.606908 13.4263 0.876301 13.8598 1.30981 14.2933C1.74331 14.7268 2.17991 14.9931 2.69083 15.1944C3.18627 15.3863 3.75292 15.5195 4.58587 15.5566C5.41882 15.5938 5.68202 15.6031 7.8031 15.6031C9.92419 15.6031 10.1874 15.5938 11.0203 15.5566C11.8502 15.5195 12.4168 15.3863 12.9154 15.1944C13.4294 14.9962 13.8629 14.7268 14.2964 14.2933C14.7299 13.8598 14.9962 13.4232 15.1975 12.9123C15.3895 12.4168 15.5226 11.8502 15.5598 11.0172C15.5969 10.1843 15.6062 9.92108 15.6062 7.8C15.6062 5.67892 15.5969 5.41572 15.5598 4.58277C15.5226 3.75292 15.3895 3.18626 15.1975 2.68773C14.9993 2.17372 14.7299 1.74021 14.2964 1.30671C13.8629 0.873204 13.4263 0.606908 12.9154 0.405637C12.4199 0.213656 11.8533 0.0805081 11.0203 0.0433505C10.1843 0.0092894 9.91799 0 7.80001 0Z' fill='white'/%3E%3Cpath d='M7.7998 3.79688C5.58892 3.79688 3.79297 5.58973 3.79297 7.8037C3.79297 10.0177 5.58582 11.8105 7.7998 11.8105C10.0138 11.8105 11.8066 10.0177 11.8066 7.8037C11.8066 5.58973 10.0138 3.79688 7.7998 3.79688ZM7.7998 10.4016C6.36304 10.4016 5.19876 9.23737 5.19876 7.80061C5.19876 6.36385 6.36304 5.19957 7.7998 5.19957C9.23656 5.19957 10.4008 6.36385 10.4008 7.80061C10.4008 9.23737 9.23656 10.4016 7.7998 10.4016Z' fill='white'/%3E%3Cpath d='M11.9644 4.56948C12.4809 4.56948 12.8996 4.15081 12.8996 3.63435C12.8996 3.11789 12.4809 2.69922 11.9644 2.69922C11.448 2.69922 11.0293 3.11789 11.0293 3.63435C11.0293 4.15081 11.448 4.56948 11.9644 4.56948Z' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_78_65'%3E%3Crect width='15.6' height='15.6' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .f_sub .sns ul li.youtube a::before {
    background-size: 14.65px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 11' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3469 1.61416C14.177 0.976991 13.6779 0.477877 13.0513 0.307965C11.9044 1.51913e-07 7.32743 0 7.32743 0C7.32743 0 2.73982 1.51913e-07 1.60354 0.307965C0.976991 0.477877 0.477876 0.976991 0.307965 1.61416C1.51913e-07 2.76106 0 5.16106 0 5.16106C0 5.16106 1.51913e-07 7.56106 0.307965 8.70797C0.477876 9.34514 0.976991 9.84425 1.60354 10.0142C2.75044 10.3221 7.32743 10.3221 7.32743 10.3221C7.32743 10.3221 11.915 10.3221 13.0513 10.0142C13.6779 9.84425 14.177 9.34514 14.3469 8.70797C14.6549 7.56106 14.6549 5.16106 14.6549 5.16106C14.6549 5.16106 14.6549 2.76106 14.3469 1.61416ZM5.83009 7.33806V2.98407L9.66372 5.16106L5.83009 7.33806Z' /%3E%3C/svg%3E%0A");
}
footer .f_sub .f_nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 40px;
}
footer .f_sub .f_info {
    margin: 20px 0 20px 0;
}
footer .f_sub .f_info span,
footer .f_sub .f_info address {
    display: inline-block;
    margin-right: 40px;
    line-height: 2;
}
footer .f_sub .copyright {
    color: var(--color-white40);
}
footer .f_sub .copyright p + p {
    margin-top: 10px;
}

@media screen and (max-width:1024px){
    footer .f_sub .wrapper {
        flex-direction: column;
        gap: 20px 0;
    }
    footer .f_head .item h2 {
        font-size: 22px;
    }
}
@media screen and (max-width:768px){
    footer .f_head .wrapper {
        margin: 0;
    }
    footer .f_head .item {
        width: 50%;
        flex-direction: column;
        text-align: center;
        padding: 30px 0;
    }
    footer .f_head .item h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    footer .f_head .item h2 span {
        display: none;
    }
    footer .f_head .item p {
        display: none;
    }
    footer .f_head .item a {
        padding: 3px 14px 3px 43px;
        border-radius: 30px;
    }
    footer .f_head .item a::before {
        left: 12px;
        top: 4px;
        width: 20px;
        height: 20px;
    }
    footer .f_head .item.letter a::before {
        background-size: 16.67px;
    }
    footer .f_head .item.support a::before {
        background-size: 16.5px;
    }
    footer .f_sub {
        padding: 60px 0 60px 0;
    }
    footer .f_sub .wrapper {
        position: relative; /* sns 정렬의 기준 */
        align-items: center;
        gap: 0 50px;
    }
    footer .f_sub .f_logo img {
        width: 127.77px;
    }
    footer .f_sub .sns {
        position: relative;
        right: 0;
        bottom: 0;
        margin: 20px 0 25px 0;
    }
    footer .f_sub .sns ul {
        display: flex;
        gap: 0 5px;
    }
    footer .f_sub .sns ul li + li {
        margin-top: 0;
    }
    footer .f_sub .sns ul li a {
        border-radius: 50%;
        padding: 0;
        width: 30px;
        height: 30px;
    }
    footer .f_sub .sns ul li a::before {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    footer .f_sub .sns ul li a span {
        display: none;
    }
    footer .f_sub .f_nav ul {
        display: flex;
        gap: 5px 40px;
    }
    footer .f_sub .f_info {
        margin: 20px 0 20px 0;
    }
}