@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 999;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
header .logo a {
    display: block;
    width: 157px;
    height: 60px;
    background: url(../images/logo.svg) no-repeat center center / contain;
}
header .gnb .gnb_open, 
header .gnb .gnb_close {
    display: none; /* 모바일에서만 표시 */
}
header .gnb ul {
    display: flex;
    gap: 0 56px;
}
header .gnb ul li a {
    display: block;
    font-size: 22px;
    line-height: 120px;

}
header .util {
    display: flex;
    gap: 0 15px;
}
header .util .mypage,
header .util .lang .lang_open {
    display: block;
    width: 29px;
    height: 29px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .util .mypage {
    background-image: url(../images/util_mypage.svg);
}

header .util .lang .lang_open {
    background-image: url(../images/util_lang.svg);
}
.visual {
    position: relative;
}
.visual .swiper .swiper-slide {
    height: 100dvh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .swiper .swiper-slide.popup1 {
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper .swiper-slide.popup2 {
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper .swiper-slide.popup3 {
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper .swiper-slide h3 {
    font-size: 60px;
}
.visual .swiper .swiper-slide p {
    margin: 13px 0 0 0;
}
.visual .btn_wrap {
    position: absolute;
    left: calc(50% - 630px);
    bottom: 30%;
    display: flex;
    z-index: 1;
    gap: 0 14px;
}
.visual .btn_wrap button {
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev {
    background-image: url(../images/visual_arrow.svg);
}
.visual .btn_wrap button.btn_play {
    background-image: url(../images/visual_play.svg);
    display: none; /* stop 버튼이 눌려야만 보임 */
}
.visual .btn_wrap button.btn_stop {
    background-image: url(../images/visual_stop.svg);
}
.visual .btn_wrap button.btn_next {
    background-image: url(../images/visual_arrow.svg);
    transform: rotate(180deg);
}
.biz {
    margin: 170px 0 0 0;
}
.biz .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.biz .tit {
    position: sticky;
    /* 감싸는 요소중에서 단한개라도 overflow:hidden; 속성을 주면 작동을 안 함. */
    top: 200px;
}
.biz .tit h2 {
    color: #1d1d1d;
}
.biz .list {
    width: 780px;
    padding-bottom: 195px;
}
.biz .list ul {
    display: flex;
    flex-wrap: wrap; /* 여러줄 허용 */
    gap: 60px 60px;
}
.biz .list ul li {
    width: calc(50% - 30px);
    /* 100 / 한줄에 나오는 li 갯수 = 100/2 = 50% 
        한줄의 여백의 합 / 한줄에 나오는 li의 갯수 = 60/2 = 30px*/
}
.biz .list ul li:nth-child(even) { /*odd - 홀수(왼쪽) even - 짝수(오른쪽) */
    transform: translateY(150px);
}
.biz .list ul li a {
    display: block;
    position: relative; /* txt 정렬의 기준 */
}
.biz .list ul li a .photo {
    height: 500px;
    border-radius: 20px;
    position: relative; /* before 정렬의 기준 */
    overflow: hidden;
}
.biz .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1E3A8A;
    opacity: 0;
    transition: 0.3s;
}
.biz .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li a .txt {
    position: absolute; /* a를 기준으로 정렬 */
    left: 50%;
    transform: translate(-50%);
    bottom: -43px;
    width: 284px;
    color: #fff;
    text-align: center;
    transition: 0.3s;
}
.biz .list ul li a .txt h3 {
    font-size: 32px;
}
.biz .list ul li a .txt p {
    opacity: 0;
    margin-top: 16px;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
}
/* hover 했을 시 */
.biz .list ul li a:hover .photo::before {
    opacity: 0.85;
}
.biz .list ul li a:hover .txt {
    top: auto;
    bottom: 53px;
}
.biz .list ul li a:hover .txt p {
    opacity: 1;
}

.notice {
    margin: 200px 0 0 0;
    background-color: #efefef;
    padding: 170px 0 158px 0;
}
.notice .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.notice .tit h2 {
    color: #1d1d1d;
}
.notice .list {
    margin: 28px 0 0 0;
}
.notice .list ul li {
    margin: 30px 0 0 0;
}
.notice .list ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 26px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 10px 0 rgba(80, 80, 80, 0.2);
    transition: 0.3s;
}
.notice .list ul li a .inner {
    display: flex;
    align-items: center;
    gap: 0 34px;
    font-size: 20px;
    width: calc(100% - 200px);
}
.notice .list ul li a .inner strong {
    display: block;
    color: #fff;
    background-color: #2DA222;
    padding: 4px 14px 1px 14px;
    border-radius: 20px;
}
.notice .list ul li.cate_sch a .inner strong {
    background-color: #316CF5;
}
.notice .list ul li a .inner h3 {
    color: #1d1d1d;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notice .list ul li a span {
    font-size: 17px;
}

/* 리스트 hover시 */
.notice .list ul li a:hover {
    background-color: #316CF5;
}
.notice .list ul li a:hover .inner strong {
    background-color: #fff;
    color: #316CF5;
}
.notice .list ul li a:hover .inner h3 {
    color: #fff;
    font-weight: 700;
}
.notice .list ul li a:hover span {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
}
.notice .more {
    display: block;
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 55px;
    font-weight: 700;
    color: #1d1d1d;
    padding: 0 24px 0 0;
    
}
.notice .more::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: #1d1d1d;
    transition: 0.3s;
}
.notice .more:hover::before {
    width: 100%;
}
.notice .more span {
    position: relative;
}
.notice .more span::after {
    content: "";
    position: absolute;
    right: -24px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%231D1D1D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.175 8.588H1C0.716667 8.588 0.479167 8.49217 0.2875 8.3005C0.0958333 8.10883 0 7.87133 0 7.588C0 7.30467 0.0958333 7.06717 0.2875 6.8755C0.479167 6.68383 0.716667 6.588 1 6.588H12.175L7.275 1.688C7.075 1.488 6.97917 1.25467 6.9875 0.988C6.99583 0.721333 7.1 0.488 7.3 0.288C7.5 0.104667 7.73333 0.00883333 8 0.0005C8.26667 -0.00783333 8.5 0.088 8.7 0.288L15.3 6.888C15.4 6.988 15.4708 7.09633 15.5125 7.213C15.5542 7.32967 15.575 7.45467 15.575 7.588C15.575 7.72133 15.5542 7.84633 15.5125 7.963C15.4708 8.07967 15.4 8.188 15.3 8.288L8.7 14.888C8.51667 15.0713 8.2875 15.163 8.0125 15.163C7.7375 15.163 7.5 15.0713 7.3 14.888C7.1 14.688 7 14.4505 7 14.1755C7 13.9005 7.1 13.663 7.3 13.463L12.175 8.588Z' /%3E%3C/svg%3E%0A");
}

.webzine {
    margin: 170px 0 0 0;
    position: relative;
}
.webzine .tit h2 {
    color: #1d1d1d;
}
.webzine .list {
    width: calc(50% + 630px);
    position: relative;
    left: calc(50% - 630px);
    margin: 35px 0 0 0;
}
.webzine .list .swiper {
    overflow: visible;
}
.webzine .list .swiper-slide {
    width: 404px;
}
.webzine .list .swiper-slide a {
    display: block;
    background-color: #FCFCFC;
    box-shadow: 0 10px 10px 0 rgba(80, 80, 80, 0.2);
    border-radius: 20px;
    height: 699px;
    transition: 0.5s;
}
.webzine .list .swiper-slide a:hover {
    transform: translateY(-20px);
}
.webzine .list .swiper-slide a .photo {
    overflow: hidden;
    height: 284px;
    border-radius: 20px 20px 0 0;
}
.webzine .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.webzine .list .swiper-slide a .txt {
    margin: 20px 30px 0 30px;
}
.webzine .list .swiper-slide a .txt strong {
    background-color: #316CF5;
    border-radius: 20px;
    font-weight: 700;
    color: #fff;
    padding: 5px 16px 6px 16px;
}
.webzine .list .swiper-slide a .txt strong.cate_learning {
    background-color: #4F44EB;
}
.webzine .list .swiper-slide a .txt strong.cate_global {
    background-color: #2DA222;
}
.webzine .list .swiper-slide a .txt strong.cate_mentor {
    background-color: #DA4126;
}
.webzine .list .swiper-slide a .txt h3 {
    margin: 26px 0 23px 0;
    font-size: 28px;
    color: #1d1d1d;
    word-break: normal; 
    /* 2줄 제한 */
    line-height: 1.4;
    height: 2.8em; /* 행간 * 줄수 = 1.4*2*/
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.webzine .list .swiper-slide a .txt p {
    word-break: normal;
    margin: 0 0 22px 0;
    line-height: 1.5;
    /* 6줄 제한 */
    height: 9em; /* 행간 * 줄수 = 1.5* 6 */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.webzine .list .swiper-slide a .txt span {
    color: #777;
}
.webzine .more {
    display: block;
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: calc(50% - 630px);
    top: 55px;
    font-weight: 700;
    color: #1d1d1d;
    padding: 0 24px 0 0;
}
.webzine .more::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: #1d1d1d;
    transition: 0.3s;
}
.webzine .more:hover::before {
    width: 100%;
}
.webzine .more span {
    position: relative;
}
.webzine .more span::after {
    content: "";
    position: absolute;
    right: -24px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%231D1D1D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.175 8.588H1C0.716667 8.588 0.479167 8.49217 0.2875 8.3005C0.0958333 8.10883 0 7.87133 0 7.588C0 7.30467 0.0958333 7.06717 0.2875 6.8755C0.479167 6.68383 0.716667 6.588 1 6.588H12.175L7.275 1.688C7.075 1.488 6.97917 1.25467 6.9875 0.988C6.99583 0.721333 7.1 0.488 7.3 0.288C7.5 0.104667 7.73333 0.00883333 8 0.0005C8.26667 -0.00783333 8.5 0.088 8.7 0.288L15.3 6.888C15.4 6.988 15.4708 7.09633 15.5125 7.213C15.5542 7.32967 15.575 7.45467 15.575 7.588C15.575 7.72133 15.5542 7.84633 15.5125 7.963C15.4708 8.07967 15.4 8.188 15.3 8.288L8.7 14.888C8.51667 15.0713 8.2875 15.163 8.0125 15.163C7.7375 15.163 7.5 15.0713 7.3 14.888C7.1 14.688 7 14.4505 7 14.1755C7 13.9005 7.1 13.663 7.3 13.463L12.175 8.588Z' /%3E%3C/svg%3E%0A");
}







footer {
    margin: 1000px 0 0 0;
}