header {
    position: absolute;
    width: 100%;
    height: 120px; /* 시안에 맞춰 조정 */
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 999;
}
/* 로고 */
header .logo a {
    display: block;
    width: 172px;
    height: 50px;
}
header .logo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 메뉴 */
header .gnb ul {
    display: flex;
    gap: 0 30px;
}
header .gnb ul li a {
    display: block;
    height: 29px;
}
header .gnb ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header .gnb ul li a img.on {
    display: none; 
}
/* menu hover 시 */
header .gnb ul li a:hover img.on {
    display: block;
}
header .gnb ul li a:hover img.off {
    display: none;
}