@import url(default.css);
@import url(fonts.css);
@import url(common.css);


header {
    position: absolute; /* wrap를 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    color: #fff;
    z-index: 999; /* header는 맨위에 배치 */
}
header .wrapper {
    display: flex; /* logo - gnb - util 좌우로 배치 */
    justify-content: space-between;
    align-items: center;
}
header .gnb ul {
    display: flex;
}
header .gnb ul a {
    display: block;
    font-size: 19px;
    font-weight: 700;
    line-height: 90px; /* header의 높이와 같은 값 */
    padding: 0 21px 0 21px;
}
.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    border-radius:  0 0 200px 0;
}
.visual .wrapper {
    height: 100vh; /* 브라우저 높이에 맞춰서 */
    min-height: 550px; /* 최소높이 */
    position: relative; /* life 정렬의 기준 */
}
.visual h2 {
    padding: 30vh 0 0 250px;
}
.visual .life {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: #303E9F;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 1.2;
    padding: 92px 52px 41px 52px;
    position: absolute; /* before 정렬의 기준 */
    right: -95px;
    bottom: -95px;
}
.visual .life::before {
    content: "";
    position: absolute; /* life를 기준으로 정렬 */
    left: 0;
    top: 42px;
    width: 100%;  /* 정렬의 기준인 life의 넓이를 기준으로 100% */
    height: 33px;
    background: url(../images/life_ico.svg) no-repeat center top;
}

.visual .life strong {
    font-weight: 700;
}
/* life 오버스타일 */
.visual .life:hover {
    background-color: #1d1d1d;
    color: #4EDFFF;
    box-shadow: 0px 10px 5px 0 rgba(0, 0, 0, 0.15); /* 그림자 넣기 */
}
.visual .life:hover::before {
    background: url(../images/life_ico_over.svg) no-repeat center top;
}





footer {
    margin: 1000px 0 0 0;
}