/**********************
* 파일명 : layout.css
* 작성자 : 함지훈
* 작성일 : 25-10-23
* 설  명 : header/footer 스타일을 선언함
**********************/
header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--header-h);
    z-index: 999;
    padding: 0 var(--wrapper-margin) 0 var(--wrapper-margin);
    background-color: rgba(0, 0, 0, 0.3);
}

header .head_top {
    height: var(--header-h);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .head_top .logo a {
    display: block;
    width: 214px;
    height: 47px;
    background: url(../images/common/logo/logo_w.svg) no-repeat center center / contain;
}
header .head_top .menu_open {
    display: block;
    width: 35px;
    height: 35px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 27 21' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.45833 2.91667C1.04514 2.91667 0.698785 2.77691 0.419271 2.4974C0.139757 2.21788 0 1.87153 0 1.45833C0 1.04514 0.139757 0.698785 0.419271 0.419271C0.698785 0.139757 1.04514 0 1.45833 0H24.7917C25.2049 0 25.5512 0.139757 25.8307 0.419271C26.1102 0.698785 26.25 1.04514 26.25 1.45833C26.25 1.87153 26.1102 2.21788 25.8307 2.4974C25.5512 2.77691 25.2049 2.91667 24.7917 2.91667H1.45833ZM1.45833 20.4167C1.04514 20.4167 0.698785 20.2769 0.419271 19.9974C0.139757 19.7179 0 19.3715 0 18.9583C0 18.5451 0.139757 18.1988 0.419271 17.9193C0.698785 17.6398 1.04514 17.5 1.45833 17.5H24.7917C25.2049 17.5 25.5512 17.6398 25.8307 17.9193C26.1102 18.1988 26.25 18.5451 26.25 18.9583C26.25 19.3715 26.1102 19.7179 25.8307 19.9974C25.5512 20.2769 25.2049 20.4167 24.7917 20.4167H1.45833ZM1.45833 11.6667C1.04514 11.6667 0.698785 11.5269 0.419271 11.2474C0.139757 10.9679 0 10.6215 0 10.2083C0 9.79514 0.139757 9.44878 0.419271 9.16927C0.698785 8.88976 1.04514 8.75 1.45833 8.75H24.7917C25.2049 8.75 25.5512 8.88976 25.8307 9.16927C26.1102 9.44878 26.25 9.79514 26.25 10.2083C26.25 10.6215 26.1102 10.9679 25.8307 11.2474C25.5512 11.5269 25.2049 11.6667 24.7917 11.6667H1.45833Z' /%3E%3C/svg%3E%0A");
}
/*open클래스가 추가 돼었을 때*/
header.open {
    background-color: #fff;
    width: 100%;
    height: 790px;
}
header.open .head_top {
    display: none;
}

    


/*open클래스가 추가 돼었을 때*/
header .full_menu {
    display: none; /* 전체메뉴 눌러야 나타남 */
}

footer {
    margin: 1000px;
}