/**********************
* 파일명 : layout.css
* 작성자 : 함지훈
* 작성일 : 25-10-23
* 설  명 : header/footer 스타일을 선언함
**********************/

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-margin);
    transition: transform 0.5s;
}
header .logo a {
    display: block;
    width: 109px;
    height: 36px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
    margin-bottom: 20px;
}
header .util .lang {
    display: block;
    padding-left: 1.7647em;
    position: relative; /* before 정렬의 기준 */
}
header .util .lang:hover span {
    font-weight: 700;
}
header .util .lang span::before {
    content: "";
    position: absolute; /* lang를 기준으로 정렬 */
    left: 0;
    top: 0.0588em;
    width: 1.3235em;
    height: 1.3235em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 23' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 22.5C9.7125 22.5 8.25937 22.2047 6.89062 21.6141C5.52187 21.0234 4.32656 20.2172 3.30469 19.1953C2.28281 18.1734 1.47656 16.9781 0.885938 15.6094C0.295312 14.2406 0 12.7875 0 11.25C0 9.69375 0.295312 8.23594 0.885938 6.87656C1.47656 5.51719 2.28281 4.32656 3.30469 3.30469C4.32656 2.28281 5.52187 1.47656 6.89062 0.885938C8.25937 0.295312 9.7125 0 11.25 0C12.8062 0 14.2641 0.295312 15.6234 0.885938C16.9828 1.47656 18.1734 2.28281 19.1953 3.30469C20.2172 4.32656 21.0234 5.51719 21.6141 6.87656C22.2047 8.23594 22.5 9.69375 22.5 11.25C22.5 12.7875 22.2047 14.2406 21.6141 15.6094C21.0234 16.9781 20.2172 18.1734 19.1953 19.1953C18.1734 20.2172 16.9828 21.0234 15.6234 21.6141C14.2641 22.2047 12.8062 22.5 11.25 22.5ZM11.25 20.1938C11.7375 19.5188 12.1594 18.8156 12.5156 18.0844C12.8719 17.3531 13.1625 16.575 13.3875 15.75H9.1125C9.3375 16.575 9.62813 17.3531 9.98438 18.0844C10.3406 18.8156 10.7625 19.5188 11.25 20.1938ZM8.325 19.7438C7.9875 19.125 7.69219 18.4828 7.43906 17.8172C7.18594 17.1516 6.975 16.4625 6.80625 15.75H3.4875C4.03125 16.6875 4.71094 17.5031 5.52656 18.1969C6.34219 18.8906 7.275 19.4063 8.325 19.7438ZM14.175 19.7438C15.225 19.4063 16.1578 18.8906 16.9734 18.1969C17.7891 17.5031 18.4688 16.6875 19.0125 15.75H15.6937C15.525 16.4625 15.3141 17.1516 15.0609 17.8172C14.8078 18.4828 14.5125 19.125 14.175 19.7438ZM2.53125 13.5H6.35625C6.3 13.125 6.25781 12.7547 6.22969 12.3891C6.20156 12.0234 6.1875 11.6438 6.1875 11.25C6.1875 10.8562 6.20156 10.4766 6.22969 10.1109C6.25781 9.74531 6.3 9.375 6.35625 9H2.53125C2.4375 9.375 2.36719 9.74531 2.32031 10.1109C2.27344 10.4766 2.25 10.8562 2.25 11.25C2.25 11.6438 2.27344 12.0234 2.32031 12.3891C2.36719 12.7547 2.4375 13.125 2.53125 13.5ZM8.60625 13.5H13.8938C13.95 13.125 13.9922 12.7547 14.0203 12.3891C14.0484 12.0234 14.0625 11.6438 14.0625 11.25C14.0625 10.8562 14.0484 10.4766 14.0203 10.1109C13.9922 9.74531 13.95 9.375 13.8938 9H8.60625C8.55 9.375 8.50781 9.74531 8.47969 10.1109C8.45156 10.4766 8.4375 10.8562 8.4375 11.25C8.4375 11.6438 8.45156 12.0234 8.47969 12.3891C8.50781 12.7547 8.55 13.125 8.60625 13.5ZM16.1438 13.5H19.9688C20.0625 13.125 20.1328 12.7547 20.1797 12.3891C20.2266 12.0234 20.25 11.6438 20.25 11.25C20.25 10.8562 20.2266 10.4766 20.1797 10.1109C20.1328 9.74531 20.0625 9.375 19.9688 9H16.1438C16.2 9.375 16.2422 9.74531 16.2703 10.1109C16.2984 10.4766 16.3125 10.8562 16.3125 11.25C16.3125 11.6438 16.2984 12.0234 16.2703 12.3891C16.2422 12.7547 16.2 13.125 16.1438 13.5ZM15.6937 6.75H19.0125C18.4688 5.8125 17.7891 4.99688 16.9734 4.30312C16.1578 3.60938 15.225 3.09375 14.175 2.75625C14.5125 3.375 14.8078 4.01719 15.0609 4.68281C15.3141 5.34844 15.525 6.0375 15.6937 6.75ZM9.1125 6.75H13.3875C13.1625 5.925 12.8719 5.14687 12.5156 4.41563C12.1594 3.68437 11.7375 2.98125 11.25 2.30625C10.7625 2.98125 10.3406 3.68437 9.98438 4.41563C9.62813 5.14687 9.3375 5.925 9.1125 6.75ZM3.4875 6.75H6.80625C6.975 6.0375 7.18594 5.34844 7.43906 4.68281C7.69219 4.01719 7.9875 3.375 8.325 2.75625C7.275 3.09375 6.34219 3.60938 5.52656 4.30312C4.71094 4.99688 4.03125 5.8125 3.4875 6.75Z' /%3E%3C/svg%3E%0A");
}
/* header 고정 */
header.fixed {
    color: var(--color-tit); /* 흰색에서 검정으로 변경 */
    background-color: var(--color-white);
    box-shadow: 0 0 5px 0 rgba(0,0,0, 0.1);
}
header.fixed .logo a {
    background-image: url(../images/common/logo.svg);
}
header.fixed .util .lang span::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 23' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 22.5C9.7125 22.5 8.25937 22.2047 6.89062 21.6141C5.52187 21.0234 4.32656 20.2172 3.30469 19.1953C2.28281 18.1734 1.47656 16.9781 0.885938 15.6094C0.295312 14.2406 0 12.7875 0 11.25C0 9.69375 0.295312 8.23594 0.885938 6.87656C1.47656 5.51719 2.28281 4.32656 3.30469 3.30469C4.32656 2.28281 5.52187 1.47656 6.89062 0.885938C8.25937 0.295312 9.7125 0 11.25 0C12.8062 0 14.2641 0.295312 15.6234 0.885938C16.9828 1.47656 18.1734 2.28281 19.1953 3.30469C20.2172 4.32656 21.0234 5.51719 21.6141 6.87656C22.2047 8.23594 22.5 9.69375 22.5 11.25C22.5 12.7875 22.2047 14.2406 21.6141 15.6094C21.0234 16.9781 20.2172 18.1734 19.1953 19.1953C18.1734 20.2172 16.9828 21.0234 15.6234 21.6141C14.2641 22.2047 12.8062 22.5 11.25 22.5ZM11.25 20.1938C11.7375 19.5188 12.1594 18.8156 12.5156 18.0844C12.8719 17.3531 13.1625 16.575 13.3875 15.75H9.1125C9.3375 16.575 9.62813 17.3531 9.98438 18.0844C10.3406 18.8156 10.7625 19.5188 11.25 20.1938ZM8.325 19.7438C7.9875 19.125 7.69219 18.4828 7.43906 17.8172C7.18594 17.1516 6.975 16.4625 6.80625 15.75H3.4875C4.03125 16.6875 4.71094 17.5031 5.52656 18.1969C6.34219 18.8906 7.275 19.4063 8.325 19.7438ZM14.175 19.7438C15.225 19.4063 16.1578 18.8906 16.9734 18.1969C17.7891 17.5031 18.4688 16.6875 19.0125 15.75H15.6937C15.525 16.4625 15.3141 17.1516 15.0609 17.8172C14.8078 18.4828 14.5125 19.125 14.175 19.7438ZM2.53125 13.5H6.35625C6.3 13.125 6.25781 12.7547 6.22969 12.3891C6.20156 12.0234 6.1875 11.6438 6.1875 11.25C6.1875 10.8562 6.20156 10.4766 6.22969 10.1109C6.25781 9.74531 6.3 9.375 6.35625 9H2.53125C2.4375 9.375 2.36719 9.74531 2.32031 10.1109C2.27344 10.4766 2.25 10.8562 2.25 11.25C2.25 11.6438 2.27344 12.0234 2.32031 12.3891C2.36719 12.7547 2.4375 13.125 2.53125 13.5ZM8.60625 13.5H13.8938C13.95 13.125 13.9922 12.7547 14.0203 12.3891C14.0484 12.0234 14.0625 11.6438 14.0625 11.25C14.0625 10.8562 14.0484 10.4766 14.0203 10.1109C13.9922 9.74531 13.95 9.375 13.8938 9H8.60625C8.55 9.375 8.50781 9.74531 8.47969 10.1109C8.45156 10.4766 8.4375 10.8562 8.4375 11.25C8.4375 11.6438 8.45156 12.0234 8.47969 12.3891C8.50781 12.7547 8.55 13.125 8.60625 13.5ZM16.1438 13.5H19.9688C20.0625 13.125 20.1328 12.7547 20.1797 12.3891C20.2266 12.0234 20.25 11.6438 20.25 11.25C20.25 10.8562 20.2266 10.4766 20.1797 10.1109C20.1328 9.74531 20.0625 9.375 19.9688 9H16.1438C16.2 9.375 16.2422 9.74531 16.2703 10.1109C16.2984 10.4766 16.3125 10.8562 16.3125 11.25C16.3125 11.6438 16.2984 12.0234 16.2703 12.3891C16.2422 12.7547 16.2 13.125 16.1438 13.5ZM15.6937 6.75H19.0125C18.4688 5.8125 17.7891 4.99688 16.9734 4.30312C16.1578 3.60938 15.225 3.09375 14.175 2.75625C14.5125 3.375 14.8078 4.01719 15.0609 4.68281C15.3141 5.34844 15.525 6.0375 15.6937 6.75ZM9.1125 6.75H13.3875C13.1625 5.925 12.8719 5.14687 12.5156 4.41563C12.1594 3.68437 11.7375 2.98125 11.25 2.30625C10.7625 2.98125 10.3406 3.68437 9.98438 4.41563C9.62813 5.14687 9.3375 5.925 9.1125 6.75ZM3.4875 6.75H6.80625C6.975 6.0375 7.18594 5.34844 7.43906 4.68281C7.69219 4.01719 7.9875 3.375 8.325 2.75625C7.275 3.09375 6.34219 3.60938 5.52656 4.30312C4.71094 4.99688 4.03125 5.8125 3.4875 6.75Z' /%3E%3C/svg%3E%0A");
}
/* 스크롤을 아래로 내릴 때 header 올림
    header에 menu_pc, menu_mo 있을 때는 작동이 안 됐으면 좋겠어요.
*/
header.up:not(.menu_pc, .menu_mo) {
    transform: translateY(-110%);
}
@media screen and (min-width:1025px){/* 1025보다 클 때 - pc버전 */
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_wrap .gnb_close {
        display: none; /* 모바일때만 보임 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li를 좌우로 배치 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* ul.depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        line-height: var(--header-h);
        padding: 0 2.5em;
    }
    header .gnb .gnb_wrap ul.depth1 > li:hover > a,
    header .gnb .gnb_wrap ul.depth1 > li > a:focus {
        color: var(--color-point);
    }
    header .gnb .gnb_wrap ul.depth1 > li > a > span {
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li:hover > a > span::after,
    header .gnb .gnb_wrap ul.depth1 > li > a:focus > span::after {
        content: "";
        position: absolute; /* span 정렬의 기준 */
        left: 0;
        bottom: -32px;
        width: 100%;
        height: 2px;
        background-color: var(--color-point);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: var(--header-h);
        text-align: center;
        min-width: 100%; /* 최소넓이*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li {
        white-space: nowrap; /* 줄바꿈 금지 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 6px 0;
        color: var(--color-sub);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span {
        position: relative; /* before 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li:hover > a > span::before,
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus > span::before {
        content: "";
        position: absolute; /* span을 기준으로 정렬 */
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--color-point);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover,
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus {
        color: var(--color-point);
        font-weight: 700;
    }
    header .gnb .gnb_bg {
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: var(--header-h);
        z-index: -2;
        width: 100%;
        height: 0;
        background-color: rgba(0,0,0, 0.5);
        backdrop-filter: blur(10px);
        opacity: 0;
        transition: height 0s, opacity 0.5s ;
    }

    /*********** menu_pc가 추가 되었을 때 (메뉴가 나타남)***********/
    header.menu_pc {
        color: var(--color-tit); /* 흰색에서 검정으로 변경 */
    }
    header::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 0;
        background-color: var(--color-white);
        transition: height 0.5s;
    }
    header.menu_pc::before {
        height: 410px;
    }
    header.menu_pc::after {
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: var(--color-line);
    }
    header.menu_pc .logo a {
        /* 로고 색상 변경 */
        background-image: url(../images/common/logo.svg);
    }
    header.menu_pc .util .lang span::before {
        /* 흰색에서 검정색으로 변경 */
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 23' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 22.5C9.7125 22.5 8.25937 22.2047 6.89062 21.6141C5.52187 21.0234 4.32656 20.2172 3.30469 19.1953C2.28281 18.1734 1.47656 16.9781 0.885938 15.6094C0.295312 14.2406 0 12.7875 0 11.25C0 9.69375 0.295312 8.23594 0.885938 6.87656C1.47656 5.51719 2.28281 4.32656 3.30469 3.30469C4.32656 2.28281 5.52187 1.47656 6.89062 0.885938C8.25937 0.295312 9.7125 0 11.25 0C12.8062 0 14.2641 0.295312 15.6234 0.885938C16.9828 1.47656 18.1734 2.28281 19.1953 3.30469C20.2172 4.32656 21.0234 5.51719 21.6141 6.87656C22.2047 8.23594 22.5 9.69375 22.5 11.25C22.5 12.7875 22.2047 14.2406 21.6141 15.6094C21.0234 16.9781 20.2172 18.1734 19.1953 19.1953C18.1734 20.2172 16.9828 21.0234 15.6234 21.6141C14.2641 22.2047 12.8062 22.5 11.25 22.5ZM11.25 20.1938C11.7375 19.5188 12.1594 18.8156 12.5156 18.0844C12.8719 17.3531 13.1625 16.575 13.3875 15.75H9.1125C9.3375 16.575 9.62813 17.3531 9.98438 18.0844C10.3406 18.8156 10.7625 19.5188 11.25 20.1938ZM8.325 19.7438C7.9875 19.125 7.69219 18.4828 7.43906 17.8172C7.18594 17.1516 6.975 16.4625 6.80625 15.75H3.4875C4.03125 16.6875 4.71094 17.5031 5.52656 18.1969C6.34219 18.8906 7.275 19.4063 8.325 19.7438ZM14.175 19.7438C15.225 19.4063 16.1578 18.8906 16.9734 18.1969C17.7891 17.5031 18.4688 16.6875 19.0125 15.75H15.6937C15.525 16.4625 15.3141 17.1516 15.0609 17.8172C14.8078 18.4828 14.5125 19.125 14.175 19.7438ZM2.53125 13.5H6.35625C6.3 13.125 6.25781 12.7547 6.22969 12.3891C6.20156 12.0234 6.1875 11.6438 6.1875 11.25C6.1875 10.8562 6.20156 10.4766 6.22969 10.1109C6.25781 9.74531 6.3 9.375 6.35625 9H2.53125C2.4375 9.375 2.36719 9.74531 2.32031 10.1109C2.27344 10.4766 2.25 10.8562 2.25 11.25C2.25 11.6438 2.27344 12.0234 2.32031 12.3891C2.36719 12.7547 2.4375 13.125 2.53125 13.5ZM8.60625 13.5H13.8938C13.95 13.125 13.9922 12.7547 14.0203 12.3891C14.0484 12.0234 14.0625 11.6438 14.0625 11.25C14.0625 10.8562 14.0484 10.4766 14.0203 10.1109C13.9922 9.74531 13.95 9.375 13.8938 9H8.60625C8.55 9.375 8.50781 9.74531 8.47969 10.1109C8.45156 10.4766 8.4375 10.8562 8.4375 11.25C8.4375 11.6438 8.45156 12.0234 8.47969 12.3891C8.50781 12.7547 8.55 13.125 8.60625 13.5ZM16.1438 13.5H19.9688C20.0625 13.125 20.1328 12.7547 20.1797 12.3891C20.2266 12.0234 20.25 11.6438 20.25 11.25C20.25 10.8562 20.2266 10.4766 20.1797 10.1109C20.1328 9.74531 20.0625 9.375 19.9688 9H16.1438C16.2 9.375 16.2422 9.74531 16.2703 10.1109C16.2984 10.4766 16.3125 10.8562 16.3125 11.25C16.3125 11.6438 16.2984 12.0234 16.2703 12.3891C16.2422 12.7547 16.2 13.125 16.1438 13.5ZM15.6937 6.75H19.0125C18.4688 5.8125 17.7891 4.99688 16.9734 4.30312C16.1578 3.60938 15.225 3.09375 14.175 2.75625C14.5125 3.375 14.8078 4.01719 15.0609 4.68281C15.3141 5.34844 15.525 6.0375 15.6937 6.75ZM9.1125 6.75H13.3875C13.1625 5.925 12.8719 5.14687 12.5156 4.41563C12.1594 3.68437 11.7375 2.98125 11.25 2.30625C10.7625 2.98125 10.3406 3.68437 9.98438 4.41563C9.62813 5.14687 9.3375 5.925 9.1125 6.75ZM3.4875 6.75H6.80625C6.975 6.0375 7.18594 5.34844 7.43906 4.68281C7.69219 4.01719 7.9875 3.375 8.325 2.75625C7.275 3.09375 6.34219 3.60938 5.52656 4.30312C4.71094 4.99688 4.03125 5.8125 3.4875 6.75Z' /%3E%3C/svg%3E%0A");
    }

    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block !important;
        opacity: 0;
        height: 0;
        overflow: hidden;
        padding-top: 0;
        transition: height 0.5s;
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        opacity: 1;
        height: 320px;
        padding-top: 32px;
    }
    header.menu_pc .gnb .gnb_bg {
        height: 100vh;
        opacity: 1;
    }
}/*@media*/

@media screen and (max-width:1150px) and (min-width:1025px){
    /* 1150 ~ 1025 사이 메뉴사이즈 조정 */
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 1.9rem;
    }
    header .gnb .gnb_wrap ul.depth1 > li:hover > a > span::after,
    header .gnb .gnb_wrap ul.depth1 > li > a:focus > span::after {
        bottom: -33px;
    }
}/*@media*/

/*모바일메뉴 시작*/
@media screen and (max-width:1024px){
    header {    
        padding-right: 0;
    }
    header .logo a {
        width: 91px;
        height: 30px;
        margin-bottom: 10px;
    }
    header .util {
        display: none
    }
    header .gnb .gnb_open {
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30.5px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 18' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25 2.5C0.895833 2.5 0.598958 2.38021 0.359375 2.14062C0.119792 1.90104 0 1.60417 0 1.25C0 0.895833 0.119792 0.598958 0.359375 0.359375C0.598958 0.119792 0.895833 0 1.25 0H21.25C21.6042 0 21.901 0.119792 22.1406 0.359375C22.3802 0.598958 22.5 0.895833 22.5 1.25C22.5 1.60417 22.3802 1.90104 22.1406 2.14062C21.901 2.38021 21.6042 2.5 21.25 2.5H1.25ZM1.25 17.5C0.895833 17.5 0.598958 17.3802 0.359375 17.1406C0.119792 16.901 0 16.6042 0 16.25C0 15.8958 0.119792 15.599 0.359375 15.3594C0.598958 15.1198 0.895833 15 1.25 15H21.25C21.6042 15 21.901 15.1198 22.1406 15.3594C22.3802 15.599 22.5 15.8958 22.5 16.25C22.5 16.6042 22.3802 16.901 22.1406 17.1406C21.901 17.3802 21.6042 17.5 21.25 17.5H1.25ZM1.25 10C0.895833 10 0.598958 9.88021 0.359375 9.64062C0.119792 9.40104 0 9.10417 0 8.75C0 8.39583 0.119792 8.09896 0.359375 7.85938C0.598958 7.61979 0.895833 7.5 1.25 7.5H21.25C21.6042 7.5 21.901 7.61979 22.1406 7.85938C22.3802 8.09896 22.5 8.39583 22.5 8.75C22.5 9.10417 22.3802 9.40104 22.1406 9.64062C21.901 9.88021 21.6042 10 21.25 10H1.25Z' /%3E%3C/svg%3E%0A");
    }
    header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 18' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25 2.5C0.895833 2.5 0.598958 2.38021 0.359375 2.14062C0.119792 1.90104 0 1.60417 0 1.25C0 0.895833 0.119792 0.598958 0.359375 0.359375C0.598958 0.119792 0.895833 0 1.25 0H21.25C21.6042 0 21.901 0.119792 22.1406 0.359375C22.3802 0.598958 22.5 0.895833 22.5 1.25C22.5 1.60417 22.3802 1.90104 22.1406 2.14062C21.901 2.38021 21.6042 2.5 21.25 2.5H1.25ZM1.25 17.5C0.895833 17.5 0.598958 17.3802 0.359375 17.1406C0.119792 16.901 0 16.6042 0 16.25C0 15.8958 0.119792 15.599 0.359375 15.3594C0.598958 15.1198 0.895833 15 1.25 15H21.25C21.6042 15 21.901 15.1198 22.1406 15.3594C22.3802 15.599 22.5 15.8958 22.5 16.25C22.5 16.6042 22.3802 16.901 22.1406 17.1406C21.901 17.3802 21.6042 17.5 21.25 17.5H1.25ZM1.25 10C0.895833 10 0.598958 9.88021 0.359375 9.64062C0.119792 9.40104 0 9.10417 0 8.75C0 8.39583 0.119792 8.09896 0.359375 7.85938C0.598958 7.61979 0.895833 7.5 1.25 7.5H21.25C21.6042 7.5 21.901 7.61979 22.1406 7.85938C22.3802 8.09896 22.5 8.39583 22.5 8.75C22.5 9.10417 22.3802 9.40104 22.1406 9.64062C21.901 9.88021 21.6042 10 21.25 10H1.25Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        position: absolute; /* header를 기준으로 정렬 */
        right: -66%;
        top: 0;
        z-index: 10;
        width: 65%;
        height: 100dvh;
        background-color: var(--color-white);
        color: var(--color-sub);
        transition: right 0.5s;
    }
    header.menu_mo .gnb .gnb_wrap {
        right: 0;
    }
    header .gnb .gnb_wrap .gnb_logo {
        position: absolute; /* gnb_wrap을 기준으로 정렬 */
        left: 16px;
        top: 0;
        width: 91px;
        height: calc(var(--header-h) - 10px);
        background: url(../images/common/logo.svg) no-repeat center center / contain;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: var(--header-h);
        height: calc(100dvh - var(--header-h));
        overflow-y: auto;
        border-top: 1px solid #ccc;
        padding-top: 15px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        padding: 22px 0 22px 16px;
        font-size: 1.9rem;
        font-weight: 700;
        line-height: 1.3;
        color: var(--color-tit);
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::before,
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute;
        right: var(--wrapper-margin);
        top: 45%;
        width: 16px;
        height: 2px;
        background-color: var(--color-tit);
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        transform: rotate(-90deg);
        transition: transform 0.5s;
    }
    /* 시작::open 클래스가 들어갔을 때 */
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: var(--color-point);
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::before,
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
       background-color: var(--color-point);
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        transform: rotate(0)
    }
    /* 끝::open 클래스가 들어갔을 때 */
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none;
        background-color: #f7f7f7;
        padding: 20px 0;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 10px 0 10px 35px;
    }
    header .gnb .gnb_wrap .gnb_close {
        position: absolute;
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 25.5px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 17' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2188 0.0126953C15.5699 0.0126953 15.8584 0.125946 16.085 0.352539C16.3116 0.579132 16.4248 0.86756 16.4248 1.21875C16.4248 1.56994 16.3116 1.85837 16.085 2.08496L9.95117 8.21875L16.085 14.3525C16.3116 14.5791 16.4248 14.8676 16.4248 15.2188C16.4248 15.5699 16.3116 15.8584 16.085 16.085C15.8584 16.3116 15.5699 16.4248 15.2188 16.4248C14.8676 16.4248 14.5791 16.3116 14.3525 16.085L8.21875 9.95117L2.08496 16.085C1.85837 16.3116 1.56994 16.4248 1.21875 16.4248C0.86756 16.4248 0.579132 16.3116 0.352539 16.085C0.125946 15.8584 0.0126953 15.5699 0.0126953 15.2188C0.0126953 14.8676 0.125946 14.5791 0.352539 14.3525L6.48633 8.21875L0.352539 2.08496C0.125946 1.85837 0.0126953 1.56994 0.0126953 1.21875C0.0126953 0.86756 0.125946 0.579132 0.352539 0.352539C0.579132 0.125946 0.86756 0.0126953 1.21875 0.0126953C1.56994 0.0126953 1.85837 0.125946 2.08496 0.352539L8.21875 6.48633L14.3525 0.352539C14.5791 0.125946 14.8676 0.0126953 15.2188 0.0126953Z' stroke='%23111111' stroke-width='0.025'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_bg {
        position: absolute; /* header를 기준으로 정렬 */
        right: -101%;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: rgba(0,0,0, 0.5);
        backdrop-filter: blur(5px);
        opacity: 0;
        transition: right 0s, opacity 0.5s;
    }
    header.menu_mo .gnb .gnb_bg {
        opacity: 1;
        right: 0;
    }
}/*@media*/

@media screen and (max-width:768px){
    header .logo a {
        width: 80px;
        height: 27px;
    }
    header .gnb .gnb_open  {
        background-size: 22.5px;
    }
    header .gnb .gnb_wrap .gnb_logo {
        width: 80px;
        height: calc(var(--header-h) - 10px);
    }
    header .gnb .gnb_wrap .gnb_close {
        background-size: 16.5px;
    }
}/*@media*/

@media screen and (min-width:1025px){
/*********************서브에서 이미 선택되있는 메뉴 디자인하기***********************/
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a {
        color: var(--color-point);
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a > span::after,
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a:focus > span::after {
        content: "";
        position: absolute; /* span 정렬의 기준 */
        left: 0;
        bottom: -32px;
        width: 100%;
        height: 2px;
        background-color: var(--color-point);
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > ul.depth2 > li.active > a {
        color: var(--color-point);
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > ul.depth2 > li.active > a > span::before,
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > ul.depth2 > li.active > a:focus > span::before {
        content: "";
        position: absolute; /* span을 기준으로 정렬 */
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--color-point);
    }
/*********************서브에서 이미 선택되있는 메뉴 디자인하기***********************/
} /*@media*/
@media screen and (max-width:768px){
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a {
        color: var(--color-point);
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a::before,
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a::after {
       background-color: var(--color-point);
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a::after {
        transform: rotate(0)
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > ul.depth2 {
        display: block;
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > ul.depth2 > li.active > a {
        color: var(--color-point);
    }
} /*@media*/

footer {
    background-color: var(--footer-bg-color);
    color: var(--color-sub);
    padding: 70px 0 70px 0;
}
footer .wrapper {
    display: flex; /* f_logo - inner 좌우 배치 */
    flex-direction: column; /* 위 아래로 정렬 */
    gap: 0 54px;
    position: relative; /* f_util 정렬의 기준*/
}
footer .f_logo {
    width: 130px;
    height: 43px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
footer .f_util {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 0;
    display: flex;
    gap: 0 20px;
}
footer .f_util .family_site {
    width: 212px;
    /* 관련사이트는 여는 버튼, 바로가기 사이트 등의 넓이가 같음
       그래서 감싸고 있는 family_site에 넓이를 주고 내부요소는 그에 100%를 꽉 차게줌 */
    position: relative; /* family_wrap 정렬의 기준 */
}
footer .f_util .family_site .family_open,
footer .f_util .family_site .family_close {
    display: block;
    width: 100%;
    height: 2.8824em;
    line-height: 2.8824em;
    text-align: left;
    padding-left: 1.1765em;
    background-color: #333;
    color: var(--color-white); 
    position: relative; 
}
footer .f_util .family_site .family_open::after,
footer .f_util .family_site .family_close::after {
    content: "";
    position: absolute;
    right: 0.9412em;
    top: 1.1765em;
    width: 1.0782em;
    height: 0.6347em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 11' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3333 1.62728L9.16667 10.7939L-4.00688e-07 1.62728L1.62708 0.000194478L9.16667 7.53978L16.7062 0.000193819L18.3333 1.62728Z' /%3E%3C/svg%3E%0A");
}
footer .f_util .family_site .family_wrap {
    display: none;
    position: absolute; /* family_site를 기준으로 정렬 */
    left: 0;
    bottom: calc(2.8824em + 2px); /* 하단에 버튼을 포함한 높이 */
    z-index: 10;
    width: 100%;
    background-color: #333;
    color: var(--color-white);
    padding: 0.4706em 0 0.4706em 1.1765em;
}
footer .f_util .family_site .family_wrap ul li {
    margin: 0.5882em 0;
}
footer .f_util .family_site .family_wrap ul li a span {
    position: relative; /* after 정렬의 기준 */
}
footer .f_util .family_site .family_wrap ul li a span::after {
    content: "";
    position: absolute; /* span를 기준으로 정렬 */
    right: -1.4706em;
    top: 50%;
    transform: translateY(-50%);
    width: 0.75em;
    height: 0.75em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 13' fill='white' fill-opacity='0.8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41667 12.75C1.02708 12.75 0.693576 12.6113 0.416146 12.3339C0.138715 12.0564 0 11.7229 0 11.3333V1.41667C0 1.02708 0.138715 0.693577 0.416146 0.416146C0.693576 0.138715 1.02708 0 1.41667 0H6.375V1.41667H1.41667V11.3333H11.3333V6.375H12.75V11.3333C12.75 11.7229 12.6113 12.0564 12.3339 12.3339C12.0564 12.6113 11.7229 12.75 11.3333 12.75H1.41667ZM4.74583 8.99584L3.75417 8.00417L10.3417 1.41667H7.79167V0H12.75V4.95834H11.3333V2.40833L4.74583 8.99584Z' /%3E%3C/svg%3E%0A");
}
footer .f_util .family_site .family_close {
    display: none;
}

/* 열렸을 때  */
footer .f_util .family_site.open .family_open {
    display: none;
}
footer .f_util .family_site.open .family_close {
    display: block;
}
footer .f_util .family_site.open .family_close::after {
    animation: family_btn 0.5s 1 forwards;
}
@keyframes family_btn {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(180deg) }
}

footer .f_util .top {
    background-color: var(--color-point);
    width: 2.8824em;
    height: 2.8824em;
    line-height: 2.8824em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 17.33px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 18' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-4.84588e-06 6.5L6.5 7.75118e-08L13 6.5L11.4292 8.01667L7.58333 4.17083L7.58333 17.3333L5.41666 17.3333L5.41666 4.17083L1.57083 8.01667L-4.84588e-06 6.5Z' /%3E%3C/svg%3E%0A");
}
footer .inner {
    margin: 50px 0 0 0;
}
footer .inner .f_nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 2.6471em;
}
footer .inner .f_nav ul li a {
    display: block;
}
footer .inner .f_nav ul li a span {
    font-weight: 700;
}
footer .inner .f_info {
    margin: 20px 0;
}
@media screen and (max-width:768px){
    footer {
    padding: 50px 0 50px 0;
    }
    footer .wrapper {
        display: block; /* f_logo - inner 좌우 배치 */
    }
    footer .f_logo {
        width: 100px;
        height: 33px;
    }
    footer .f_util {
        position: relative; /* wrapper를 기준으로 정렬 */
        right: auto;
        top: 30px;
        display: flex;
        gap: 0 10px;
    }
    footer .f_util .family_site {
        width: calc(100% - 163px);
        min-width: 180px;
        max-width: 300px;
        /* 관련사이트는 여는 버튼, 바로가기 사이트 등의 넓이가 같음
        그래서 감싸고 있는 family_site에 넓이를 주고 내부요소는 그에 100%를 꽉 차게줌 */
        position: relative; /* family_wrap 정렬의 기준 */
    }
    footer .f_util .top {
        background-size: 15.33px;
    }
    footer .inner {
        margin: 60px 0 0 0;
    }
}