/* 메인페이지 css */
@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    height: 100px;
}
header .wrapper {
    display: flex; /* logo-gnb를 좌우배치 */
    justify-content: space-between;
    align-items: center;
}
header .gnb ul {
    display: flex; /* li를 좌우로 배치 */
}
header .gnb ul li a {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 100px; /* header의 높이와 동일값 */
    display: block;
    padding: 0 33px;
}
.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    /* no-repeat-반복사진x, 좌우-center  위아래-center */
    text-align: center;
    height: 730px;
    color: #fff;
}
.visual h2 {
    font-size: 60px;
    font-weight: 700;
    padding: 244px 0 6px 0;
}

.biz {
    margin: 135px 0 0 0;
    text-align: center;
}
.biz .tit h2 {
    font-size: 24px;
    font-weight: 700;
    color: #15366C;
}
.biz .tit p {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 1px 0 0 0
}
.biz .list {
    margin: 39px 0 0 0;
}
.biz .list ul {
    display: flex;
    justify-content: space-between;

}
.biz .list ul li {  
    width: 297px;
}
.biz .list ul li a {
    display: block; /* a태그에는 block을 꼭 줌 */
}
.biz .list ul li a .txt {
    margin: 0 28px;
}
.biz .list ul li a .txt h3 {
    font-size: 24px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 9px 0 7px 0;
}
.biz .list ul li a .txt .more {
    border: 1px solid #777;
    display: inline-block;
    padding: 14px 45px;
    border-radius: 40px;
    margin: 32px 0 0 0;
}

.brand {
    margin: 214px 0 0 0;
    background: url(../images/brand_bg.jpg)no-repeat center center / cover;
    color: #fff;
    height: 800px;
    text-align: center;
}
.brand strong {
    display: block;
    padding: 249px 0 10px 0;
    font-size: 24px;
    font-weight: 700;
    color: #15366C;
}
.brand h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}
.brand p {
    padding: 45px 0 40px 0;
}
.brand a {
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 40px;
    padding: 14px 45px 13px 45px;
}



footer {
    background-color: #111;
    padding: 70px 0;
    color: #707070;
}
footer .f_nav ul {
    display: flex;
    gap: 0 42px; /* 위아래-좌우 여백 값 */
}
footer .f_info {
    margin: 22px 0 23px 0;
    display: flex;
    gap: 0 25px;
}
footer .f_info strong {
    font-weight: 700;
}