/**********************
* 파일명 : layout.css
* 작성자 : 함지훈
* 작성일 : 25-10-23
* 설  명 : header/footer 스타일을 선언함
**********************/

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: var(--header-h);
    color: #fff;
}
header .hd_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 120px;
    position: relative;
    padding: 0 0 15px 0;
}
header .hd_top::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-white50);
}
header .hd_top .hd_top_left {
    display: flex;
    gap: 0 20px;
}
header .hd_top .hd_top_left a {
    display: block;
}
header .hd_top .logo a {
    display: block;
    width: 302px;
    height: 73px;
    position: relative;
}
header .hd_top .logo a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/common/logo/logo_w.svg);
}
header .hd_top .hd_top_right {
    display: flex;
    gap: 0 20px;
    width: 110px;
}
header .hd_top .hd_top_right .lang {
    position: relative;
    padding-right: 24px;
}
header .hd_top .hd_top_right .lang::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 5' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 5L0 0H10L5 5Z' /%3E%3C/svg%3E%0A");
}

header .hd_top .hd_top_right .top_menu {
    position: relative;
}
header .hd_top .hd_top_right .top_menu::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 22px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 18' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2.5V0H22.5V2.5H0ZM0 17.5V15H22.5V17.5H0ZM0 10V7.5H22.5V10H0Z' /%3E%3C/svg%3E%0A");
}
@media screen and (min-width:1025px){
    header .hd_bottom .gnb .gnb_open,
    header .hd_bottom .gnb .gnb_wrap .gnb_logo,
    header .hd_bottom .gnb .gnb_wrap .gnb_close {
        display: none; /* 모바일때만 보임 */
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li를 좌우로 배치 */
        justify-content: center;
        align-items: center;
    }
    header .hd_bottom .gnb .gnb_wrap {
        margin-top: 25px;
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* ul.depth2 정렬의 기준 */
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 20px;
        font-weight: 700;
        padding: 0 50px;
        text-align: center;
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li:hover > a,
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > a:focus {
        color: #C9A86A;
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li:hover:last-child > a,
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li:last-child > a:focus {
        color: #fff;
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 55px;
        text-align: center;
        min-width: 100%; /* 최소넓이*/
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li {
        white-space: nowrap; /* 줄바꿈 금지 */
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        color: var(--color-white70);
        padding: 10px 0;
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li:hover > a,
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus {
        color: #fff;
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span {
        position: relative; /* before 정렬의 기준 */
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li:hover > a > span::before,
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus > span::before { 
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background-color: #fff;
    }
    /*********** menu_pc가 추가 되었을 때 (메뉴가 나타남)***********/
    header.menu_pc::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 480px;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block !important;
        opacity: 0;
        height: 0;
        overflow: hidden;
        padding-top: 0;
        transition: height 0.3s;
    }
    header.menu_pc .hd_bottom .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        opacity: 1;
        height: 280px;
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > a.reser {
        display: block;
        padding: 7px 20px 7px 48px;
        background-color: #0E3B2F;
        border-radius: 40px;
        position: relative;
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > a.reser:hover {
        background-color: #1b5344;
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > a.reser::before {
        content: "";
        position: absolute;
        left: 12px;
        top: 9px;
        width: 24px;
        height: 24px;
        background-position:  center center;
        background-repeat: no-repeat;
        background-size: 20px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 14V8C0 7.55 0.0916667 7.14167 0.275 6.775C0.458333 6.40833 0.7 6.08333 1 5.8V3C1 2.16667 1.29167 1.45833 1.875 0.875C2.45833 0.291667 3.16667 0 4 0H8C8.38333 0 8.74167 0.0708333 9.075 0.2125C9.40833 0.354167 9.71667 0.55 10 0.8C10.2833 0.55 10.5917 0.354167 10.925 0.2125C11.2583 0.0708333 11.6167 0 12 0H16C16.8333 0 17.5417 0.291667 18.125 0.875C18.7083 1.45833 19 2.16667 19 3V5.8C19.3 6.08333 19.5417 6.40833 19.725 6.775C19.9083 7.14167 20 7.55 20 8V14H18V12H2V14H0ZM11 5H17V3C17 2.71667 16.9042 2.47917 16.7125 2.2875C16.5208 2.09583 16.2833 2 16 2H12C11.7167 2 11.4792 2.09583 11.2875 2.2875C11.0958 2.47917 11 2.71667 11 3V5ZM3 5H9V3C9 2.71667 8.90417 2.47917 8.7125 2.2875C8.52083 2.09583 8.28333 2 8 2H4C3.71667 2 3.47917 2.09583 3.2875 2.2875C3.09583 2.47917 3 2.71667 3 3V5ZM2 10H18V8C18 7.71667 17.9042 7.47917 17.7125 7.2875C17.5208 7.09583 17.2833 7 17 7H3C2.71667 7 2.47917 7.09583 2.2875 7.2875C2.09583 7.47917 2 7.71667 2 8V10Z' /%3E%3C/svg%3E%0A");
    }
} /*@media*/
@media screen and (max-width:1140px){
    header .hd_bottom .gnb .gnb_wrap {
        display: none;
    }
}/*@media*/
@media screen and (max-width:768px){
    header .hd_top {
        justify-content: center;
        align-items: center;
        height: 80px;
        padding: 0 0 0 0;
    }
    header .hd_top::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-white50);
    }
    header .hd_top .hd_top_left,
    header .hd_top .hd_top_right {
        display: none;
    }
    header .hd_top .logo a {
        width: 137px;
        height: 33.15px;
    }
    header .hd_bottom .gnb .gnb_open {
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 20C1.8125 20 1.22396 19.7552 0.734375 19.2656C0.244792 18.776 0 18.1875 0 17.5C0 16.8125 0.244792 16.224 0.734375 15.7344C1.22396 15.2448 1.8125 15 2.5 15C3.1875 15 3.77604 15.2448 4.26562 15.7344C4.75521 16.224 5 16.8125 5 17.5C5 18.1875 4.75521 18.776 4.26562 19.2656C3.77604 19.7552 3.1875 20 2.5 20ZM10 20C9.3125 20 8.72396 19.7552 8.23438 19.2656C7.74479 18.776 7.5 18.1875 7.5 17.5C7.5 16.8125 7.74479 16.224 8.23438 15.7344C8.72396 15.2448 9.3125 15 10 15C10.6875 15 11.276 15.2448 11.7656 15.7344C12.2552 16.224 12.5 16.8125 12.5 17.5C12.5 18.1875 12.2552 18.776 11.7656 19.2656C11.276 19.7552 10.6875 20 10 20ZM17.5 20C16.8125 20 16.224 19.7552 15.7344 19.2656C15.2448 18.776 15 18.1875 15 17.5C15 16.8125 15.2448 16.224 15.7344 15.7344C16.224 15.2448 16.8125 15 17.5 15C18.1875 15 18.776 15.2448 19.2656 15.7344C19.7552 16.224 20 16.8125 20 17.5C20 18.1875 19.7552 18.776 19.2656 19.2656C18.776 19.7552 18.1875 20 17.5 20ZM2.5 12.5C1.8125 12.5 1.22396 12.2552 0.734375 11.7656C0.244792 11.276 0 10.6875 0 10C0 9.3125 0.244792 8.72396 0.734375 8.23438C1.22396 7.74479 1.8125 7.5 2.5 7.5C3.1875 7.5 3.77604 7.74479 4.26562 8.23438C4.75521 8.72396 5 9.3125 5 10C5 10.6875 4.75521 11.276 4.26562 11.7656C3.77604 12.2552 3.1875 12.5 2.5 12.5ZM10 12.5C9.3125 12.5 8.72396 12.2552 8.23438 11.7656C7.74479 11.276 7.5 10.6875 7.5 10C7.5 9.3125 7.74479 8.72396 8.23438 8.23438C8.72396 7.74479 9.3125 7.5 10 7.5C10.6875 7.5 11.276 7.74479 11.7656 8.23438C12.2552 8.72396 12.5 9.3125 12.5 10C12.5 10.6875 12.2552 11.276 11.7656 11.7656C11.276 12.2552 10.6875 12.5 10 12.5ZM17.5 12.5C16.8125 12.5 16.224 12.2552 15.7344 11.7656C15.2448 11.276 15 10.6875 15 10C15 9.3125 15.2448 8.72396 15.7344 8.23438C16.224 7.74479 16.8125 7.5 17.5 7.5C18.1875 7.5 18.776 7.74479 19.2656 8.23438C19.7552 8.72396 20 9.3125 20 10C20 10.6875 19.7552 11.276 19.2656 11.7656C18.776 12.2552 18.1875 12.5 17.5 12.5ZM2.5 5C1.8125 5 1.22396 4.75521 0.734375 4.26562C0.244792 3.77604 0 3.1875 0 2.5C0 1.8125 0.244792 1.22396 0.734375 0.734375C1.22396 0.244792 1.8125 0 2.5 0C3.1875 0 3.77604 0.244792 4.26562 0.734375C4.75521 1.22396 5 1.8125 5 2.5C5 3.1875 4.75521 3.77604 4.26562 4.26562C3.77604 4.75521 3.1875 5 2.5 5ZM10 5C9.3125 5 8.72396 4.75521 8.23438 4.26562C7.74479 3.77604 7.5 3.1875 7.5 2.5C7.5 1.8125 7.74479 1.22396 8.23438 0.734375C8.72396 0.244792 9.3125 0 10 0C10.6875 0 11.276 0.244792 11.7656 0.734375C12.2552 1.22396 12.5 1.8125 12.5 2.5C12.5 3.1875 12.2552 3.77604 11.7656 4.26562C11.276 4.75521 10.6875 5 10 5ZM17.5 5C16.8125 5 16.224 4.75521 15.7344 4.26562C15.2448 3.77604 15 3.1875 15 2.5C15 1.8125 15.2448 1.22396 15.7344 0.734375C16.224 0.244792 16.8125 0 17.5 0C18.1875 0 18.776 0.244792 19.2656 0.734375C19.7552 1.22396 20 1.8125 20 2.5C20 3.1875 19.7552 3.77604 19.2656 4.26562C18.776 4.75521 18.1875 5 17.5 5Z' /%3E%3C/svg%3E%0A");
    }
    /* 모바일 메뉴 클릭 시 */
    header .hd_bottom .gnb .gnb_wrap {
        /* display: none; */
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: #fff;
        color: #111;
        transition: 0.5s;
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 {
        margin: var(--header-h) 0 0 0;
        height: calc(100dvh - var(--header-h)); /* 높이 제한을 줘야 스크롤바가 적용 됨 */
        overflow-y: auto;
        /* 주어진 높이보다 콘텐츠가 짧으면 스크롤바 x 
            콘텐츠가 더 긴 경우에만 스크롤바가 생김 */
        border-top: 1px solid #f7f7f7;
        padding: 20px 0 0 0;
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 20px;
        font-weight: 700;
        padding: 20px 70px 20px var(--wrapper-margin);
        position: relative; /* after 정렬의 기준 */
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: #0E3B2F;
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute; /* a를 기준으로 정렬 */
        right: calc(var(--wrapper-margin) + 3px);
        top: 50%;
        transform: translateY(-50%);
        width: 18.96px;
        height: 10.45px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 11' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.4879 7.72422L16.8379 0.374218C17.0879 0.124218 17.3796 0.00338478 17.7129 0.011718C18.0462 0.0200512 18.3379 0.149218 18.5879 0.399218C18.8379 0.649218 18.9629 0.940885 18.9629 1.27422C18.9629 1.60755 18.8379 1.89922 18.5879 2.14922L10.9129 9.84922C10.7129 10.0492 10.4879 10.1992 10.2379 10.2992C9.9879 10.3992 9.7379 10.4492 9.4879 10.4492C9.2379 10.4492 8.9879 10.3992 8.7379 10.2992C8.4879 10.1992 8.2629 10.0492 8.0629 9.84922L0.362903 2.14922C0.112903 1.89922 -0.0079305 1.60338 0.000402824 1.26172C0.00873614 0.920053 0.137903 0.624219 0.387903 0.374219C0.637903 0.124219 0.92957 -0.0007811 1.2629 -0.000781114C1.59624 -0.000781129 1.8879 0.124219 2.1379 0.374219L9.4879 7.72422Z' /%3E%3C/svg%3E%0A");
        transition: 0.5s;
    }
    header .gnb .gnb_wrap ul.depth1 > li:last-child a::after {
        display: none;
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        transform: translateY(-50%) rotate(180deg);
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 11' fill='%230E3B2F' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.4879 7.72422L16.8379 0.374218C17.0879 0.124218 17.3796 0.00338478 17.7129 0.011718C18.0462 0.0200512 18.3379 0.149218 18.5879 0.399218C18.8379 0.649218 18.9629 0.940885 18.9629 1.27422C18.9629 1.60755 18.8379 1.89922 18.5879 2.14922L10.9129 9.84922C10.7129 10.0492 10.4879 10.1992 10.2379 10.2992C9.9879 10.3992 9.7379 10.4492 9.4879 10.4492C9.2379 10.4492 8.9879 10.3992 8.7379 10.2992C8.4879 10.1992 8.2629 10.0492 8.0629 9.84922L0.362903 2.14922C0.112903 1.89922 -0.0079305 1.60338 0.000402824 1.26172C0.00873614 0.920053 0.137903 0.624219 0.387903 0.374219C0.637903 0.124219 0.92957 -0.0007811 1.2629 -0.000781114C1.59624 -0.000781129 1.8879 0.124219 2.1379 0.374219L9.4879 7.72422Z' /%3E%3C/svg%3E%0A");
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        padding: 14px var(--wrapper-margin) 14px calc(var(--wrapper-margin) + 14px);
        background-color: #f7f7f7;
        display: none;
    }
    header .hd_bottom .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        font-size: 16px;
        color: #767676;
        line-height: 3;
    }
    header .hd_bottom .gnb .gnb_wrap .gnb_logo {
        position: absolute; /* gnb_wrap을 기준으로 정렬 */
        left: var(--wrapper-margin);
        top: 0;
        width: 137px;
        height: var(--header-h);
        background: url(../images/common/logo/logo_b.svg) no-repeat center center / contain;
    }
    header .hd_bottom .gnb .gnb_wrap .gnb_close {
        position: absolute; /* gnb_wrap을 기준으로 정렬 */
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 25px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 17.5L0 15.75L7 8.75L0 1.75L1.75 0L8.75 7L15.75 0L17.5 1.75L10.5 8.75L17.5 15.75L15.75 17.5L8.75 10.5L1.75 17.5Z' /%3E%3C/svg%3E%0A");
    }

    /* 메뉴가 열렸을 때 */
    header.menu_mo .hd_bottom .gnb .gnb_wrap {
        display: block;
        right: 0;
    }
}/*@media*/

    
footer {
    margin: 300px 0 0 0;
}